<div class="row-fluid">
    <div class="span12 module_cont module_teamslider">
        <div class="bg_title"><h4 class="headInModule">MEET OUR POPULAR AUTHORS</h4></div>
        <div class="team_slider">
            <div class="carouselslider carouselslider_team teamslider items4" data-count="4">
                <ul class="item_list">
                    <li>
                        <a href="author-details">
                            <div class="item">
                                <div class="img_block"><img src="../assets/img/pictures/team1.jpg" alt="Tom"></div>
                                <div class="carousel_body_author">
                                    <div class="carousel_title_book">
                                        <h5>Tom Simpson</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="author-details"><div class="item">
                            <div class="img_block"><img src="../assets/img/pictures/team2.jpg" alt="Anna"></div>
                            <div class="carousel_body_author">
                                <div class="carousel_title_book">
                                    <h5>Anna Smith</h5>

                                </div>

                            </div>
                        </div></a>
                    </li>
                    <li>
                        <a href="author-details">
                            <div class="item">
                                <div class="img_block"><img src="../assets/img/pictures/team3.jpg" alt="John"></div>
                                <div class="carousel_body_author">
                                    <div class="carousel_title_book">
                                        <h5>John Doe</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="author-details"><div class="item">
                            <div class="img_block"><img src="../assets/img/pictures/team4.jpg" alt="Anna"></div>
                            <div class="carousel_body_author">
                                <div class="carousel_title_book">
                                    <h5>Bella White</h5>

                                </div>

                            </div>
                        </div></a>
                    </li>
                    <li>
                        <a href="author-details"><div class="item">
                            <div class="img_block"><img src="../assets/img/pictures/team5.jpg" alt="John"></div>
                            <div class="carousel_body_author">
                                <div class="carousel_title_book">
                                    <h5>Chris Redfield</h5>

                                </div>

                            </div>
                        </div></a>
                    </li>
                    <li>
                        <a href=""><div class="item">
                            <div class="img_block"><img src="../assets/img/pictures/team6.jpg" alt="Tom"></div>
                            <div class="carousel_body_author">
                                <div class="carousel_title_book">
                                    <h5>Ada Wong</h5>
                                </div>
                            </div>
                        </div></a>
                    </li>
                    <li>
                        <a href="author-details"><div class="item">
                            <div class="img_block"><img src="../assets/img/pictures/hiring.jpg" alt="Tom"></div>
                            <div class="carousel_body_author">
                                <div class="carousel_title_book">
                                    <h5>Hiring</h5>
                                </div>
                            </div>
                        </div></a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div><!-- .team_slider -->
        <a id="anchor8"></a>
    </div>
</div>