<div class="row-fluid" style="margin-left: -2%;width: 111%" id="relAuthDiv">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 module_cont module_bookslider">
        {{#data}}
        <div class="bg_title"><h4 class="headInModule">BOOKS BY {{author_name}}</h4></div>
        {{/data}}
        <!--<div class="team_slider" style="overflow-y: auto">-->
        <!--<div class="carouselslider teamslider items3" data-count="3">-->
        <!--<ul class="item_list" id="items4">-->
            <!--{{#related}}-->
        <!--<li>-->
        <!--<div class="item item_shadow"><div class="img_block_books"><a href="/book_details/{{id}}"><img src="{{image_url}}" alt=""></a></div><div class="carousel_body_book"><div class="carousel_title_book"><h5 title="{{author}}">{{author}}</h5></div><div class="carousel_desc"><div class="fram_btn"><a href="javascript:void(0)" class="shortcode_button btn_small btn_type1" title="Rent" onclick="placeOrder({{id}});">Rent</a><a href="javascript:void(0)" class="tiptip" title="Wishlist" onclick="wishlistAdd({{id}});"><img class="wishlist_btn" src="../../assets/img/Added_WL_50.png" alt="Smiley face" width="25" height="25" style="margin-top: -49%"></a><div class="clear"></div></div></div></div></div>                        </li>-->
            <!--{{/related}}-->

        <!--</ul>-->
        <!--</div>-->
        <!--<div class="clear"></div>-->
        <!--</div>&lt;!&ndash; .team_slider &ndash;&gt;-->
        <div class="container" >

            <div class="row carousel_l_m">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="myCarousel" class="carousel slide multi-item-carousel">
                        <div class="carousel-inner carouselslider" id="authRelated" >

                        </div>
                        <div id="frame_auth_arr" class="loader_fram">
                            <div id="loader_auth_arr" style="display: block;margin-left: -25%">
                                <img src="../../assets/img/loader.gif" id="loader_image">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a style="right: 35%" class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <a id="anchor8"></a>
    </div>
</div><!-- .row-fluid -->
<script>
    function getCard(data, visibleCardCount,ids,wishlist) {
        var response = '', items = 0;
        var final_response = '';
        for (var i = 0; i < data.length; i++) {
            items++;
            var active = '';
            if (i == 0) {
                active = "active";
            }


            if(ids.indexOf(data[i].id) != -1)
            {
                var text="Rented";
                action="";
            }
            else{
                var action="\'placeOrder("+ data[i].id + ");\'"

                text="Rent";
            }
            if(wishlist.indexOf(data[i].id) != -1)
            {
                var images="../../assets/img/Added_WL_Right.png"
                wish="";
            }
            else{
                images="../../assets/img/Added_WL_50.png";
                var wish="\'wishlistAdd(" + data[i].id + ");\'";
            }


            response += '<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" >' +
                    '<div class="item item_shadow">' +
                    '<div class="img_block_books"><a href="/book_details/' + data[i].id + '/' + data[i].title + '"><img src="' + data[i].image_url + '"  onerror="this.src=\'../../assets/images/Default_Book_Thumbnail.png\'"></a></div>' +
                    '<div class="carousel_body_book">' +
                    '<div class="carousel_title_book"><h5 title="' + data[i].title + '">' + data[i].title + '</h5></div>' +
                    '<div class="carousel_desc">' +
                    '<div class="fram_btn">' +
                    '<a    href="javascript:void(0)" class="shortcode_button btn_small btn_type1" title="Rent" onclick='+action+' id="rent_'+data[i].id+'">'+text+'</a>' +
                    '<a href="javascript:void(0)" class="tiptip" title="Wishlist" onclick='+wish+'><img id="wish_'+data[i].id+'" class="wishlist_btn" src='+images+' alt="Smiley face" height="25" width="25"></a>' +
                    '<a href="javascript:void(0)" class="tiptip" title="Share" data-id="' + data[i].id + '" data-title="' + data[i].title + '" data-toggle="modal" data-target="#shareModal"><img  class="share_btn" src=../../assets/img/Engage.png alt="Smiley face" height="25" width="25"></a>' +

                    // '<a href="/book_details/' + data[i].id + '" id="' + data[i].id + '" class="tiptip" title="Read">Read</a>' +
                    '<div class="clear"></div>' +
                    '</div></div></div></div></div>';

            //if( i > 0 && i % 3 == 0){
            if (items == visibleCardCount) {

                final_response += '<div class="item ' + active + '">' + response + '</div>';
                response = "";
                items = 0;
            }

        }
        if (items < visibleCardCount && items > 0) {
            final_response += '<div class="item ' + active + '">' + response + '</div>';
        }
        return final_response;
    }

    $(document).ready(function () {
        var id="{{id}}";

        $.ajax({
            type: "GET",
            url: "/getAuthorRelatedBooks?id=" + id,
            success: function (data) {
                data=JSON.parse(data);
                console.log(data)
                cardData=data['data'];
                if(cardData === null)
                {
                   $("#relAuthDiv").hide();
                }
                var w = window.outerWidth;
                var h = window.outerHeight;
                if(w<750){
                    var final_response = getCard(cardData, 2,data['ids'],data['wishlist']);
                }else{
                    var final_response = getCard(cardData, 3,data['ids'],data['wishlist']);
                }

                $('#authRelated').append(final_response);
                $("#frame_auth_arr").hide();
                $("#loader_auth_arr").hide();
                $('.item').first().addClass('active');
                $("#myCarousel").carousel();


//                if(data['wishlist'].indexOf(parseInt(id)) != -1)
//                {
//                    $("#wishlistMain").attr("src","../../assets/img/Added_WL_Right.png");
//                }
//                else{
//                    $("#wishlistMain").attr("src","../../assets/img/Added_WL_50.png");
//
//                }

                $(".spinner").hide()
            },
            error: function (err) {
                console.log(err);
                toastr.error('Something went wrong  !');
                $(".spinner").hide();

            }

        });



        $('#home').addClass('current-menu-parent');

    })
    function placeOrder(id) {
        $(".spinner").show();
        $.ajax({
            type: "GET",
            url: "/placeOrder?id=" + id,
            success: function (data) {
                console.log(data);
                if (JSON.parse(data) === "failure" ) {
                    $(".spinner").hide();

                    toastr.error('Please sign in to order the book !');
                    $(window).scrollTop($('#signin').offset().top);

                }
                else {
                    $(".spinner").hide();
                    data=JSON.parse(data);
                    console.log(data['success'])
                    if(data['success'] === "false")
                    {
                        toastr.warning(data['errors'])
                    }else{
                        $("#rent_"+id).text("Rented")

                        toastr.success('Successfully added !');

                    }
                }
            },

        });
    }

    function wishlistAdd(id) {
        $(".spinner").show();

        $.ajax({
            type: "GET",
            url: "/updateWishlist?id="+id,
            success: function (data) {
                console.log(data);
                console.log(JSON.parse(data));
                $(".spinner").hide();
                if (JSON.parse(data) === "failure" ) {
                    toastr.error('Please sign in to update your wish list !');
                    $(window).scrollTop($('#signin').offset().top);

                }
                else {
                    $("#wish_"+id).attr("src","../../assets/img/Added_WL_Right.png")
                    toastr.success('Successfully added into your wish list !');
                }
            },
            error:function(err)
            {
                console.log(err);
                toastr.error("Something went wrong.Please try again !")
            }

        });
    }

</script>