<div class="row-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 module_cont module_bookslider" style="padding-left: 0 !important;">
        <div class="bg_title"><h4 class="headInModule">POPULAR AUTHORS</h4></div>

        <div class="container" >
            <div class="row carousel_l_m_8">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0 !important;">
                    <div id="authorCarousel" class="carousel slide multi-item-carousel">
                        <div class="carousel-inner carouselslider" id="authorCarousel1">
                        </div>

                        <div id="frame_authorCarousel1" class="loader_fram">
                            <div id="loader" style="display: block">
                                <img src="../../assets/img/loader.gif" id="loader_image">
                            </div>
                        </div>

                        <a class="left carousel-control" href="#authorCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#authorCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <a id="anchor8"></a>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#authorCarousel").swiperight(function() {
            $(this).carousel('prev');
        });
        $("#authorCarousel").swipeleft(function() {
            $(this).carousel('next');
        });
    });
</script>
<!--<script src="assets/js/home_page_Api.js"></script>-->