<div class="row-fluid">
    <div class="span12 module_cont module_teamslider">
        <div class="bg_title"><h4 class="headInModule">RELATED BOOKS</h4></div>
        <div class="team_slider">
            <div class="carouselslider teamslider items3" data-count="3">
                <ul class="item_list" id="items4">
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/1.jpg"" alt="Tom"></div>
                            <div class="carousel_body_book">    
                                <div class="carousel_desc">    
                                    <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/2.jpg"" alt="Anna"></div>
                            <div class="carousel_body_book">
                                <div class="carousel_desc">    
                                   <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/3.jpg"" alt="John"></div>
                            <div class="carousel_body_book">
                                <div class="carousel_desc">    
                                    <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/4.jpg"" alt="Anna"></div>
                            <div class="carousel_body_book">    
                                <div class="carousel_desc">    
                                    <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/5.jpg"" alt="John"></div>
                            <div class="carousel_body_book">    
                                <div class="carousel_desc">    
                                    <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>                   
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/6.jpg"" alt="Tom"></div>
                            <div class="carousel_body_book">
                                <div class="carousel_desc">    
                                    <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li>
                        <div class="item item_shadow">
                            <div class="img_block_books_rel"><img src="../assets/img/books/7.jpg"" alt="Tom"></div>
                            <div class="carousel_body_book">
                                <div class="carousel_desc">    
                                    <div class="smallproflinks">
                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                       <a href="twitter" class="read tiptip" title="Read"></a>
                                        <div class="clear"></div>
                                    </div>                  
                                </div>
                            </div>
                        </div>
                    </li>  
                </ul>                        
            </div>                                               
            <div class="clear"></div>
        </div><!-- .team_slider -->
        <a id="anchor8"></a>
    </div>
</div><!-- .row-fluid -->