<div class="module_line_trigger" data-option="" data-background="#fff url(../../assets/img/) no-repeat center" data-top-padding="top_padding_normal" data-bottom-padding="module_normal_padding">
    <a id="blog"></a>
    <div class="row-fluid" id="blog">
        <div class="span12 module_cont module_feature_posts center_title">
            <div class="bg_title" style="margin-left: 4%;">
                <!--<a style="" href="javascript:void(0)" class="btn_carousel_left"></a>-->
                <h4 class="headInModule" >BLOG@JUSTBOOKS</h4><br>
                <!--<a href="javascript:void(0)" class="btn_carousel_right"></a>-->
                <h6 style="margin-left: -2%">Read up. Get inspired. Write in.</h6>
            </div>
            <div class="featured_slider">
                <div class="" data-count="3">
                    <div id="frame_blog" class="loader_fram">
                        <div id="loader_blog" style="display: block">
                            <img src="../../assets/img/loader.gif" id="loader_image">
                        </div>
                    </div>
                    <div class="row" id="blogDiv">


                    </div>
                </div>
                <div class="clear"></div>
            </div><!-- .featured_slider -->
        </div><!-- .module_cont -->
    </div><!-- .row-fluid -->
</div><!-- .module_line_trigger -->