<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="ie ie9">
<!--<![endif]-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Mobile Specific Metas
    +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../../../assets/img/favicon.ico">

    <link rel="apple-touch-icon" sizes="114x114" href="../../../assets/img/apple_icons_114x114.png">

    <title>JustBook</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/theme_settings.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/color_theme.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/rs-settings.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/jquery-ui.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link href="../../../assets/plugins/Star-Rating-Plugin-jQuery-Glyphicons/src/j-rating-advance/j-rating-advance.css"
          type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- price Tabel home page -->

    <link rel="stylesheet" href="../../../assets/css/price_table.css">


    <!--[if IE 8 ]>
    <script>
        var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
        for (var i = 0; i < e.length; i++) {
            document.createElement(e[i]);
        }
    </script><![endif]-->
    <script src="../../../assets/js/jquery-1.9.1.js"></script>
    <script src="../../../assets/js/jquery-ui.js"></script>
    <!-- <script src="js/color_panel.js"></script> -->
    <script type="text/javascript" src="../../../assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/sorting.js"></script>

    <script type="text/javascript" src="../../../assets/js/toastr.js"></script>
    <script type="text/javascript" src="../../../assets/js/typeahead.js"></script>
    <script type="text/javascript" src="../../../assets/js/header.js"></script>


    <!--<script  src="https://i.icomoon.io/public/temp/fe64edd509/UntitledProject/svgxuse.js"></script>-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        //        ga('create', 'UA-93821751-1', 'none');
        ga('create', 'UA-29459013-1', 'auto');
        ga('send', 'pageview', location.pathname);


    </script>


    <script type="text/javascript">


    </script>

</head>
<body>

<header class="">

    <div id="flipkart-navbar">
        <div class="container">
            <div class="row row1">
                {{#flag}}
                    <div class="col-sm-12" style="width: 104%;">
                        <ul class="largenav pull-right menu" id="menuHeader">
                            <li class="upper-links" id="whatsNewMenu"><a class="links" href="/#whatsNew">WHAT'S NEW</a></li>
                            <li class="upper-links" id="membershipPlansMenu"><a class="links" href="/#membershipPlans">MEMBERSHIP PLANS</a></li>
                            <li class="upper-links" id="blogMenu"><a class="links" href="/#blog">BLOG</a></li>
                            <li class="upper-links" id="franchise"><a class="links" href="/franchise">BECOME A FRANCHISEE</a></li>
                            <li class="upper-links" ><a class="links" href="http://culture.place">CULTURE.PLACE</a></li>
                            <li class="upper-links" ><a class="links" href="/store-locator">STORE LOCATIONS</a></li>
                            <li class="upper-links" id="faqMenu"><a class="links" href="/faq">FAQs</a></li>
                            <li class="upper-links" id="contactUsMenu"><a class="links" href="/#contactUs">CONTACT US</a></li>
                            <li class="upper-links"><a class="links" href="" id="welcomeId">Welcome {{name}}</a></li>
                            <li class="upper-links"><a class="links" href="/logout/">Logout</a></li>
                        </ul>

                    </div>
                {{/flag}}
                {{#slider}}
                    <div class="col-sm-12" style="width: 104%;left:-16%">
                        <ul class="largenav pull-right menu" id="menuHeader">
                            <li class="upper-links" id="whatsNewMenu"><a class="links" href="/#whatsNew">WHAT'S NEW</a></li>
                            <li class="upper-links" id="membershipPlansMenu"><a class="links" href="/#membershipPlans">MEMBERSHIP PLANS</a></li>
                            <li class="upper-links" id="blogMenu"><a class="links" href="/#blog">BLOG</a></li>
                            <li class="upper-links" id="franchise"><a class="links" href="/franchise">BECOME A FRANCHISEE</a></li>
                            <li class="upper-links" ><a class="links" href="http://culture.place">CULTURE.PLACE</a></li>
                            <li class="upper-links" ><a class="links" href="/store-locator">STORE LOCATIONS</a></li>
                            <li class="upper-links" id="faqMenu"><a class="links" href="/faq">FAQs</a></li>
                            <li class="upper-links" id="contactUsMenu"><a class="links" href="/#contactUs">CONTACT US</a></li>
                        </ul>

                    </div>
                {{/slider}}

                    <!--{{#flag}}-->
                <!--<div class="col-sm-3" id="userTile" >-->
                <!--<ul class="largenav pull-right menu">-->

                <!--</ul>-->
                <!--</div>-->
                    <!--{{/flag}}-->
            </div>
            <div class="row row2">
                <div class="col-sm-3">
                    <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ Brand</span></h2>
                    <h1 style="margin:0px;">
                    <span class="largenav">
                        <a href="/" class="logo">
                            <img src="../../../assets/img/logo.png" alt=""  class="logo_def" width="190px">
                            <img src="../../../assets/img/retina/logo.png" alt="" class="logo_retina" width="190px">
                        </a>
                    </span>
                    </h1>
                </div>
                <div class="flipkart-navbar-search smallsearch col-sm-7" >
                    <div class="row">
                        <input style="font-family: 'Playfair Display'" class="flipkart-navbar-input col-sm-11" type="" placeholder="DISCOVER!"name="srch-term" id="srch-term" type="text" value="{{query}}">
                        <button class="flipkart-navbar-button col-sm-1" type="submit" onclick="searchClick()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                {{#flag}}
                    <div class="cart largenav col-sm-2" id="shelfButton" >
                        <a class="cart-button" href="/shelf">
                            <i class="fa fa-book" aria-hidden="true"></i> My Shelf
                            <!-- <span class="item-number ">3</span> -->
                        </a>
                    </div>
                {{/flag}}
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <div class="container" style="background-color: #2874f0; padding-top: 10px;">
            <span class="sidenav-heading">Home</span>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        </div>
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
    </div>


</header>
<div id="shareModal" class="modal fade" role="dialog" style="z-index: 10000">
    <div class="modal-dialog" style="top:-60%;width:100%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share</h4>
            </div>
            <div class="modal-body">
                <div id="share">

                    <!-- facebook -->
                    <a class="facebook" id="sharefb" href="" target="blank"><i class="fa fa-facebook"></i></a>

                    <!-- twitter -->
                    <a class="twitter" id="sharetw" href=" " target="blank"><i class="fa fa-twitter"></i></a>

                    <!-- google plus -->
                    <a class="googleplus"  id="sharegp" href="https://plus.google.com/share?url={{url}}" target="blank"><i class="fa fa-google-plus"></i></a>

                    <!-- linkedin -->
                    <!--<a class="instagram" id="shareig" href="" target="blank"><i class="fa fa-instagram"></i></a>-->

                    <!-- pinterest -->
                    <a class="envelope"  id="shareen" href="" target="blank"><i class="fa fa-envelope"></i></a>

                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "70%";
        // document.getElementById("flipkart-navbar").style.width = "50%";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.body.style.backgroundColor = "rgba(0,0,0,0)";
    }
</script>

<script>
    $(document).ready(function() {
        // Add scrollspy to <body>
        $('body').scrollspy({target: ".navbar", offset: 50});

        // Add smooth scrolling on all links inside the navbar
        if (location.pathname == "/" ||location.pathname == "/#whatsNew" ||location.pathname == "/#membershipPlans" ||location.pathname == "/#blog"  ) {

            $("#menuHeader a").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;
                    $("#menuHeader li").removeClass("current-menu-parent");

                    $(hash+"Menu").addClass('current-menu-parent');

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top - 150
                    },800);
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;



//                    });$('html, body').animate({
//                        scrollTop: $(hash).offset().top - 100
//                    },800, function () {
//
//                        // Add hash (#) to URL when done scrolling (default click behavior)
//                        window.location.hash = hash;
//                    });
                }  // End if
            });
        }


        $("#signupLink ").on('click', function (event) {


            if (this.hash !== "") {
                // Prevent default anchor click b
                event.preventDefault();

                // Store hash
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 150
                }, 800);
                window.location.hash = hash;
            }
        });

    });

</script>