<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="ie ie9">
<!--<![endif]-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Mobile Specific Metas
    +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../assets/img/favicon.ico">

    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/apple_icons_114x114.png">

    <title>JustBook</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme_settings.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/color_theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/rs-settings.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link href="../assets/plugins/Star-Rating-Plugin-jQuery-Glyphicons/src/j-rating-advance/j-rating-advance.css"
          type="text/css" rel="stylesheet"/>

    <!-- price Tabel home page -->

    <link rel="stylesheet" href="../assets/css/price_table.css">


    <!--[if IE 8 ]>
    <script>
        var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
        for (var i = 0; i < e.length; i++) {
            document.createElement(e[i]);
        }
    </script><![endif]-->
    <script src="../assets/js/jquery-1.9.1.js"></script>
    <script src="../assets/js/jquery-ui.js"></script>
    <!-- <script src="js/color_panel.js"></script> -->
    <script type="text/javascript" src="./assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="./assets/js/sorting.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        //        ga('create', 'UA-93821751-1', 'none');
        ga('create', 'UA-29459013-1', 'auto');
        ga('send', 'pageview', location.pathname);


    </script>
    <style>

        /*Rating style*/
        a:hover{
            color: #37878d;
        }
        .animated {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
        }

        .stars {
            margin: 20px 0;
            font-size: 24px;
            color: #d17581;
        }

        /*Rating style*/

        .spinner {
            /*width: 40px;*/
            /*height: 40px;*/

            /*position: relative;*/
            margin: 100px auto;
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.55;
        }

        .spinner:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*background-color: rgba(0, 0, 0, 0.3);*/
            background-color: lightgrey;
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #333;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-bounce {
            0%, 100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }

        .hideC {
            display: none;
        }

        #totalPO_length {
            margin-left: 1%;
            padding-top: 1%;
        }

        #totalPO_info {
            margin-left: 1%;
            padding-top: 2%;
        }

        #totalPO_paginate {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-right: 1%;
        }
    </style>

    <script type="text/javascript">


        function logClick(type) {
//            $.ajax({
//                type: "GET",
//                url: "/insertLog?type=" + type + "",
//                success: function (data) {
//                    console.log(data)
//                },
//
//
//            });
        }


        $(document).on('click', 'a', function (e) {
            logClick("Navigation  clicked on " + $(this).attr('href') + "");
            ga('send', 'event', 'Navigation', $(this).attr('href'), 'First Screen');

        });


        var membership;
        var email;
        function searchClick() {

            var term = $("#srch-term").val();
            if (term !== "") {
                window.location.href = "/search?q=" + term + "";

            }

        }
        $(document).ready(function () {
            $('#srch-term').keypress(function(e) {
                var key = e.which;
                if (key == 13) // the enter key code
                {
                    searchClick();
                    return false;
                }
            });



//            $('header nav ul.menu > li > a').click(function(e) {
//                alert("FG")
//                var $this = $(this);
//                $this.parent().siblings().removeClass('current-menu-parent').end().addClass('current-menu-parent');
//                e.preventDefault();
//            })
//

            $.ajax({
                type: "GET",
                url: "/getSessions",
                success: function (data) {
                    data = JSON.parse(data);
                    membership = data.session;
                    localStorage.setItem("membership", membership);
                    localStorage.setItem("email", data.email);
                    console.log(membership);
                },

            });
        });

        $.ajax({
            type: "GET",
            url: "/loginValidate",
            success: function (data) {
                console.log(data)
                if (data != 'failure') {
                    console.log(data);
                    data = JSON.parse(data);
                    console.log(data['name'])
                    $("#firstname").text(" Welcome " + data['name']);
                    $("ul#menuHeader").append("<li id=\"shelfMenu\"><a href=\"/shelf\">Your Shelf</a></li>");
                    $("nav").show()
                    $(".userTile").show();

                    $("#first").hide();
                    $("#main").hide();
                    localStorage.setItem("flag",true)

                    return false;
                }
                else {
                    localStorage.setItem("flag",false)

                    $("nav").show();

                    $(".userTile").hide();

                    $("#first").show();
                    $("#main").show();
                    return false;

                }


            },
            error: function (err) {
                toastr.error('Wrong credentials, Please try again !');
                console.log(err.responseText)
            }

        });


    </script>
</head>
<body>


<header class="">
    <!--  <section class="">
         <div class="container">
             <div class="call_us">Call us toll free:  +1 800 546 35 48</div>
             <div class="slogan">Best HTML5 Theme Ever!</div>
         </div>
         <div class="clear"></div>
     </section> -->

    <div class="userTile" style="float: right; padding-top: -6px;display: none;">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span><span id="firstname"></span> </a></li>
            <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>

    <div class="header_wrapper container">

        {{> header_logo}}

        {{> header_menu}}

        <!-- <div class="call_us">Call us toll free:  +1 800 546 35 48</div>
        <div class="socials">
            <ul class="socials_list">
                <li><a href="#" class="ico_social-flickr"></a></li>
                <li><a href="#" class="ico_social-instagram"></a></li>
                <li><a href="#" class="ico_social-dribbble"></a></li>
                <li><a href="#" class="ico_social-gplus"></a></li>
            </ul>
        </div> --><!-- .social -->

    </div>

    {{> header_search}}


</header>