<nav style="display:none !important;">
	<ul class="menu" >
		<li class="current-menu-parent"><a href="/">WHATS NEW</a></li>
		<li><a href="/#anchor2">Membership Plans</a></li>
		<li><a href="#anchor3">Blog</a></li>
		<li><a href="/faq">FAQs</a></li>
		<li><a href="/franchise">Become a Franchisee</a></li>
		<li><a href="http://culture.place">Culture.Place</a></li>
		<li><a href="/contactUs">CONTACT US</a></li>
	</ul><!-- .menu -->
	<div class="clear"></div>
</nav>