<nav style="display:block !important;">
	<ul class="menu" id="menuHeader">
		<li id="" class=""><a href="/#whatsNew">WHATS NEW</a></li>
		<li id="plansHeader" ><a href="/#anchor2">Membership Plans</a></li>
		<li id="blog " ><a href="#anchor3">Blog</a></li>
		<li id="faq"><a href="/faq">FAQs</a></li>
		<li id="franchise"><a href="/franchise">Become a Franchise</a></li>
		<li id="culture" ><a href="http://culture.place">Culture.Place</a></li>
		<li id="contact"><a href="/#contactUs">CONTACT US</a></li>
	</ul><!-- .menu -->
	<div class="clear"></div>
</nav>