<div class="row">
	<div class="col-lg-4 col-lg-offset-4 search-box">
		<div class="input-group">
			<input class="form-control" placeholder="Discover" name="srch-term" id="srch-term" type="text" value="{{query}}">
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit" onclick="searchClick()"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-4 -->
</div><!-- /.row -->