<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="ie ie9">
<!--<![endif]-->
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Mobile Specific Metas
    +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../assets/img/favicon.ico">

    <link rel="apple-touch-icon" href="../assets/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/apple_icons_114x114.png">

    <title>JustBook</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>



    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/theme_settings.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/color_theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/rs-settings.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
    <link href="../assets/plugins/Star-Rating-Plugin-jQuery-Glyphicons/src/j-rating-advance/j-rating-advance.css" type="text/css" rel="stylesheet" />


    <!--[if IE 8 ]><script>
    var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
    for (var i = 0; i < e.length; i++) {
        document.createElement(e[i]);
    }
</script><![endif]-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!-- <script src="js/color_panel.js"></script> -->
    <script type="text/javascript" src="../assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../assets/js/sorting.js"></script>
</head>

<body>
<header class="">
    <!--  <section class="">
         <div class="container">
             <div class="call_us">Call us toll free:  +1 800 546 35 48</div>
             <div class="slogan">Best HTML5 Theme Ever!</div>
         </div>
         <div class="clear"></div>
     </section> -->
    <div class="header_wrapper container">
        <a href="index.html" class="logo">
            <img src="../assets/img/logo.png" alt=""  class="logo_def" width="190px">
            <img src="../assets/img/retina/logo.png" alt="" class="logo_retina" width="190px">
        </a>
        <nav>
            <ul class="menu">
                <li class="current-menu-parent"><a href="#anchor1">WHATS NEW</a></li>
                <li><a href="#anchor2">Membership Plans</a></li>
                <li><a href="#anchor3">Blog</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Become a Franchisee</a></li>
                <li><a href="">Institutional services</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul><!-- .menu -->
            <div class="clear"></div>
        </nav>

        <!-- <div class="call_us">Call us toll free:  +1 800 546 35 48</div>
        <div class="socials">
            <ul class="socials_list">
                <li><a href="#" class="ico_social-flickr"></a></li>
                <li><a href="#" class="ico_social-instagram"></a></li>
                <li><a href="#" class="ico_social-dribbble"></a></li>
                <li><a href="#" class="ico_social-gplus"></a></li>
            </ul>
        </div> --><!-- .social -->

    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 search-box">
            <div class="input-group">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


</header>