<nav style="display:block !important;">
	<ul class="menu" id="menuHeader">
		<li id="" class=""><a href="/#whatsNew">WHAT'S NEW</a></li>
		<li id="plansHeader" ><a href="/#anchor2">MEMBERSHIP PLANS</a></li>
		<li id="blog " ><a href="/#anchor3">BLOG</a></li>
		<li id="faq"><a href="/faq">FAQs</a></li>
		<li id="franchise"><a href="/franchise">BECOME A FRANCHISEE</a></li>
		<li id="culture" ><a href="http://culture.place">Culture.Place</a></li>
		<li id="contact"><a href="/#contactUs">CONTACT US</a></li>
	</ul><!-- .menu -->
	<div class="clear"></div>
</nav>