
<a href="/" class="logo" style="margin-left: 18%">
	<img src="../../assets/img/logo.png" alt=""  class="logo_def" width="190px">
	<img src="../../assets/img/retina/logo.png" alt="" class="logo_retina" width="190px">
</a>
