<h4>RECOMMENDED FOR YOU</h4>
<div style="height: 200px; overflow-y: scroll;">
    
    <div class="media">
        <a href="#" class="pull-left">        
            <img alt="64x64" class="media-object img-thumbnail" style="width: 64px; height: 100px;" src="../public/assets/img/books/3.jpg">      
        </a>
        <div class="media-body">
            <h6 class="media-heading"><b><a href="#">Raoul Boulard</a></b></h6>
            <p class="small">By <a href="">J K Rowling</a></p>
            <div class="rating" id="re_bk1">
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#re_bk1").jRatingAdvance({
                            size: "18px",
                            buttons_color: "gray",
                            active_color: "#ff7300",
                            text: true,
                            rating: 0
                        });
                    });
                </script>
            </div>
        </div>
    </div>    

    <div class="media">
        <a href="#" class="pull-left">        
            <img alt="64x64" class="media-object img-thumbnail" style="width: 64px; height: 100px;" src="../public/assets/img/books/4.jpg">      
        </a>
        <div class="media-body">
            <h6 class="media-heading"><strong><a href="#">Raoul Boulard</a></strong></h6>
            <p class="small">By <a href="">J K Rowling</a></p>
            <div class="rating" id="re_bk2">
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#re_bk2").jRatingAdvance({
                            size: "18px",
                            buttons_color: "gray",
                            active_color: "#ff7300",
                            text: true,
                            rating: 0
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="media">
        <a href="#" class="pull-left">        
            <img alt="64x64" class="media-object img-thumbnail" style="width: 64px; height: 100px;" src="../public/assets/img/books/4.jpg">      
        </a>
        <div class="media-body">
            <h6 class="media-heading"><strong><a href="#">Raoul Boulard</a></strong></h6>
            <p class="small">By <a href="">J K Rowling</a></p>
            <div class="rating" id="re_bk3">
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#re_bk3").jRatingAdvance({
                            size: "18px",
                            buttons_color: "gray",
                            active_color: "#ff7300",
                            text: true,
                            rating: 0
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="media">
        <a href="#" class="pull-left">        
            <img alt="64x64" class="media-object img-thumbnail" style="width: 64px; height: 100px;" src="../public/assets/img/books/4.jpg">      
        </a>
        <div class="media-body">
            <h6 class="media-heading"><strong><a href="#">Raoul Boulard</a></strong></h6>
            <p class="small">By <a href="">J K Rowling</a></p>
            <div class="rating" id="re_bk4">
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#re_bk4").jRatingAdvance({
                            size: "18px",
                            buttons_color: "gray",
                            active_color: "#ff7300",
                            text: true,
                            rating: 0
                        });
                    });
                </script>
            </div>
        </div>
    </div>      
</div>