<aside class="sidebar">
    <div class="sidepanel widget_nav_menu">
        <ul class="menu">
            <li class="menu-item"><a href="javascript:void(0)" id="currently_reading">Currently Reading</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="ordered_books">Ordered Books</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="pick_up">Pick up Requests</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="wishlist">WishList</a></li>
            <li class="menu-item" onclick="pastReads()"><a href="javascript:void(0)" id="pastreads">Past Reads</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="profile">My Profile</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="subscription">My Subscription</a></li>
        </ul>
    </div>                        

</aside>