<aside class="sidebar">
    <div class="sidepanel widget_nav_menu">
        <ul class="menu">
            <li class="menu-item"><a href="javascript:void(0)" id="profile" style="text-decoration: none;">My Profile</a></li>
            <li class="menu-item "><a href="javascript:void(0)" class ="" id="currently_reading"style="text-decoration: none;">Currently Reading</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="ordered_books" style="text-decoration: none;">Ordered Books</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="pick_up" style="text-decoration: none;">Pick up Requests</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="wishlist" style="text-decoration: none;">WishList</a></li>
            <li class="menu-item" onclick="pastReads()"><a href="javascript:void(0)" id="pastreads" style="text-decoration: none;">Past Reads</a></li>
            <li class="menu-item"><a href="javascript:void(0)" id="subscription" style="text-decoration: none;">My Subscription</a></li>
        </ul>
    </div>                        

</aside>