<div class="module_line_trigger" data-option="" data-background="#323232 url(../public/assets/img/) no-repeat center" data-top-padding="top_padding_normal">

    <div class="row-fluid" id="membershipPlans"><a id="membership"></a>
        <div class="span12 module_cont module_price_table">
            <div class="bg_title bg_title_price" style="text-align: center;">
                <h4 class="headInModule" >MEMBERSHIP PLANS</h4>
            </div>

            <div class="wrapper"  style="margin-top: -3%;">
                
                <div class="pricing-table group" id="plansCard">

                    <div id="frame_membership" class="loader_fram_plan">
                        <div id="loader_plan" style="display: block">
                            <img src="../../assets/img/loader.gif" id="loader_image" style="margin-top: 50px;">
                        </div>
                    </div>
                        
                </div>
                <!-- /PRICING-TABLE -->

            </div>















           <!--  <div class="price_table_wrapper" id="plansCard">


                <div class="clear"></div>
            </div> --><!-- .price_table_wrapper
        </div><!-- .module_cont -->
    </div><!-- .row-fluid -->
</div>
