<link rel="stylesheet" type="text/css" href="../../../slick/slick.css">
<link rel="stylesheet" type="text/css" href="../../../slick/slick-theme.css">
<div class="module_line_trigger" data-option="" data-background="#323232 url(../public/assets/img/) no-repeat center"
     data-top-padding="top_padding_normal">

    <div class="row-fluid" id="membershipPlans"><a id="membership"></a>
        <div class="span12 module_cont module_price_table">
            <div class="bg_title bg_title_price" style="text-align: center;">
                <h4 class="headInModule">MEMBERSHIP PLANS</h4>
            </div>
            <div class="wrapper" style="margin-top: -3%;">

                <div class="pricing-table group variable slider" id="plansCard">

                    <div id="frame_membership" class="loader_fram_plan">

                        <div id="loader_plan" style="display: block">
                            <img src="../../assets/img/loader.gif" id="loader_image" style="margin-top: 50px;">
                        </div>
                    </div>
                    <!--<div>-->
                    <!--<div class="block personal fl"><h4 class="title">PLATINUM</h4> <a-->
                    <!--href="/signup?planname=PLATINUM&amp;books=3&amp;months=3">-->
                    <!--<div class="content_pt"><p class="price"><sup>₹</sup><span> 120</span><sub></sub></p>-->
                    <!--<p class="hint">Per Book Per Month</p></div>-->
                    <!--</a>-->
                    <!--<ul class="features">-->
                    <!--<li style="color: black;">Min. 3 Books at a time</li>-->
                    <!--<li style="color: black;">Min. 3 Month(s) Duration</li>-->
                    <!--<li style="color: black;">Free Door Delivery</li>-->
                    <!--<li style="color: black;">Half Yearly Discount - 10%</li>-->
                    <!--<li style="color: black;">Annual Discount - 15%</li>-->
                    <!--</ul>-->
                    <!--<div class="pt-footer"><a rel="external" data-ajax="false"-->
                    <!--href="/signup?planname=PLATINUM&amp;books=3&amp;months=3"><h4>-->
                    <!--SIGN-UP NOW !</h4></a></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--<div class="block personal fl"><h4 class="title">PLATINUM</h4> <a-->
                    <!--href="/signup?planname=PLATINUM&amp;books=3&amp;months=3">-->
                    <!--<div class="content_pt"><p class="price"><sup>₹</sup><span> 120</span><sub></sub></p>-->
                    <!--<p class="hint">Per Book Per Month</p></div>-->
                    <!--</a>-->
                    <!--<ul class="features">-->
                    <!--<li style="color: black;">Min. 3 Books at a time</li>-->
                    <!--<li style="color: black;">Min. 3 Month(s) Duration</li>-->
                    <!--<li style="color: black;">Free Door Delivery</li>-->
                    <!--<li style="color: black;">Half Yearly Discount - 10%</li>-->
                    <!--<li style="color: black;">Annual Discount - 15%</li>-->
                    <!--</ul>-->
                    <!--<div class="pt-footer"><a rel="external" data-ajax="false"-->
                    <!--href="/signup?planname=PLATINUM&amp;books=3&amp;months=3"><h4>-->
                    <!--SIGN-UP NOW !</h4></a></div>-->
                    <!--</div>-->
                    <!--</div>-->


                </div>
                <!-- /PRICING-TABLE -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 frame_membership_content">
                    <p>* These are online only plans. Kindly visit your neighbourhood Justbooks store for additional
                        plans.</p>
                    <p>* You can also walk into and avail the services of any of our physical stores by signing up to
                        any of these online plans.</p>
                </div>

            </div>

        </div><!-- .row-fluid -->
    </div>
</div>

<script src="../../../slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function () {

    });
</script>