<!--<link rel="stylesheet" type="text/css" href="../../../slick/slick.css">-->
<!--<link rel="stylesheet" type="text/css" href="../../../slick/slick-theme.css">-->


<style>
    #membershipPlans .container .row {
        text-align: center;
    }

    #membershipPlans .container .row h4 {
        margin: 9px 0 15px 0;
    }

    #membershipPlans .container .row hr {
        width: 30%;
        margin-left: 35%;
    }


    #membershipPlans .container .row .p_block {
        border: thin solid #e1e1e1;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        border-radius: 5px;
        padding: 1% !important;
        width: 31% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
        height: 75px;
    }

    #membershipPlans .container .row {
        margin-bottom: 2% !important;
    }

    .p_block_1 {
        margin-top: 2%;
    }

    .p_block_12 {
        margin-top: 4%;
    }

    .p_block_2 {
        margin-top: 2%;
    }

    .vr {
        width: 1px;
        background-color: #b7aeae;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3px;
        height: 60%;
        top: 15%;
    }

    .row_bottom_con {
        margin-bottom: 3%;
        margin-left: 5%;
    }

    .row_1 {
        margin-top: 2%;
    }

    .row_1_gap {
        margin-left: -5%;
    }

    .row_12 {
        margin-top: 7%;
    }

    .row_button {
        margin-left: -10%;
    }

    @media screen and (min-width: 0px) and (max-width: 800px) {

        #membershipPlans p {
            margin: 0 0 0px 10px;
        }

        #membershipPlans .container {
            padding-right: 15px;
            padding-left: 6px;
        }

        #membershipPlans .container .row {
            text-align: center;
        }

        #membershipPlans .container .row h4 {
            margin: 7px 0 7px 0;
        }

        #membershipPlans .container .row hr {
            width: 100%;
            margin-left: 0%;
        }

        #membershipPlans .container .row .p_block {
            border: thin solid #e1e1e1;
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
            border-radius: 5px;
            padding: 1% !important;
            width: 100% !important;
            margin-left: 1% !important;
            margin-right: 1% !important;
            height: 90px;
            margin-top: 5%;
        }

        #membershipPlans .container .row {
            margin-bottom: 2% !important;
        }

        .p_block_1 {
            margin-top: 2%;
        }

        .p_block_12 {
            margin-top: 2%;
        }

        .p_block_2 {
            margin-top: 5%;
        }

        .vr {
            display: none;
        }

        .row_bottom_con {
            margin-bottom: 3%;
            margin-left: 5%;
        }

        .row_1 {
            margin-top: 5%;
        }

        .row_1_gap {
            margin-left: -5%;
            margin-top: 6%;
        }

        .row_12 {

            margin-top: 0;
            width: 45% !important;
        }

        .row_button {
            margin-left: 0;
            width: 45% !important;
            float: right;
            margin-top: -12%;
        }

        .dropdown_row1 {
            width: 49% !important;
        }

        .dropdown_row2 {
            width: 49% !important;
            float: right;
            margin-top: -11.5%;
        }

        #membershipPlans h4 {
            font-size: 12px;
            line-height: 15px;
        }

        #bg_title_shelf h4 {
            color: #fff;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 7px;
        }
    }

</style>
<div class="module_line_trigger" data-option="" data-background="#323232 url(../public/assets/img/) no-repeat center"
     data-top-padding="top_padding_normal">
    <div id="frame_membership" class="loader_fram_plan">

        <div id="loader_plan" style="display: block">
            <img src="../../assets/img/loader.gif" id="loader_image" style="margin-top: 50px;">
        </div>
    </div>

    <div class="row-fluid" style="display: none" id="membershipPlans"><a id="membership"></a>
        <div class="page_title_block">
            <div class="container">
                <div class="bg_title" id="bg_title_shelf">
                    <h4 class="headInModule" style="font-family: 'Playfair Display'!important;">The More You Read, The
                        Less You Pay!</h4>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <h4><b>Rs. 300/- per month for the first book</b></h4>
                <h4><b>Add Rs 60/- per month for every additional book</b></h4>
                <hr>
                <div id="textPlan">Annual Plan : 20% discount &nbsp;&nbsp;| &nbsp;&nbsp; Half Yearly Plan : 10% discount</div>
                <!--<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 p_block">-->
                <!--<div class="col-md-4 col-sm-4 col-lg-4 p_block_1">-->
                <!--<p><b id="quatTag"></b></p>-->
                <!--</div>-->

                <!--<div class="col-md-8 col-sm-8 col-lg-8 ">-->
                <!--<div class="vr">&nbsp;</div>-->
                <!--<p id="quatMsg1"></p>-->
                <!--<p id="quatMsg2"></p>-->
                <!--<p>Rs 25 / every additional delivery</p>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 p_block">-->
                <!--<div class="col-md-4 col-sm-4 col-lg-4 p_block_2">-->
                <!--<p><b id="halfTag"></b></p>-->
                <!--</div>-->

                <!--<div class="col-md-8 col-sm-8 col-lg-8">-->
                <!--<div class="vr">&nbsp;</div>-->
                <!--<p id="HalfMsg1"></p >-->
                <!--<p id="HalfMsg2"></p>-->
                <!--&lt;!&ndash;<p>Rs 25 / every additional delivery</p>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 p_block">-->
                <!--<div class="col-md-4 col-sm-4 col-lg-4 p_block_2">-->
                <!--<p><b id="annTag"></b></p>-->
                <!--</div>-->

                <!--<div class="col-md-8 col-sm-8 col-lg-8">-->
                <!--<div class="vr">&nbsp;</div>-->
                <!--<p id="annMsg1"></p>-->
                <!--<p id="annMsg2"></p>-->
                <!--&lt;!&ndash;<p>Rs 25 / every additional delivery</p>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->

            </div>
            <div class="row row_bottom_con">
                <div class="col-md-4 col-sm-4 col-lg-4 row_1 ">
                    <h4 id="totalReading">Total Reading Fee</h4>
                </div>

                <div class="col-md-4 col-sm-4 col-lg-4 row_1 row_1_gap dropdown_row">
                    <div class="vr" style="left: 0%;">&nbsp;</div>
                    <div class="col-md-6 col-sm-6 col-lg-6 dropdown_row1">

                        <select class="form-control" style="background: #D9534F;color: #fff;" id="bookSel"
                                onchange="bookSelChange()">

                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 dropdown_row2">
                        <select class="form-control" style="background: #D9534F;color: #fff;" id="monthTag"
                                onchange="monthSelChange()">

                        </select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-lg-4 row_1_gap">
                    <div class="col-md-6 col-sm-6 col-lg-6 row_12">
                        <button type="button" class="btn btn-default" style="background: #424242; color: #fff;"
                                id="amountBtn">Rs 3456 /-*
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 row_button">
                        <button type="button" class="btn btn-danger btn-circle btn-xl allblur" onclick="navBut()">
                            <b>GO!</b></button>
                    </div>
                </div>
            </div>
            <p style="text-align: center;margin-bottom: 3%;margin-left: -2%;"><b>* Excludes One Time Registration Fee
                And Security Deposit of Rs 598/-</b></p>
        </div>
    </div>
</div>

<script src="../../../slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function () {
        var w = window.outerWidth;

        if (w < 750) {
            $("#textPlan").css('font-size','11px');
        } else {
            $("#textPlan").css('font-size','13px');
        }
    });


    function navBut() {
        var months = $("#monthTag").val();
        var books = $("#bookSel").val();
        window.location.href = "/signup?planname=NEWPLAN&months=" + months + "&books=" + books;
    }
</script>