
<div class="row-fluid" id="whatsNew">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 module_cont module_bookslider" style="padding-left: 0 !important;">
        <div class="bg_title"><h4 class="headInModule" >NEW ARRIVALS</h4></div>

        <div class="container" >

            <div class="row carousel_l_m">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="padding-left: 0 !important;">
                    <div id="myCarouselnew" class="carousel slide multi-item-carousel">
                        <div class="carousel-inner carouselslider" id="newArrivals">

                        </div>
                        <div id="frame_new_arr" class="loader_fram" style="margin-left: 43%">
                            <div id="loader_new_arr" style="display: block">
                                <img src="../../assets/img/loader.gif" id="loader_image">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarouselnew" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#myCarouselnew" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#myCarouselnew").swiperight(function() {
            $(this).carousel('prev');
        });
        $("#myCarouselnew").swipeleft(function() {
            $(this).carousel('next');
        });
    });
    function placeOrder(id) {
        logClick("Action","Rent",id);

        $(".spinner").show();
        $.ajax({
            type: "GET",
            url: "/placeOrder?id=" + id,
            success: function (data) {
                console.log(data);
                if (JSON.parse(data) === "failure" ) {
                    $(".spinner").hide();

                    toastr.error('Please sign in to order the book !');
                    $(window).scrollTop($('#signin').offset().top);

                }
                else {
                    $(".spinner").hide();
                    data=JSON.parse(data);
                    console.log(data['success'])
                    if(data['success'] === "false")
                    {
                        toastr.warning(data['errors']).css('width','500px')
                    }else{
                        $("#rent_"+id).text("Rented")

                        toastr.success('Successfully added !');

                    }
                }
            },

        });
    }
</script>
