<div class="row-fluid">
    <div class="span12 module_cont module_bookslider">
        <div class="bg_title"><a id="whatsNew"></a><h4 class="headInModule">NEW ARRIVALS</h4></div>

        <div class="container" >

            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide multi-item-carousel">
                        <div class="carousel-inner carouselslider" id="newArrivals"  style="padding: 0px 0px 20px 0px; margin-left: 60px; margin-right: 60px;">

                        </div>
                        <div id="frame_new_arr" class="loader_fram">
                            <div id="loader" style="display: block">
                                <img src="../assets/img/loader.gif" id="loader_image">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <a id="anchor8"></a>
    </div>
</div>
<!--<script>-->
    <!--$('.multi-item-carousel').carousel({-->
        <!--interval: false-->
    <!--});-->
<!--</script>-->
<!--<script src="assets/js/home_page_Api.js"></script>-->