<div class="pre_footer">
    <div class="container">
        <a id="contactUs"></a>
        <aside id="footer_bar" class="row">
            <div class="col-xs-11 col-sm-6 col-md-6 col-lg-6">
                <div class="sidepanel widget_flickr">
                    <div class="flickr_widget_wrapper">
                        <h3>Reach Out All 7 days: 9:30 AM to 6:00 PM</h3>
                        <h2><a href="tel:1-800-102-2665">Toll Free : 1-800-102-2665</a></h2>
                        <h2><a href="mailto:customercare@justbooksclc.com">customercare@justbooksclc.com</a></h2>
                    </div>
                    <div class="flickr_widget_wrapper">
                        <ul class="social-network social-circle text-center">

                            <li><a href="https://www.facebook.com/JustBooksCLC/" rel="external" data-ajax="false" class="icoFacebook" title="Facebook"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/justbooksclc" rel="external" data-ajax="false" class="icoTwitter" title="Twitter"><i
                                    class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/justbooksclc/" rel="external" data-ajax="false" class="icoInstagram" title="Instagram +"><i
                                    class="fa fa-instagram"></i></a></li>

                        </ul>
                    </div>
                    <a style="margin-left: 32%" rel="external" data-ajax="false" target="_blank"
                       href='https://play.google.com/store/apps/details?id=com.justbooks.in&utm_source=website&utm_campaign=website&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                            style="width: 35%" alt='Get it on Google Play'
                            src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>

                </div><!-- .sidepanel -->
            </div>
            <div class="col-xs-11 col-sm-6 col-md-6 col-lg-6">
                <div class="" data-background="#1D2123 url(img/) no-repeat center">

                    <h1 class="page-header_map">Corporate Office Address</h1>
                    <p style="text-align: center; color:#fff;">Find a store near you <a href="/store-locator">click
                        here</a></p>
                    <div class="module_google_map">
                        <!--<div class="bg_title"><h4 class="headInModule">Find Us!</h4></div>-->
                        <iframe width="600" height="300" src="{{address}}"></iframe>
                    </div>
                </div><!-- .module_line_trigger -->
            </div><!-- .row-fluid -->
        </aside>
    </div>
</div><!-- .pre_footer -->