<div class="pre_footer" >
    <div class="container">
        <a id="contactUs"></a>
        <aside id="footer_bar" class="row">
            <div class="col-md-6">
                <div class="sidepanel widget_flickr">
                    <div class="flickr_widget_wrapper" style="padding-top: 18%;">
                        <h3 style="font-size:18px;">Reach Out All 7 days: 9:30 AM to 6:00 PM</h3>
                        <h2>Toll Free : 1-800-102-2665</h2>
                        <h2><a href="mailto:customercare@justbooksclc.com">customercare@justbooksclc.com</a></h2>
                    </div>
                    <div class="flickr_widget_wrapper">
                        <ul class="social-network social-circle text-center">

                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoInstagram" title="Instagram +"><i class="fa fa-instagram"></i></a></li>

                        </ul>
                    </div>

                </div><!-- .sidepanel -->
            </div>
            <div class="col-md-6">
                <div class="" data-background="#1D2123 url(img/) no-repeat center">

                    <h3 class="page-header_map" style="margin-bottom: 0px;">Store Locations</h3>
                    <div class="module_google_map">
                        <!--<div class="bg_title"><h4 class="headInModule">Find Us!</h4></div>-->
                        <iframe width="600" height="320" src="{{address}}"></iframe>
                    </div>
                </div><!-- .module_line_trigger -->
            </div><!-- .row-fluid -->
        </aside>
    </div>
</div><!-- .pre_footer -->