<div class="module_line_trigger" data-option="" data-top-padding="top_padding_normal" data-bottom-padding="module_normal_padding">

    <div class="row-fluid" id="">
        <div class="module_cont module_feature_posts" id="promo_section_mobile">
            <img src="assets/images/mobile_site_image.png" alt="">
        </div><!-- .module_cont -->
        <div class="span12 module_cont module_feature_posts" id="promo_section_desktop">
            <img src="assets/images/desktop_image.png" alt="">
        </div><!-- .module_cont -->
    </div><!-- .row-fluid -->
</div><!-- .module_line_tr3igger -->