<div class="row-fluid" id="relAuth">
    <div class="span12 module_cont module_bookslider" style="padding-left: 0 !important;">
        <div class="bg_title"><h4 class="headInModule">OTHER AUTHORS</h4></div>

        <div class="container" >
            <div class="row carousel_l_m_8">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0 !important;">
                    <div id="authorCarousel" class="carousel slide multi-item-carousel">
                        <div class="carousel-inner carouselslider" id="authorCarousel1"  >
                        </div>

                        <div id="frame_authorCarousel1" class="loader_fram" style="margin-left: 44%">
                            <div id="rel_loader" style="display: block">
                                <img src="../../assets/img/loader.gif" id="loader_image">
                            </div>
                        </div>

                        <a class="left carousel-control" href="#authorCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#authorCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <a id="anchor8"></a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#authorCarousel").swiperight(function() {
            $(this).carousel('prev');
        });
        $("#authorCarousel").swipeleft(function() {
            $(this).carousel('next');
        });
    });
    var id="{{id}}";

    $.ajax({
        type: "GET",
        url: "/getRelatedAuthors?id=" + id,
        success: function (data) {
            data=JSON.parse(data);
            cardData=data['related'];
            if(cardData === "No Authors")
            {
                $("#relAuth").hide();
                return false;
            }
            var w = window.outerWidth;
            var h = window.outerHeight;
            if(w<750){
                var relatedResponse = getCardAuthor(cardData, 2);
            }else{
                var relatedResponse = getCardAuthor(cardData, 5);
            }
            $('#authorCarousel1').append(relatedResponse);
            $('.item_author').first().addClass('active');
            $("#authorCarousel").carousel();
            $("#frame_authorCarousel1").hide();
            $("#rel_loader").hide();

//                if(data['wishlist'].indexOf(parseInt(id)) != -1)
//                {
//                    $("#wishlistMain").attr("src","../../assets/img/Added_WL_Right.png");
//                }
//                else{
//                    $("#wishlistMain").attr("src","../../assets/img/Added_WL_50.png");
//
//                }

            $(".spinner").hide()
        },
        error: function (err) {
            console.log(err);
            toastr.error('Something went wrong  !');
            $(".spinner").hide();

        }

    });


    function getCardAuthor(data, visibleCardCount) {
        var response = '', items = 0;

        var final_response = '';
        for (var i = 0; i < data.length; i++) {
            items++;
            var active = '';
            if (i == 0) {
                active = "active";
            }
            response += '<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" >' +
                    '<div class="item item_shadow">' +
                    '<div class="img_block_books"><a rel="external" data-ajax="false"  href="/author_details/' + data[i]['_source'].author_id + '/' + data[i]['_source'].author_name + '"><img src="'+data[i]['_source'].image_url+'"  onerror="this.src=\'../../assets/img/user.png\'"></a></div>' +
                    '<div class="carousel_body_author">' +
                    '<div class="carousel_title_author"><h5 title="' + data[i]['_source'].author_name + '">' + data[i]['_source'].author_name + '</h5></div>' +
                    '<div class="carousel_desc">' +
                    '<div class="text-center">' +
                    // '<a href="/author_details/' + data[i].ID + '" id="' + data[i].ID + '" class="shortcode_button btn_small btn_type1" title="Read">Read</a>' +
                    '<div class="clear"></div>' +
                    '</div>'+
                    '</div></div></div></div>';

            //if( i > 0 && i % 3 == 0){
            if (items == visibleCardCount) {

                final_response += '<div class="item item_author ' + active + '">' + response + '</div>';
                response = "";
                items = 0;
            }

        }
        if (items < visibleCardCount && items > 0) {
            final_response += '<div class="item item_author ' + active + '">' + response + '</div>';
        }
        return final_response;
    }

</script>