<div class="module_line_trigger" data-option="" data-background="#fff url(img/) no-repeat center" data-top-padding="top_padding_normal" data-bottom-padding="module_normal_padding">
    <div class="row-fluid">
        <div class="span12 module_cont module_bookslider">
            <div class="bg_title"><h4 class="headInModule" style="color: #464D52;">RELATED BOOKS</h4></div>
            <div class="team_slider">
                <div class="carouselslider teamslider items5" data-count="5">
                    <ul class="item_list" id="items5">
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/1.jpg" alt="Tom"></div>
                                <div class="carousel_body_book">                                                                
                                    <div class="carousel_title_book">
                                        <h5>{{title}}</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                        <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>  
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/2.jpg" alt="Anna"></div>
                                <div class="carousel_body_book">
                                    <div class="carousel_title_book">
                                        <h5>Anna Smith</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                        <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>  
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/3.jpg" alt="John"></div>
                                <div class="carousel_body_book">
                                    <div class="carousel_title_book">
                                        <h5>John Doe</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                        <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>  
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/4.jpg" alt="Anna"></div>
                                <div class="carousel_body_book">                                                                
                                    <div class="carousel_title_book">
                                        <h5>Bella White</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                        <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/5.jpg" alt="John"></div>
                                <div class="carousel_body_book">                                                                
                                    <div class="carousel_title_book">
                                        <h5>Chris Redfield</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                       <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>                     
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/6.jpg" alt="Tom"></div>
                                <div class="carousel_body_book">
                                    <div class="carousel_title_book">
                                        <h5>Ada Wong</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                        <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>               
                                    </div>
                                </div>
                            </div>
                        </li>  
                        <li>
                            <div class="item item_shadow">
                                <div class="img_block_books"><img src="../../assets/img/books/7.jpg" alt="Tom"></div>
                                <div class="carousel_body_book">
                                    <div class="carousel_title_book">
                                        <h5>Hiring</h5>
                                    </div>
                                    <div class="carousel_desc">    
                                        <div class="smallproflinks">
                                            <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                            <a href="twitter" class="rent tiptip" title="Rent"></a>
                                           <a href="twitter" class="read tiptip" title="Read"></a>
                                            <div class="clear"></div>
                                        </div>                  
                                    </div>
                                </div>
                            </div>
                        </li>  
                    </ul>                        
                </div>                                               
                <div class="clear"></div>
            </div><!-- .team_slider -->
            <a id="anchor8"></a>
        </div>
    </div><!-- .row-fluid -->

</div><!-- .module_line_trigger -->