<div class="rs-fullscreen">
    <div class="fullwidthbanner-container" >
        <div class="fullwidthbanner" >
            <ul>
                <!-- THE FIRST SLIDE -->
                <li data-masterspeed="400" data-slotamount="7" data-transition="fade">
                    <img src="../assets/img/slider/slider.jpg" alt="" style="width: 1745.45px; height: 350px; position: relative; left: -227px; top: 0px; opacity: 1;">
                    <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                    <!-- <div class="caption lft ltl start"
                         data-x="372"
                         data-y="232"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="800"
                         data-speed="1000"><img src="img/slider/ls1_img1.png" alt="Image 1"></div>

                    <div class="caption lfb ltr start"
                         data-x="90"
                         data-y="280"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1300"
                         data-speed="1000"><img src="img/slider/ls1_img2.png" alt="Image 2"></div> -->

                </li>

                <!-- THE SECOND SLIDE -->
                <li data-masterspeed="400" data-slotamount="7" data-transition="slideleft">
                    <img src="../assets/img/slider/slider2.jpg" alt="">

                    <!-- <div class="caption lfl ltr start"
                         data-x="30"
                         data-y="170"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="500"
                         data-speed="1000"><img src="img/slider/ls2_img4.png" alt="Image 4"></div>

                    <div class="caption lfr ltr start"
                         data-x="910"
                         data-y="170"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="500"
                         data-speed="1000"><img src="img/slider/ls2_img5.png" alt="Image 5"></div>


                    <div class="caption lfl ltl start"
                         data-x="167"
                         data-y="125"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1000"
                         data-speed="1000"><img src="img/slider/ls2_img2.png" alt="Image 2"></div>

                    <div class="caption lfr ltr start"
                         data-x="705"
                         data-y="125"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1000"
                         data-speed="1000"><img src="img/slider/ls2_img3.png" alt="Image 3"></div>

                    <div class="caption lft ltl start"
                         data-x="397"
                         data-y="70"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1500"
                         data-speed="1000"><img src="img/slider/ls2_img1.png" alt="Image 1"></div>


                    <div class="caption lfb ltl start"
                         data-x="275"
                         data-y="452"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1900"
                         data-speed="1000"><img src="img/slider/ls2_img6.png" alt="Image 6"></div>                                                            -->

                </li>
                <!-- THE THIRD SLIDE -->
                <!-- <li data-masterspeed="400" data-slotamount="7" data-transition="slideleft">
                    <img src="img/slider/slide3f.jpg" alt="">
                    <div class="caption lfl ltl start"
                         data-x="390"
                         data-y="79"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="500"
                         data-speed="1000"><img src="img/slider/ls3_img1.png" alt="Image 1"></div>

                    <div class="caption lfl ltl start"
                         data-x="102"
                         data-y="225"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="800"
                         data-speed="1000"><img src="img/slider/ls3_img2.png" alt="Image 2"></div>

                    <div class="caption lfr ltr start"
                         data-x="780"
                         data-y="285"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1300"
                         data-speed="1000"><img src="img/slider/ls3_img3.png" alt="Image 3"></div>

                    <div class="caption lfr ltr start"
                         data-x="985"
                         data-y="238"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="1700"
                         data-speed="1000"><img src="img/slider/ls3_img4.png" alt="Image 4"></div>

                    <div class="caption lfr ltr start"
                         data-x="1147"
                         data-y="338"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="2200"
                         data-speed="1000"><img src="img/slider/ls3_img5.png" alt="Image 5"></div>

                    <div class="caption lfl ltl start"
                         data-x="6"
                         data-y="240"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="2600"
                         data-speed="1000"><img src="img/slider/ls3_img6.png" alt="Image 6"></div>

                    <div class="caption lft ltt start"
                         data-x="150"
                         data-y="465"
                         data-endeasing="easeInOutBack"
                         data-endspeed="1000"
                         data-end="6500"
                         data-easing="easeInOutBack"
                         data-start="2600"
                         data-speed="1000"><img src="img/slider/ls3_img7.png" alt="Image 7"></div>

                </li> -->

                <!-- THE 4th SLIDE -->
                <!-- <li data-masterspeed="400" data-slotamount="7" data-transition="slideleft">
                    <img src="img/slider/slide4f.jpg" alt="">
                    <div class="caption lfr"
                         data-x="230"
                         data-y="40"
                         data-easing="easeInOutBack"
                         data-start="500"
                         data-speed="1000"><img src="img/slider/ls4_img1.png" alt="Image 1"></div>

                    <div class="caption lfr"
                        data-autoplay="false"
                        data-x="322"
                        data-y="65"
                        data-easing="easeInOutBack"
                        data-start="500"
                        data-speed="1000"><iframe width="581" height="354" src="http://www.youtube.com/embed/dY_W-BlSvd0?controls=1&showinfo=0&modestbranding=1&wmode=opaque"></iframe></div>

                    <div class="caption lfr"
                         data-x="687"
                         data-y="41"
                         data-easing="easeInOutBack"
                         data-start="500"
                         data-speed="1000"><img src="img/slider/ls4_img3.png" alt="Image 1"></div>

                    <div class="caption lfb start"
                         data-x="290"
                         data-y="490"
                         data-easing="easeInOutBack"
                         data-start="1250"
                         data-speed="1000"><img src="img/slider/ls4_img2.png" alt="Image 2"></div>

                </li>                  -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>