<div class="row-fluid">
    <div class="spinner" style='display: none'>
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
	<div class="span12 module_cont module_revolution_slider first-module">
		<script type="text/javascript" src="../assets/js/jquery.themepunch.plugins.min.js"></script>
		
		<script type="text/javascript" src="../assets/js/jquery.themepunch.revolution.min.js"></script>
		
		<div class="rs-fullscreen">
			<div class="fullwidthbanner-container" >
				<div class="fullwidthbanner" >
					<ul>
						<!-- THE FIRST SLIDE -->
						<li data-masterspeed="400" data-slotamount="7" data-transition="fade">
							<img src="/{{image}}" alt="">
                            <div class="caption lfr" data-autoplay="false" data-x="150" data-y="10">
                                <div id="main" class="login_form">
                                    <!-- Create div first for Login Form-->
                                    <div id="first" class="login_form_fram_one" >
                                        <form action="" method="post">
                                            <h2>SIGN-IN</h2>
                                            <hr style="color:#000; font-size:2px; height:10px; padding-top:5px;">
                                            <div class="form-group">
                                                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="">
                                                <div class="form-group col-md-4" style="margin-bottom:0px;">
                                                    <input type="button" class="shortcode_button btn_small btn_type1" id="login" value="Sign In" onclick="signupClick()" />

                                                </div>
                                                <div class="form-group col-md-8" style="margin-bottom:0px;">
                                                    <p id="two"><a href="#" id="signup" class="signup">Forgot Password?</a></p>
                                                </div>
                                            </div><br><br>
                                            <p id="one">Not a member yet? <a href="#anchor2" id="signup" class="signup">Sign up here</a></p>
                                        </form>
                                    </div>

                                    <!-- Create div second for Signup Form-->
                                    <div id="second" class="login_form_fram_second">
                                        <form action="" method="post" id="form">
                                            <h2>FORGOT PASSWORD</h2>
                                            <hr style="color:#000; font-size:2px; height:10px; padding-top:5px;">
                                            <div class="form-group">
                                                <input type="text" name="email" id="registeremail" tabindex="1" class="form-control" placeholder="Email" value="">
                                            </div>
                                            <div class="">
                                                <div class="form-group col-md-4" style="margin-bottom:0px;">
                                                    <input type="button" class="shortcode_button btn_small btn_type1" id="forgetpassword" value="Sign In" />
                                                </div>
                                                <div class="form-group col-md-8" style="margin-bottom:0px;">
                                                    <p id="two"><a href="#" id="signin" class="signin"> Sign-in?</a></p>
                                                </div>
                                            </div><br><br>
                                            <p id="one">Not a member yet? <a href="#anchor2" id="signup" class="signup">Sign up here</a></p>

                                        </form>
                                    </div>

                                </div>
                            </div>
							<!-- THE CAPTIONS OF THE FIRST SLIDE -->
							<!-- <div class="caption lft ltl start"
								 data-x="372"
								 data-y="232"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="800"
								 data-speed="1000"><img src="img/slider/ls1_img1.png" alt="Image 1"></div>

							<div class="caption lfb ltr start"
								 data-x="90"
								 data-y="280"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1300"
								 data-speed="1000"><img src="img/slider/ls1_img2.png" alt="Image 2"></div> -->

						</li>

						<!-- THE SECOND SLIDE -->
						<li data-masterspeed="400" data-slotamount="7" data-transition="slideleft">
							<img src="/{{image}}" alt="">
                            <div id="frame_sign_in" class="loader_fram">
                                <div id="loader" style="display: block">
                                    <img src="../assets/img/loader.gif" id="loader_image">
                                </div>
                            </div>
                            <div class="caption lfr" data-autoplay="false" data-x="150" data-y="10">
                                <div id="main" class="login_form">
                                    <!-- Create div first for Login Form-->
                                    <div id="first" class="login_form_fram_one">
                                        <form action="" method="post">
                                            <h2>SIGN-IN</h2>
                                            <hr style="color:#000; font-size:2px; height:10px; padding-top:5px;">
                                            <div class="form-group">
                                                <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="">
                                                <div class="form-group col-md-4" style="margin-bottom:0px;">
                                                    <input type="button" class="shortcode_button btn_small btn_type1" onclick="signupClick()"  id="login" value="Sign In" />

                                                </div>
                                                <div class="form-group col-md-8" style="margin-bottom:0px;">
                                                    <p id="two"><a href="#" id="signup" class="signup">Forgot Password?</a></p>
                                                </div>
                                            </div><br><br>
                                            <p id="one">Not a member yet? <a href="#anchor2" id="signup" class="signup">Sign up here</a></p>
                                        </form>
                                    </div>

                                    <!-- Create div second for Signup Form-->
                                    <div id="second" class="login_form_fram_second">
                                        <form action="" method="post" id="form">
                                            <h2>FORGOT PASSWORD</h2>
                                            <hr style="color:#000; font-size:2px; height:10px; padding-top:5px;">
                                            <div class="form-group">
                                                <input type="text" name="email" id="registeremail" tabindex="1" class="form-control" placeholder="Email" value="">
                                            </div>
                                            <div class="">
                                                <div class="form-group col-md-4" style="margin-bottom:0px;">
                                                    <input type="button" class="shortcode_button btn_small btn_type1" id="forgetpassword" value="Sign In" />
                                                </div>
                                                <div class="form-group col-md-8" style="margin-bottom:0px;">
                                                    <p id="two"><a href="#" id="signin" class="signin"> Sign-in?</a></p>
                                                </div>
                                            </div><br><br>
                                            <p id="one">Not a member yet? <a href="#anchor2" id="signup" class="signup">Sign up here</a></p>

                                        </form>
                                    </div>

                                </div>
                            </div>

							<!-- <div class="caption lfl ltr start"
								 data-x="30"
								 data-y="170"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="500"
								 data-speed="1000"><img src="img/slider/ls2_img4.png" alt="Image 4"></div>

							<div class="caption lfr ltr start"
								 data-x="910"
								 data-y="170"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="500"
								 data-speed="1000"><img src="img/slider/ls2_img5.png" alt="Image 5"></div>


							<div class="caption lfl ltl start"
								 data-x="167"
								 data-y="125"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1000"
								 data-speed="1000"><img src="img/slider/ls2_img2.png" alt="Image 2"></div>

							<div class="caption lfr ltr start"
								 data-x="705"
								 data-y="125"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1000"
								 data-speed="1000"><img src="img/slider/ls2_img3.png" alt="Image 3"></div>

							<div class="caption lft ltl start"
								 data-x="397"
								 data-y="70"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1500"
								 data-speed="1000"><img src="img/slider/ls2_img1.png" alt="Image 1"></div>


							<div class="caption lfb ltl start"
								 data-x="275"
								 data-y="452"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1900"
								 data-speed="1000"><img src="img/slider/ls2_img6.png" alt="Image 6"></div>                                                            -->

						</li>
						<!-- THE THIRD SLIDE -->
						<!-- <li data-masterspeed="400" data-slotamount="7" data-transition="slideleft">
							<img src="img/slider/slide3f.jpg" alt="">
							<div class="caption lfl ltl start"
								 data-x="390"
								 data-y="79"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="500"
								 data-speed="1000"><img src="img/slider/ls3_img1.png" alt="Image 1"></div>

							<div class="caption lfl ltl start"
								 data-x="102"
								 data-y="225"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="800"
								 data-speed="1000"><img src="img/slider/ls3_img2.png" alt="Image 2"></div>

							<div class="caption lfr ltr start"
								 data-x="780"
								 data-y="285"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1300"
								 data-speed="1000"><img src="img/slider/ls3_img3.png" alt="Image 3"></div>

							<div class="caption lfr ltr start"
								 data-x="985"
								 data-y="238"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="1700"
								 data-speed="1000"><img src="img/slider/ls3_img4.png" alt="Image 4"></div>

							<div class="caption lfr ltr start"
								 data-x="1147"
								 data-y="338"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="2200"
								 data-speed="1000"><img src="img/slider/ls3_img5.png" alt="Image 5"></div>

							<div class="caption lfl ltl start"
								 data-x="6"
								 data-y="240"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="2600"
								 data-speed="1000"><img src="img/slider/ls3_img6.png" alt="Image 6"></div>

							<div class="caption lft ltt start"
								 data-x="150"
								 data-y="465"
								 data-endeasing="easeInOutBack"
								 data-endspeed="1000"
								 data-end="6500"
								 data-easing="easeInOutBack"
								 data-start="2600"
								 data-speed="1000"><img src="img/slider/ls3_img7.png" alt="Image 7"></div>

						</li> -->

						<!-- THE 4th SLIDE -->
						<!-- <li data-masterspeed="400" data-slotamount="7" data-transition="slideleft">
							<img src="img/slider/slide4f.jpg" alt="">
							<div class="caption lfr"
								 data-x="230"
								 data-y="40"
								 data-easing="easeInOutBack"
								 data-start="500"
								 data-speed="1000"><img src="img/slider/ls4_img1.png" alt="Image 1"></div>

							<div class="caption lfr"
								data-autoplay="false"
								data-x="322"
								data-y="65"
								data-easing="easeInOutBack"
								data-start="500"
								data-speed="1000"><iframe width="581" height="354" src="http://www.youtube.com/embed/dY_W-BlSvd0?controls=1&showinfo=0&modestbranding=1&wmode=opaque"></iframe></div>

							<div class="caption lfr"
								 data-x="687"
								 data-y="41"
								 data-easing="easeInOutBack"
								 data-start="500"
								 data-speed="1000"><img src="img/slider/ls4_img3.png" alt="Image 1"></div>

							<div class="caption lfb start"
								 data-x="290"
								 data-y="490"
								 data-easing="easeInOutBack"
								 data-start="1250"
								 data-speed="1000"><img src="img/slider/ls4_img2.png" alt="Image 2"></div>

						</li>                  -->
					</ul>
					<div class="tp-bannertimer tp-bottom"></div>
				</div>
			</div>
		</div>
        <script src="../assets/js/login_form.js"></script>
		<script type="text/javascript">
			//var tpj=jQuery;
			//$.noConflict();
			//<![CDATA[
			$(document).ready(function () {
				$('.rs-fullscreen').css('margin-left', -1 * ($(window).width() - $('.container').width()) / 2 + 'px').width($(window).width());
				if ($.fn.cssOriginal != undefined)
					$.fn.css = $.fn.cssOriginal;
				var api = $('.fullwidthbanner').revolution({
					delay: 7000000,
					startheight: 300,
					startwidth: 1230,
					hideThumbs: 200,
					thumbWidth: 130, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
					thumbHeight: 50,
					thumbAmount: 5,
					navigationType: "none",  //bullet, thumb, none, both (No Thumbs In FullWidth Version !)
					navigationArrows: "verticalcentered",    //nexttobullets, verticalcentered, none
					navigationStyle: "round",    //round,square,navbar
					touchenabled: "on",  // Enable Swipe Function : on/off
					onHoverStop: "off",  // Stop Banner Timet at Hover on Slide on/off
					navOffsetHorizontal: 0,
					navOffsetVertical: 20,
					stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
					stopAfterLoops: -1,  // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
					hideCaptionAtLimit: 0,   // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
					hideAllCaptionAtLilmit: 0,   // Hide all The Captions if Width of Browser is less then this value
					hideSliderAtLimit: 0,    // Hide the whole slider, and stop also functions if Width of Browser is less than this value
					shadow: 0,   //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
					fullWidth: "on"  // Turns On or Off the Fullwidth Image Centering in FullWidth Modus
				});
			});
			//]]
		</script>
	</div><!--.module_cont -->
	<div class="clear"><!-- ClearFIX --></div>
</div><!-- .row-fluid -->







