/* *** MAIN COLOR: #37878d *** */

::selection {background:#37878d;}
::-moz-selection {background:#37878d;}

.shortcode_promoblock .promo_button_block a:hover,
blockquote.type1:before,
.highlighted_colored,

header ul.menu li .sub-menu li:hover > a,
header nav ul li .sub-menu li:hover > a,
header nav ul li .sub-menu li:hover .sub-menu li:hover > a,
ul.mobile_menu li > a:hover,
ul.mobile_menu li:hover > a,
ul.mobile_menu li .sub-menu li:hover > a,
ul.mobile_menu li .sub-menu li:hover .sub-menu li:hover > a,
.feedback_form .feedback_go:hover,
.feedback_form .feedback_reset:hover,
#commentform #reset:hover,
#commentform #submit:hover,
.btn_login:hover,
.price_item_btn a:hover,
.most_popular .price_item_btn a,
.shortcode_button.btn_type4,
.pagerblock li a:hover,
.pagerblock li a.current,
.panel_toggler:hover,
.ie8 .btn2top-wrapper,
.ie8 .iconbox-ie8,
.price_item.most_popular .price_ico {
	background-color:#37878d;
}
.view-tenth .mask,
.dropcap.colored,
.shortcode_accordion_item_title:hover,
.shortcode_toggles_item_title:hover,
ul.sub-menu li.current-menu-parent > a,
ul.sub-menu li.current-menu-item > a,
.shortcode_button.btn_type1:hover,
.shortcode_button.btn_type2:hover,
.shortcode_button.btn_type3:hover,
.widget_tag_cloud a:hover {
	background-color:#db241c!important;
}

a,
.shortcode_tab_item_title:hover,
.testimonials_list .author,
.recent_posts_content .post_title,
.blogpost_title:hover,
a.menu_toggler:hover {
	color:#37878d;
}
header ul.menu > li > a:hover,
header ul.menu > li:hover > a,
header ul.menu > li.current-menu-item > a,
header ul.menu > li.current-menu-parent > a,
#footer_bar .twitter_list a:hover,
blockquote .author,
.blogpost_date-block a:hover,
.recent_posts .post_title:hover {
	color:#37878d!important;
}

hr.colored {
	border-color:#37878d;
}

header nav ul.menu > li > .sub-menu > li.current-menu-item:before,
header nav ul.menu > li > .sub-menu > li.current-menu-parent:before,
header nav ul.menu > li > .sub-menu > li:hover:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #37878d;
}

.btn2top rect,
.shortcode_iconbox .ico .iconbox-svg rect,
.blogpost_type_ico .blogpost-svg rect,
.post_type_ico,
.price_ico rect {
	fill:#37878d;
}

.ie8 .btn2top-wrapper:before,
.ie8 .iconbox-ie8:before,
.ie8 .gallery_item .iconbox-ie8:before,
.price_item.most_popular .price_ico:before {
	border-bottom-color:#37878d;
}
.ie8 .btn2top-wrapper:after,
.ie8 .iconbox-ie8:after,
.ie8 .gallery_item .iconbox-ie8:after,
.price_item.most_popular .price_ico:after {
	border-top-color:#37878d;
}