/*
Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
*/

/*--------- Font ------------*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

/*body {*/
/*background: #F2F2F2;*/
/*font-family: 'Droid Sans', sans-serif;*/
/*line-height: 1;*/
/*font-size: 16px;    */
/*}*/
.wrapper {

}
.pricing-table {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 29%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*    border: 1px solid red;*/
}

.pricing-table .block h4{
    margin-bottom: 0px;
    font-family: 'Playfair Display';
    font-size: 20px;
}
/*Shared properties*/
.title{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 176%;
    position: relative;
}

.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
    font-family: 'Playfair Display';
}


.content_pt{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
.content_pt p{
    text-align: center;
    font-family: 'Playfair Display';
}
/*arrow creation*/
.content_pt:after, .content_pt:before,.pt-footer:before,.pt-footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content_pt:after,.pt-footer:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
}
.hint{
    /*font-style: italic;*/
    font-size: 0.9rem;
    font-family: 'Playfair Display'
}
.features{
    list-style-type: none;
    background: #F5F5F5;
    text-align: center;
    color: #9C9C9C;
    padding:7px 0%;
    font-family: 'Playfair Display'
}
.features li{
    padding:12px 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Playfair Display';
}
.personal ul{
    margin-bottom: 0px !important;
}
.features li span{
    padding-right: 0.4rem;
    font-family: 'Playfair Display';
}
.pt-footer{
    padding: 6% 0 4% 0;
    font-size: 0.95rem;
    text-transform: capitalize;
}

.pt-footer h4{
    font-family: 'Playfair Display';
}

.pt-footer a{
    font-family: 'Playfair Display';
    color:white!important;
}
/*PERSONAL*/
.personal .title{
    background: #454545;
    /*background: #78CFBF;*/
}

.personal .content_pt,.personal .pt-footer{
    /*background: #82DACA;*/
    background: #666666;

}
.personal .content_pt:after{
    /*border-top-color: #82DACA;*/
    border-top-color: #666666;
}
.personal .pt-footer:after{
    border-top-color: #666666;
    /*border-top-color: #FFFFFF;*/
}
/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0;
}
.professional .content_pt,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content_pt:after{
    border-top-color: #53CFE9;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content_pt,.business .pt-footer{
    background: #EB6379;
}
.business .content_pt:after{
    border-top-color: #EB6379;
}
.business .pt-footer:after {
    border-top-color: #FFFFFF;
}

.third .title{
    background: #706FA6;
}
.third .content_pt,.third .pt-footer{
    background: #8783bb;
}
.third .content_pt:after{
    border-top-color: #8783bb;
}
.third .pt-footer:after {
    border-top-color: #FFFFFF;
}
