/* *** F O N T   F A M I L I E S  *** */


@font-face {
	font-family: 'CoreIconsRegular';
	src: url('fonts/coreicons-webfont.eot');
	src: url('fonts/coreicons-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/coreicons-webfont.woff') format('woff'),
	url('fonts/coreicons-webfont.ttf') format('truetype'),
	url('fonts/coreicons-webfont.svg#coreiconsregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
* {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
}

.call_us .ico,
.ico,
.shortcode_iconbox .ico span {
	font-family: 'CoreIconsRegular';
}



/* ***  F O N T   S E T T I N G S  *** */

p, td, div,
blockquote p {
	font-size:13px;
	line-height:18px;
}

header .top_line .call_us,
header .top_line .slogan {
	line-height:14px;
	font-size:11px;
}

/*h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration:none!important;
	padding:10px;
	color:#464d52;
}*/

header nav > ul > li > a,
.page_title_block .breadcrumbs a,
.page_title_block .breadcrumbs span,
.shortcode_accordion_item_title,
.shortcode_toggles_item_title,
.shortcode_tab_item_title,
.btn_small,
.btn_normal,
.btn_large,
.sitemap_list li a,
.sitemap_list li,
.filter_navigation ul li ul li a,
.feedback_go,
.feedback_reset,
.promo_button,
.price_item_btn a,
.shortcode_button,
.filter_navigation ul li ul li a,
.widget_nav_menu ul li a,
.widget_archive ul li a,
.widget_pages ul li a,
.widget_categories ul li a,
.widget_recent_entries ul li a,
.pagerblock li a,
.blogpost_date-block,
.blogpost_date-block a,
.demo_panel .panel_title,
header .tag_line .call_us,
header .tag_line .slogan,
a.menu_toggler {
	font-family:'Arial';
}


input, button, select, textarea {
	font-family:Arial, Helvetica, sans-serif!important;
}

h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family:'Arial';
}

/*h1, h1 span, h1 a {
	font-size:70px;
	line-height:72px;
}
h2, h2 span, h2 a {
	font-size:30px;
	line-height:15px;
}
h3, h3 span, h3 a {
	font-size:30px;
	line-height:32px;
}
h4, h4 span, h4 a {
	font-size:20px;
	line-height:26px;
}
h5, h5 span, h5 a {
	font-size:16px;
	line-height:18px;
}
h6, h6 span, h6 a {
	font-size:12px;
	line-height:16px;
}*/

@media only screen and (max-width: 760px) {

	h1, h1 span, h1 a {
		font-size:35px;
		line-height:37px;
	}
	h2, h2 span, h2 a {
		font-size:30px;
		line-height:32px;
	}
	h3, h3 span, h3 a {
		font-size:26px;
		line-height:28px;
	}
	h4, h4 span, h4 a {
		font-size:20px;
		line-height:22px;
	}
	h5, h5 span, h5 a {
		font-size:101%;
		line-height:18px;
	}
	h6, h6 span, h6 a {
		font-size:14px;
		line-height:16px;
	}
}


/* ***  C O L O R   O P T I O N S  *** */

header ul.menu > li > a {
	color:#464d52;
}

.page-header,
.page-header h3{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	color: #464D52;
	border-bottom: none;
	text-transform: none;
	font-family: 'Playfair Display';
	font-weight: none;
}
.page-header_map{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	border-color: rgb(246, 246, 246);
	letter-spacing: 0.2em;

	padding-right: 5px;
	padding-left: 5px;
	padding-top: 14px;
	font-family: Arial;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
}

.carousel_body_blog{
	background-color: #fff;
	float: left;
	font-family: 'Arial';

}
.item_shadow{
	box-shadow: 6px 8px 11px #7f7f7f;
	border:thin solid #e1e1e1;
}

.fram_btn{
	margin-left:10%;
	margin-top:10px;
}

.wishlist_btn{
	color:red;
	font-size:20px!important;
	margin-left:6px;
	margin-top:3px;
}

.go-top {
	position: fixed;
	bottom: 1em;
	right: 1em;
	text-decoration: none;
	color: #fff;
	background-color: #E3536C;
	font-size: 20px;
	/* padding: 1em; */
	width: 50px;
	height: 50px;
	display: none;
	border-radius: 38px;
	padding-top: 11px;
	top:84%
}

.go-top:hover {
	/*background-color: rgba(0, 0, 0, 0.6);*/
	color:#ee97a6;
}
#welcome_msg p{
	display: inline-block;
	padding: 0 11px;
	line-height: 23px;
	border: none;
	outline: none;
	font-size: 10px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	border-color: rgb(246, 246, 246);
	letter-spacing: 0.2em;
	font-family: Arial;
	background-color: rgba(255, 255, 255, 0);
	float: right;
}

#flipkart-navbar {
	background: #ffffff !important;
	/*padding-bottom: 10px;*/
	border-top: bisque !important;
	box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44) !important;
	border-bottom: 1px solid #D2D2D2 !important;

	z-index: 1000 !important;
	position: fixed !important;
	top: 0px !important;
	margin-left: 0px !important;
	width: 100% !important;
	left: 0px !important;
}

/*#flipkart-navbar a{
	color: #000!important;
}

#flipkart-navbar a:hover{
	color: red!important;
}*/


.row1{
	padding-top: 10px;
	padding-bottom: 10px;
}

.row2 {
	padding-bottom: 10px;
}
.pull-left{
	float: left!important;
	margin-left: -15px!important;
}

.flipkart-navbar-input {
	/*padding: 12px 16px !important;
    border-radius: 2px 0 0 2px !important;
    border: 1px solid #a09191
!important;
    outline: 0 none !important;
    font-size: 13px !important;
    font-family: 'Playfair Display' !important;
    display: inline-block !important;
    color: rgb(0, 0, 0);
    letter-spacing: 0em;*/
	/*border-radius: 2px 0 0 2px !important;*/
	/*border: 1px solid #a09191!important;*/
	outline: 0 none !important;
	display: inline-block;
	/*padding: 10px 10px !important;*/
	/*line-height: 22px;*/
	outline: none;
	font-size: 10px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	letter-spacing: 0.2em;
	font-family: Arial;
	background-color: rgba(255, 255, 255, 0);
	text-transform: uppercase;

}
/*.flipkart-navbar-input {*/
/*padding: 12px 16px !important;*/
/*border-radius: 2px 0 0 2px !important;*/
/*border: 1px solid #a09191 !important;*/
/*outline: 0 none !important;*/
/*font-size: 13px !important;*/
/*font-family: 'Playfair Display' !important;*/


/*display: inline-block !important;*/
/*!*padding: 0 11px;*!*/

/*!*border: none;*/
/*outline: none;*!*/


/*!*font-size: 11px;*!*/
/*font-weight: normal;*/
/*color: rgb(0, 0, 0);*/
/*!*border-color: rgb(246, 246, 246);*!*/
/*letter-spacing: 0em;*/
/*!*font-family: Arial;*!*/
/*!*background-color: rgba(255, 255, 255, 0);*!*/
/*}*/
/*.flipkart-navbar-input:hover {*/
/*padding: 12px 16px !important;*/
/*border-radius: 2px 0 0 2px !important;*/
/*border: 1px solid #504848 !important;*/
/*outline: 0 none !important;*/
/*font-size: 15px !important;*/
/*font-family: 'Arial' !important;*/
/*}*/

.flipkart-navbar-button {
	background-color: #323232;
	border: 1px solid #a09191;
	border-radius: 0 2px 2px 0;
	color: #fff;
	padding: 10px 0;
	height: 44px;
	cursor: pointer;
	font-size: 18px;
	margin-left: -8.5%;
	z-index: 100;
}

.flipkart-navbar-button:hover {
	background-color: #504848;
	border: 1px solid #504848;
	border-radius: 0 2px 2px 0;
	color: #fff;
	padding: 10px 0;
	height: 44px;
	cursor: pointer;
	font-size: 18px;
}

.cart-button {
	background-color: #323232;
	/*background-color: #a09191;*/
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
	padding: 10px 0;
	text-align: center;
	height: 35px;
	border-radius: 2px;
	font-weight: 500;
	width: 90px;
	display: inline-block;
	color: #FFFFFF !important;
	text-decoration: none;
	color: inherit;
	border: none;
	outline: none;
}

.cart-button:hover{
	background-color: #1d2123;
	/*background-color: #504848;*/
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.cart-svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 8px;
}

.item-number {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .1);
	height: 20px;
	padding: 3px 6px;
	font-weight: 500;
	display: inline-block;
	color: #fff;
	line-height: 12px;
	margin-left: 10px;
}

.upper-links {
	display: inline-block;
	padding: 0 11px;
	line-height: 23px;
	border: none;
	outline: none;
	font-size: 10px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	border-color: rgb(246, 246, 246);
	letter-spacing: 0.2em;
	font-family: Arial;
	background-color: rgba(255, 255, 255, 0);
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
}

.dropdown:hover {
	background-color: #fff;
}

.dropdown:hover .links {
	color: #000;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown .dropdown-menu {
	position: absolute;
	top: 100%;
	display: none;
	background-color: #fff;
	color: #333;
	left: 0px;
	border: 0;
	border-radius: 0;
	box-shadow: 0 4px 8px -3px #555454;
	margin: 0;
	padding: 0px;
}

.links {
	color: #000;
	text-decoration: none;
}

.links:hover {
	color: #000;
	text-decoration: none;
}

.profile-links {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	display: block;
	padding: 0 11px;
	line-height: 23px;
}

.profile-li{
	padding-top: 2px;
}

.largenav {
	display: none;
}

.smallnav{
	display: block;
}

.smallsearch{
	margin-left: 15px;
	margin-top: 15px;
}

.menu{
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.largenav {
		display: block;
	}
	.smallnav{
		display: none;
	}
	.smallsearch{
		margin: 0px;
	}
}

/*Sidenav*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	box-shadow: 0 4px 8px -3px #555454;
	padding-top: 28%;


}

.sidenav a {
	padding: 8px 8px 8px 20px;
	text-decoration: none;
	font-size: 11px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav .closebtn {
	/*position: absolute;*/
	/*
	font-size: 36px;
	margin-left: 100px;
	color: #fff;*/
}

@media screen and (max-height: 450px) {

	.sidenav a {
		font-size: 18px;
	}
}

.sidenav-heading a{

	font-size: 36px;
	color: #fff;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0px;

}

.row2 p{
	margin-top: 10px;
}





/*Rating style*/

.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

.stars {
	margin: 10px 0;
	font-size: 24px;
	color: #d17581;
}

/*Rating style*/

.spinner {
	/*width: 40px;*/
	/*height: 40px;*/

	/*position: relative;*/
	margin: 100px auto;
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.55;
}

.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0, 0, 0, 0.3);*/
	background-color: lightgrey;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.hideC {
	display: none;
}

#totalPO_length {
	margin-left: 1%;
	padding-top: 1%;
}

#totalPO_info {
	margin-left: 1%;
	padding-top: 2%;
}

#totalPO_paginate {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
}


.contentarea .row-fluid .module_padding{
	background-color:#347AB6;
	margin-top:40px;
	margin-bottom:40px;
	padding-top:40px;
	padding-bottom:40px;
	border-radius:5px;


}

.contentarea .row-fluid .module_padding .center_div{
	margin: 0 auto;
	width:80% /* value of your choice which suits your alignment */
}
.contentarea .row-fluid .module_padding .center_div h4{
	padding-top:0px!important;
	color:#fff;
}
.contentarea .row-fluid .module_padding_active{
	background-color:#EFAC54;
	margin-top:40px;
	margin-bottom:40px;
	padding-top:40px;
	padding-bottom:40px;
	border-radius:5px;


}

.contentarea .row-fluid .module_padding_active .center_div{
	margin: 0 auto;
	width:80% /* value of your choice which suits your alignment */
}
.contentarea .row-fluid .module_padding_active .center_div h4{
	padding-top:0px!important;
	color:#fff;
}

#border{
	margin-top:15px;
	padding-top:15px;
	border: 3px solid #fff!important;
}
#border h5{
	color:#fff;
	font-family: Arial;
}
#border_bottom{
	margin-top:15px;
	padding-top:15px;
	border-bottom: 1px solid #b2b2b2!important;
}
#border_bottom h5{
	color:#000;
	font-family: Arial;
}
#border_none{
	margin-top:15px;
	padding-top:15px;
}
#border_none h5{
	color:#000;
	font-family: Arial;
}
.form-horizontal label{
	text-align:left!important;
	float:left;
	color:#999999;
}
.form-horizontal h4{
	font-family: 'Arial';
	text-align:left;
}




.square {
	float:right;
	position: relative;
	width: 35%;
	padding-bottom : 35%; /* = width for a 1:1 aspect ratio */
	margin:3%;
	background: transparent linear-gradient(135deg, rgb(54, 209, 220), rgb(91, 134, 229)) repeat scroll 0% 0%;
	overflow:hidden;
	border: solid 1px #BEBEBE;
	border-radius:5px;
	box-shadow: 5px 5px 5px #A0A0A0;
	/*box-shadow: 10px -10px rgba(0,0,0,0.6);*/
	/*transition: 0.3s;

    box-shadow: 20px -16px rgba(0,0,0,0.6);*/

}


.square:hover {

	box-shadow: 8px 8px 5px #A0A0A0;

}

.title_text{

	font-size:30px;
	line-height: 30px;
	color:#fff;
	font-family: Century;
}

.content1 {
	position:absolute;
	height:90%; /* = 100% - 2*5% padding */
	width:90%; /* = 100% - 2*5% padding */
	padding: 5%;

}
.table{
	display:table;
	width:100%;
	height:100%;
}
.table-cell{
	display:table-cell;
	vertical-align:middle;
}


/*  For responsive images */

.content1 .rs{
	width:auto;
	height:auto;
	max-height:90%;
	max-width:100%;
}

.thumbnail1 {
	position: relative;
	width: 205px;
	height: 205px;
	overflow: hidden;
}
.thumbnail1 img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.thumbnail1 img.portrait1 {
	width: 100%;
	height: auto;

}

.userTile span{
	color:#000;
	/*font-weight: bold;*/
}

.userTile a{
	color:#000;
	/*font-weight: bold;*/
}


.awesome_change_color {
	color:#313131;
	font-size:45px;
	font-weight: bold;
}

.map{

	margin-bottom: 10px;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoRss i{
	color: #F56505;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoFacebook i{
	color:#3B5998;
}

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoTwitter i{
	color:#33ccff;
}

.social-network a.icoInstagram:hover {
	background-color:#BD3518;
}
.social-network a.icoInstagram i{
	color:#BD3518;
}


.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
/*.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}*/

.social-circle li a {
	background-color: #fff;
}

/*.copyright { min-height:40px; background-color:#000000;}*/
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}


.socialCircle-item {
	width: 25px;
	height: 25px;
	position: absolute;
	background: #333;
	margin: 50%;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
}
.socialCircle-item a{
	color: #fff;
}

.socialCircle-container {
	position: relative;
	width: 50px;
	height: 50px;
	/*margin: 0 auto;*/
	float: right;
	left:-180px;
	top:-10px;
}

.socialCircle-center {
	width: 30px;
	height: 30px;
	background: #D32F2F;
	margin: 50%;
	position: absolute;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	cursor: pointer;
}

.share_btn{
	margin-left: 8%;
	color:red;
	font-size:20px!important;
	margin-top:3px;
}



#share {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

/* buttons */

#share a {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 8px;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

/* icons */

#share i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* colors */

.facebook {
	background: #3b5998;
}

.twitter {
	background: #55acee;
}

.googleplus {
	background: #dd4b39;
}

.instagram {
	background: #bc2a8d;
}

.envelope {
	background: #cb2027;
}



.bordered {
	border-bottom:1px solid #A9A9A9;
	/*margin-bottom:30px !important;*/
	padding:4px;
}

.bordered:hover {
	box-shadow: 1px 1px 16px #999;

}

.card {
	display: block;
	background-color: #fff;
	/*box-shadow: 1px 1px 8px #999;*/
	cursor: pointer;


}

.card img {
	height:150px
}

.bottom h5{
	font-family: 'Arial';
	color: #000;
}

.card-active{

	padding-top: 20px;
	padding-bottom: 6px;

	margin-bottom: 15px;
	box-shadow: 1px 0px 4px 2px grey;
}
.PLATINUM{
	background-color: #EDAB53;
} .STARTER{
	  background-color: #3379B4;
  } .DEFAULT{
		background-color: #58B75B;
	}

.twitter-typeahead{
	display:block!important;
	width:100%!important;
}

/*
* typehead.js-bootstrap3.less
* @version 0.2.3
* https://github.com/hyspace/typeahead.js-bootstrap3.less
*
* Licensed under the MIT license:
* http://www.opensource.org/licenses/MIT
*/
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	width: 100%;
}
.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	width: 100%;
}
.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
	height: 30px;
	line-height: 30px;
}
textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
	height: auto;
}
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
	border-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}
select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
	height: 46px;
	line-height: 46px;
}
textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
	height: auto;
}
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
	border-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
.twitter-typeahead {
	width: 100%;
	float: left;
}
.input-group .twitter-typeahead {
	display: table-cell !important;
}
.twitter-typeahead .tt-hint {
	color: #999999;
}

.twitter-typeahead .tt-input {
	z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
	cursor: not-allowed;
	background-color: #eeeeee !important;
}
.tt-dropdown-menu,
.tt-menu {
	position: absolute;
	top: 100%;
	text-align: left;
	left: 0;
	z-index: 1000;
	min-width: 160px;
	width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	background-color: #f5f5f5;
	color: #262626;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
	color: #262626;

}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
	margin: 0;
}