.cart-svg, .table-cell {
    vertical-align: middle
}

.cart-button, .cart-button:hover, .go-top, .links, .links:hover, .sidenav a {
    text-decoration: none
}

/*@font-face {*/
/*font-family: CoreIconsRegular;*/
/*src: url(fonts/coreicons-webfont.eot);*/
/*src: url(fonts/coreicons-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/coreicons-webfont.woff) format('woff'), url(fonts/coreicons-webfont.ttf) format('truetype'), url(fonts/coreicons-webfont.svg#coreiconsregular) format('svg');*/
/*font-weight: 400;*/
/*font-style: normal*/
/*}*/

* {
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: 400*/
}

.call_us .ico, .ico, .shortcode_iconbox .ico span {
    font-family: CoreIconsRegular
}

blockquote p, div, p, td {
    font-size: 13px;
    line-height: 18px
}

header .top_line .call_us, header .top_line .slogan {
    line-height: 14px;
    font-size: 11px
}

.blogpost_date-block, .blogpost_date-block a, .btn_large, .btn_normal, .btn_small, .demo_panel .panel_title, .feedback_go, .feedback_reset, .filter_navigation ul li ul li a, .page_title_block .breadcrumbs a, .page_title_block .breadcrumbs span, .pagerblock li a, .price_item_btn a, .promo_button, .shortcode_accordion_item_title, .shortcode_button, .shortcode_tab_item_title, .shortcode_toggles_item_title, .sitemap_list li, .sitemap_list li a, .widget_archive ul li a, .widget_categories ul li a, .widget_nav_menu ul li a, .widget_pages ul li a, .widget_recent_entries ul li a, a.menu_toggler, header .tag_line .call_us, header .tag_line .slogan, header nav > ul > li > a {
    font-family: Arial
}

button, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif !important
}

h1, h1 a, h1 span, h2, h2 a, h2 span, h3, h3 a, h3 span, h4, h4 a, h4 span, h5, h5 a, h5 span, h6, h6 a, h6 span {
    font-family: Arial
}

@media only screen and (max-width: 760px) {
    h1, h1 a, h1 span {
        font-size: 35px;
        line-height: 37px
    }

    h2, h2 a, h2 span {
        font-size: 30px;
        line-height: 32px
    }

    h3, h3 a, h3 span {
        font-size: 26px;
        line-height: 28px
    }

    h4, h4 a, h4 span {
        font-size: 20px;
        line-height: 22px
    }

    h5, h5 a, h5 span {
        font-size: 101%;
        line-height: 18px
    }

    h6, h6 a, h6 span {
        font-size: 14px;
        line-height: 16px
    }
}

header ul.menu > li > a {
    color: #464d52
}

.page-header, .page-header h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #464D52;
    border-bottom: none;
    text-transform: none;
    font-family: 'Playfair Display' ;
    /*font-weight: none;*/
}

.page-header_map {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    border-color: #f6f6f6;
    letter-spacing: .2em;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 14px;
    font-family: Arial;
    background-color: rgba(255, 255, 255, 0);
    text-align: center
}

.carousel_body_blog {
    background-color: #fff;
    float: left;
    font-family: Arial
}

.item_shadow {
    box-shadow: 6px 8px 11px #7f7f7f;
    border: thin solid #e1e1e1
}

.fram_btn {
    margin-left: 10%;
    margin-top: 10px
}

.wishlist_btn {
    color: red;
    font-size: 20px !important;
    margin-left: 6px;
    margin-top: 3px
}

.go-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: #fff;
    background-color: #E3536C;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border-radius: 38px;
    padding-top: 11px;
    top: 84%
}

.go-top:hover {
    color: #ee97a6
}

#welcome_msg p, .flipkart-navbar-input {
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    color: #000;
    letter-spacing: .2em;
    font-family: Arial
}

#welcome_msg p {
    padding: 0 11px;
    line-height: 23px;
    border: #f6f6f6;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    float: right
}

.row1, .row2 {
    padding-bottom: 10px
}

#flipkart-navbar {
    background: #fff !important;
    border-top: bisque !important;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, .44) !important;
    border-bottom: 1px solid #D2D2D2 !important;
    z-index: 1000 !important;
    position: fixed !important;
    top: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    left: 0 !important
}

.row1 {
    padding-top: 10px
}

.pull-left {
    float: left !important;
    margin-left: -15px !important
}

.flipkart-navbar-input {
    outline: 0 !important;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase
}

.cart-button, .item-number {
    font-weight: 500;
    display: inline-block
}

.flipkart-navbar-button, .flipkart-navbar-button:hover {
    color: #fff;
    height: 44px;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer
}

/*!*padding: 0 11px;*!*//*!*border: none;*//*!*font-size: 11px;*!*//*!*border-color: rgb(246, 246, 246);*!*//*!*font-family: Arial;*!*//*!*background-color: rgba(255, 255, 255, 0);*!*/
.flipkart-navbar-button {
    background-color: #323232;
    border: 1px solid #a09191;
    border-radius: 0 2px 2px 0;
    margin-left: -8.5%;
    z-index: 100
}

.flipkart-navbar-button:hover {
    background-color: #504848;
    border: 1px solid #504848;
    border-radius: 0 2px 2px 0
}

.cart-button {
    background-color: #444444;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 35px;
    border-radius: 2px;
    width: 90px;
    color: #FFF !important;
    border: none;
    outline: 0
}

.dropdown .dropdown-menu, .sidenav {
    box-shadow: 0 4px 8px -3px #555454
}

.cart-button:hover {
    background-color: #1d2123;
    color: #fff;
    cursor: pointer
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    color: #fff;
    line-height: 12px;
    margin-left: 10px
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    border: #f6f6f6;
    outline: 0;
    font-size: 10px;
    font-weight: 400;
    color: #000;
    letter-spacing: .2em;
    font-family: Arial;
    background-color: rgba(255, 255, 255, 0)
}

.dropdown:hover, .sidenav {
    background-color: #fff
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0
}

.dropdown:hover .links {
    color: #000
}

.dropdown:hover .dropdown-menu {
    display: block
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0
}

.sidenav, .spinner, .spinner:before {
    position: fixed;
    left: 0
}

.links, .links:hover {
    color: #000
}

.profile-links {
    font-size: 12px;
    font-family: Roboto, sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px
}

.profile-li {
    padding-top: 2px
}

.largenav {
    display: none
}

.smallnav {
    display: block
}

.smallsearch {
    margin-left: 15px;
    margin-top: 15px
}

.menu {
    cursor: pointer
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block
    }

    .smallnav {
        display: none
    }

    .smallsearch {
        margin: 0
    }
}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 100;
    top: 0;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 28%
}

.sidenav a {
    padding: 8px 8px 8px 20px;
    font-size: 11px;
    color: #818181;
    display: block;
    transition: .3s
}

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px
    }
}

.sidenav-heading a {
    font-size: 36px;
    color: #fff;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0
}

.row2 p {
    margin-top: 10px
}

.animated {
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    transition: height .2s
}

.stars {
    margin: 10px 0;
    font-size: 24px;
    color: #d17581
}

.spinner {
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: .55
}

.spinner:before {
    content: '';
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d3d3d3
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.hideC {
    display: none
}

#totalPO_length {
    margin-left: 1%;
    padding-top: 1%
}

#totalPO_info {
    margin-left: 1%;
    padding-top: 2%
}

#totalPO_paginate {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%
}

.contentarea .row-fluid .module_padding {
    background-color: #347AB6;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px
}

.contentarea .row-fluid .module_padding .center_div {
    margin: 0 auto;
    width: 80%
}

.contentarea .row-fluid .module_padding .center_div h4 {
    padding-top: 0 !important;
    color: #fff
}

.contentarea .row-fluid .module_padding_active {
    background-color: #EFAC54;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px
}

.contentarea .row-fluid .module_padding_active .center_div {
    margin: 0 auto;
    width: 80%
}

.contentarea .row-fluid .module_padding_active .center_div h4 {
    padding-top: 0 !important;
    color: #fff
}

#border, #border_bottom, #border_none {
    margin-top: 15px;
    padding-top: 15px
}

#border {
    border: 3px solid #fff !important
}

#border h5 {
    color: #fff;
    font-family: Arial
}

#border_bottom {
    border-bottom: 1px solid #b2b2b2 !important
}

#border_bottom h5, #border_none h5 {
    color: #000;
    font-family: Arial
}

.form-horizontal label {
    text-align: left !important;
    float: left;
    color: #999
}

.form-horizontal h4 {
    font-family: Arial;
    text-align: left
}

.square {
    float: right;
    position: relative;
    width: 35%;
    padding-bottom: 35%;
    margin: 3%;
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    overflow: hidden;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #A0A0A0
}

.square:hover {
    box-shadow: 8px 8px 5px #A0A0A0
}

.title_text {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    font-family: Century
}

.content1 {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%
}

.table {
    display: table;
    width: 100%;
    height: 100%
}

.table-cell {
    display: table-cell
}

.content1 .rs {
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%
}

.thumbnail1 {
    position: relative;
    width: 205px;
    height: 205px;
    overflow: hidden
}

.thumbnail1 img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.thumbnail1 img.portrait1 {
    width: 100%;
    height: auto
}

.userTile a, .userTile span {
    color: #000
}

.awesome_change_color {
    color: #313131;
    font-size: 45px;
    font-weight: 700
}

.map {
    margin-bottom: 10px
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoRss:hover {
    background-color: #F56505
}

.social-network a.icoRss i {
    color: #F56505
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoFacebook i {
    color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #3cf
}

.social-network a.icoTwitter i {
    color: #3cf
}

.social-network a.icoInstagram:hover {
    background-color: #BD3518
}

.social-network a.icoInstagram i {
    color: #BD3518
}

.social-network a.icoFacebook:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoRss:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoVimeo:hover i {
    color: #fff
}

.socialHoverClass, a.socialIcon:hover {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #fff
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px
}

.post p span {
    display: block;
    color: #8f8f8f
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0
}

.bottom_ul li {
    float: left;
    line-height: 40px
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px
}

.socialCircle-center, .socialCircle-item {
    margin: 50%;
    text-align: center;
    cursor: pointer
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px
}

.socialCircle-item {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #333;
    color: #fff;
    font-size: 12px
}

.socialCircle-item a {
    color: #fff
}

.socialCircle-container {
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    left: -180px;
    top: -10px
}

.socialCircle-center {
    width: 30px;
    height: 30px;
    background: #D32F2F;
    position: absolute;
    color: #fff;
    font-size: 15px
}

.share_btn {
    margin-left: 8%;
    color: red;
    font-size: 20px !important;
    margin-top: 3px
}

#share {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

#share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: .75;
    transition: opacity .15s linear
}

#share a:hover {
    opacity: 1
}

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.facebook {
    background: #3b5998
}

.twitter {
    background: #55acee
}

.googleplus {
    background: #dd4b39
}

.instagram {
    background: #bc2a8d
}

.envelope {
    background: #cb2027
}

.bordered {
    border-bottom: 1px solid #A9A9A9;
    padding: 4px
}

.bordered:hover {
    box-shadow: 1px 1px 16px #999
}

.card {
    display: block;
    background-color: #fff;
    cursor: pointer
}

.card img {
    height: 150px
}

.bottom h5 {
    font-family: Arial;
    color: #000
}

.card-active {
    padding-top: 20px;
    padding-bottom: 6px;
    margin-bottom: 15px;
    box-shadow: 1px 0 4px 2px grey
}

.PLATINUM {
    background-color: #EDAB53
}

.STARTER {
    background-color: #3379B4
}

.DEFAULT {
    background-color: #58B75B
}

.twitter-typeahead {
    display: block !important;
    width: 100% !important;
    float: left
}

.has-warning .twitter-typeahead .tt-hint, .has-warning .twitter-typeahead .tt-input {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .twitter-typeahead .tt-hint:focus, .has-warning .twitter-typeahead .tt-input:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
}

.has-error .twitter-typeahead .tt-hint, .has-error .twitter-typeahead .tt-input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .twitter-typeahead .tt-hint:focus, .has-error .twitter-typeahead .tt-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.has-success .twitter-typeahead .tt-hint, .has-success .twitter-typeahead .tt-input {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .twitter-typeahead .tt-hint:focus, .has-success .twitter-typeahead .tt-input:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
}

.input-group .twitter-typeahead:first-child .tt-hint, .input-group .twitter-typeahead:first-child .tt-input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%
}

.input-group .twitter-typeahead:last-child .tt-hint, .input-group .twitter-typeahead:last-child .tt-input {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%
}

.input-group.input-group-sm .twitter-typeahead .tt-hint, .input-group.input-group-sm .twitter-typeahead .tt-input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

select.input-group.input-group-sm .twitter-typeahead .tt-hint, select.input-group.input-group-sm .twitter-typeahead .tt-input {
    height: 30px;
    line-height: 30px
}

select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint, select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input, textarea.input-group.input-group-sm .twitter-typeahead .tt-hint, textarea.input-group.input-group-sm .twitter-typeahead .tt-input {
    height: auto
}

.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint, .input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input {
    border-radius: 0
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint, .input-group.input-group-sm .twitter-typeahead:first-child .tt-input {
    border-radius: 3px 0 0 3px
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint, .input-group.input-group-sm .twitter-typeahead:last-child .tt-input {
    border-radius: 0 3px 3px 0
}

.input-group.input-group-lg .twitter-typeahead .tt-hint, .input-group.input-group-lg .twitter-typeahead .tt-input {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px
}

select.input-group.input-group-lg .twitter-typeahead .tt-hint, select.input-group.input-group-lg .twitter-typeahead .tt-input {
    height: 46px;
    line-height: 46px
}

select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint, select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input, textarea.input-group.input-group-lg .twitter-typeahead .tt-hint, textarea.input-group.input-group-lg .twitter-typeahead .tt-input {
    height: auto
}

.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint, .input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input {
    border-radius: 0
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint, .input-group.input-group-lg .twitter-typeahead:first-child .tt-input {
    border-radius: 6px 0 0 6px
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint, .input-group.input-group-lg .twitter-typeahead:last-child .tt-input {
    border-radius: 0 6px 6px 0
}

.input-group .twitter-typeahead {
    display: table-cell !important
}

.twitter-typeahead .tt-hint {
    color: #999
}

.twitter-typeahead .tt-input {
    z-index: 2
}

.twitter-typeahead .tt-input[disabled], .twitter-typeahead .tt-input[readonly], fieldset[disabled] .twitter-typeahead .tt-input {
    cursor: not-allowed;
    background-color: #eee !important
}

.tt-dropdown-menu, .tt-menu {
    position: absolute;
    top: 100%;
    text-align: left;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}

.tt-dropdown-menu .tt-suggestion, .tt-menu .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor, .tt-dropdown-menu .tt-suggestion:hover, .tt-menu .tt-suggestion.tt-cursor, .tt-menu .tt-suggestion:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
    color: #262626
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a, .tt-dropdown-menu .tt-suggestion:hover a, .tt-menu .tt-suggestion.tt-cursor a, .tt-menu .tt-suggestion:hover a {
    color: #262626
}

.tt-dropdown-menu .tt-suggestion p, .tt-menu .tt-suggestion p {
    margin: 0
}


.border_right{
    border-right: 1px solid #ccc;
}

.playstore_section{
    background-color: #fff;
    width:600px;
    height: auto;
    margin-top: 20%;
    margin-left: 30%;
    border-radius: 5px;
}

.playstore_section a img{
    width:200px;
    float: right;
    /*padding-right: 10px;*/
}

.playstore_section p{

    color: #000;
    padding: 0px;
    margin: 0px;
    font-size: 19px;
    line-height: 25px;
    font-family: copperplate;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;

}

.playstore_section .playstore_content{
    border-right: 1px solid #404040;
    /*margin-top: 3%;*/
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 10%;
}
.playstore_section .playstore_img{
    margin-top: 1%;
    /* margin-bottom: 3%; */
    /* padding-left: 14%; */
    margin-left: -5%;
}

.frame_membership_content{
    margin-left: 20%;
    margin-top: -2%;
    font-family: Arial;
}

.content_wrapper{
    min-height: 570px!important;
}

.flickr_widget_wrapper1{
    letter-spacing: .1em;
    font-family: Raleway, sans-serif;
    direction: ltr;
    line-height: 1em;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.frame_membership_note p{
    font-size: 12px;
    font-family: Arial;
    text-align: justify;
    margin-left: 0;
    line-height: 14px;
    margin-bottom: 5px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    /*sinup form mobile*/

    .frame_membership_note p{
        font-size: 9px;
        font-family: Arial;
        text-align: justify;
        margin-left: 0;
        line-height: 12px;
        margin-bottom: 5px;
    }

    .table td .input_field{
        padding-left:0px;
        padding-right:0px;
    }
    .table td tr .input{
        padding-left:0px;
        padding-right:0px;
    }
    .input_field .input{
        padding-left:0px;
        padding-right:0px;
    }
    .input input{
        margin: 0px;
        padding: 5px;

    }
    .module_price_table .row .col-xs-12{
        padding-left: 0px;
    }

    /*end*/
    .frame_membership_content{
        margin-left: 0%;
        margin-top: -2%;
        font-family: Arial;
    }

    .playstore_section {
        background-color: #fff;
        width: 250px;
        height: auto;
        margin-top: 13%;
        margin-left: 20%;
        border-radius: 5px;
    }

    .playstore_section p {
        font-weight: bolder;
        color: #000;
        padding: 0px 0px 0px 10px;
        margin: 0px;
        font-size: 6px;
        font-family: copperplate;
        text-align: center;
        line-height: 13px;
    }

    .playstore_section a img{
        width:200px;
        float: right
    }
    .playstore_section .playstore_content{
        border-right: 1px solid #404040;
        /*margin-top: 3%;*/
        margin-top: 3%;
        margin-bottom: 3%;
        padding-left: 5%;
    }
    .playstore_section .playstore_img{
        margin-top: 3%;
        /* margin-bottom: 3%; */
        /* padding-left: 14%; */
        margin-left: -6%;
    }
    .border_right{
        border-right: 1px solid #fff;
    }

    #bg_title_shelf h4 {
        color: #fff;
        margin-bottom: 10px;
        font-size: 19px;
        line-height: 7px;
    }
}