{{> header}}

<div class="main_wrapper">
    <!-- C O N T E N T -->
    <div class="content_wrapper background_color_gray">
        <div class="container">
            <div class="content_block right-sidebar row">
                <div class="fl-container span12">
                    <div class="row">
                        {{# data}}
                            <div class="left-sidebar-block span5" style="margin-top: 10px; padding: 10px;">
                                <aside class="sidebar">
                                    <div class="img_block_books">
                                        <img src="{{IMAGE}}" alt="" class="img-responsive" onerror="this.src='../assets/img/pictures/team1.jpg';" style="max-height: 250px;">
                                    </div>
                                    <div class="module_cont">

                                        <h4>{{NAME}}</h4>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec lectus mauris. Suspendisse et elit ut lacus convallis dapibus. Nunc consequat, turpis ac
                                            iaculis porttitor, sem dui molestie mauris, eu ultrices urna dolor sed anteiaculis porttitor, sem dui molestie mauris, eu ultrices urna dolor sed ante urna dolor sed ante  urna dolor sed ante</p>
                                    </div>

                                    <!--<div class="row-fluid">-->
                                    <!--<div class="span12">-->
                                    <!--<a href="#" class="ico_socialize_facebook1 ico_socialize type1"></a>-->
                                    <!--<a href="#" class="ico_socialize_twitter2 ico_socialize type1"></a>-->
                                    <!--<a href="#" class="ico_socialize_youtube1 ico_socialize type1"></a>-->
                                    <!--<a href="#" class="ico_socialize_linkedIn ico_socialize type1"></a>-->
                                    <!--<a href="#" class="ico_socialize_wordpress ico_socialize type1"></a>-->
                                    <!--<div class="clear"></div>-->
                                    <!--</div>&lt;!&ndash; .module_cont &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; .row-fluid &ndash;&gt;-->

                                </aside>
                            </div><!-- .left-sidebar -->
                        {{/data}}
                        <div class="posts-block span7">
                            <div class="contentarea">

                                {{> author_related_books}}

                            </div><!-- .contentarea -->
                        </div>

                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->

            </div>
        </div><!-- .container -->

        {{> related_authors}}

    </div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->

{{> footer}}

<script>
    $(document).ready(function()
    {
        $('#home').addClass('current-menu-parent');

    })


</script>