{{> header }}
<div class="main_wrapper">
    <!-- C O N T E N T -->
    <div class="content_wrapper background_color_gray">
        <div class="container">
            <div class="content_block right-sidebar row">
                <div class="fl-container span12">
                    <div class="row">
                        <div class="left-sidebar-block span5" style="margin-top: 50px; padding: 10px;">
                            <aside class="sidebar" >
                                <img src="../assets/img/pictures/pic_about.jpg" alt="" class="img-responsive">
                                <h2>Alain de Botton</h2>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec lectus mauris. Suspendisse et elit ut lacus convallis dapibus. Nunc consequat, turpis ac
                                    iaculis porttitor, sem dui molestie mauris, eu ultrices urna dolor sed anteiaculis porttitor, sem dui molestie mauris, eu ultrices urna dolor sed ante urna dolor sed ante  urna dolor sed ante</p>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <a href="#" class="ico_socialize_facebook1 ico_socialize type1"></a>
                                        <a href="#" class="ico_socialize_twitter2 ico_socialize type1"></a>
                                        <a href="#" class="ico_socialize_youtube1 ico_socialize type1"></a>
                                        <a href="#" class="ico_socialize_linkedIn ico_socialize type1"></a>
                                        <a href="#" class="ico_socialize_wordpress ico_socialize type1"></a>
                                        <div class="clear"></div>
                                    </div><!-- .module_cont -->
                                </div><!-- .row-fluid -->

                            </aside>
                        </div><!-- .left-sidebar -->
                        <div class="posts-block span7">
                            <div class="contentarea">

                                <div class="row-fluid">
                                    <div class="span12 module_cont module_teamslider">
                                        <div class="bg_title"><h4 class="headInModule">RELATED BOOKS</h4></div>
                                        <div class="team_slider">
                                            <div class="carouselslider teamslider items3" data-count="3">
                                                <ul class="item_list" id="items4">
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/1.jpg" alt="Tom"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/2.jpg" alt="Anna"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/3.jpg" alt="John"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/4.jpg" alt="Anna"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/5.jpg" alt="John"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/6.jpg" alt="Tom"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item item_shadow">
                                                            <div class="img_block_books_rel"><img src="../assets/img/books/7.jpg" alt="Tom"></div>
                                                            <div class="carousel_body_book">
                                                                <div class="carousel_desc">
                                                                    <div class="smallproflinks">
                                                                        <a href="twitter" class="wishlist tiptip" title="Wishlist"></a>
                                                                        <a href="twitter" class="rent tiptip" title="Rent"></a>
                                                                        <a href="twitter" class="read tiptip" title="Read"></a>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .team_slider -->
                                        <a id="anchor8"></a>
                                    </div>
                                </div><!-- .row-fluid -->

                            </div><!-- .contentarea -->
                        </div>

                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->

            </div>
        </div><!-- .container -->
        <div class="container">
            <div class="content_block no-sidebar row">
                <div class="fl-container span12">
                    <div class="row-fluid">
                        <div class="span12 module_cont module_teamslider">
                            <div class="bg_title"><h4 class="headInModule">OTHER AUTHORS</h4></div>
                            <div class="team_slider">
                                <div class="carouselslider carouselslider_team teamslider items4" data-count="4">
                                    <ul class="item_list">
                                        <li>
                                            <a href="author-details">
                                                <div class="item">
                                                    <div class="img_block"><img src="../assets/img/pictures/team1.jpg" alt="Tom"></div>
                                                    <div class="carousel_body_author">
                                                        <div class="carousel_title_auth">
                                                            <h5>Tom Simpson</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-details"><div class="item">
                                                <div class="img_block"><img src="../assets/img/pictures/team2.jpg" alt="Anna"></div>
                                                <div class="carousel_body_author">
                                                    <div class="carousel_title_auth">
                                                        <h5>Anna Smith</h5>

                                                    </div>

                                                </div>
                                            </div></a>
                                        </li>
                                        <li>
                                            <a href="author-details">
                                                <div class="item">
                                                    <div class="img_block"><img src="../assets/img/pictures/team3.jpg" alt="John"></div>
                                                    <div class="carousel_body_author">
                                                        <div class="carousel_title_auth">
                                                            <h5>John Doe</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="author-details"><div class="item">
                                                <div class="img_block"><img src="../assets/img/pictures/team4.jpg" alt="Anna"></div>
                                                <div class="carousel_body_author">
                                                    <div class="carousel_title_auth">
                                                        <h5>Bella White</h5>

                                                    </div>

                                                </div>
                                            </div></a>
                                        </li>
                                        <li>
                                            <a href="author-details"><div class="item">
                                                <div class="img_block"><img src="../assets/img/pictures/team5.jpg" alt="John"></div>
                                                <div class="carousel_body_author">
                                                    <div class="carousel_title_auth">
                                                        <h5>Chris Redfield</h5>

                                                    </div>

                                                </div>
                                            </div></a>
                                        </li>
                                        <li>
                                            <a href=""><div class="item">
                                                <div class="img_block"><img src="../assets/img/pictures/team6.jpg" alt="Tom"></div>
                                                <div class="carousel_body_author">
                                                    <div class="carousel_title_auth">
                                                        <h5>Ada Wong</h5>
                                                    </div>
                                                </div>
                                            </div></a>
                                        </li>
                                        <li>
                                            <a href="author-details"><div class="item">
                                                <div class="img_block"><img src="../assets/img/pictures/hiring.jpg" alt="Tom"></div>
                                                <div class="carousel_body_author">
                                                    <div class="carousel_title_auth">
                                                        <h5>Hiring</h5>
                                                    </div>
                                                </div>
                                            </div></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div><!-- .team_slider -->
                            <a id="anchor8"></a>
                        </div>
                    </div><!-- .row-fluid -->
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->
                <div class="right-sidebar-block span3">
                    <aside class="sidebar">

                    </aside>
                </div><!-- .right-sidebar -->
                <div class="clear"><!-- ClearFix --></div>
            </div>
        </div><!-- .container -->
    </div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->

{{> footer }}