{{> header}}
<div class="main_wrapper"  style="margin-top: 8%">
    <!-- C O N T E N T -->
    <div class="content_wrapper background_color_gray">
        <div class="container">
            <div class="spinner" style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="content_block right-sidebar row">
                <div class="fl-container span12">
                    <div class="row">
                        {{# data}}
                            <div class="left-sidebar-block span5" style="margin-top: 10px; padding: 10px;">
                                <aside class="sidebar">
                                    <div class="img_block_books">
                                        <img src="{{image_url}}" alt="" class="img-responsive"
                                             onerror="this.src='../../assets/img/user.png';"
                                             style="margin-left-1%;max-height: 250px;">
                                    </div>
                                    <div class="module_cont"><h4 style="margin-left: 3%">{{author_name}}</h4>
                                        <p>{{description}}
                                    </div>
                                </aside>
                            </div><!-- .left-sidebar -->
                        {{/data}}
                        <div class="posts-block span7">
                            <div class="contentarea">                                {{> author_related_books}}                            </div>
                            <!-- .contentarea -->
                        </div>
                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->            </div>
        </div><!-- .container -->        {{> related_authors}}    </div><!-- .content_wrapper -->
</div><!-- .main_wrapper -->{{> footer}}
<script>
    $(document).ready(function () {
        $('#home').addClass('current-menu-parent');
    })</script>
