{{> header}}
<div class="main_wrapper" style="margin-top: 10%">
    <!-- C O N T E N T -->
    <div class="content_wrapper background_color_gray">
        <div class="container">
            <div class="spinner" style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="content_block right-sidebar row">
                <div class="fl-container span12">
                    <div class="row">
                        {{# data}}
                            <div class="left-sidebar-block span5" style="margin-top: 10px; padding: 10px;">
                                <aside class="sidebar">
                                    <div class="img_block_books">
                                        <img src="{{image_url}}" alt="" class="img-responsive"
                                             onerror="this.src='../../assets/img/author_detail.png';"
                                             style="margin-left:1%;max-height: 250px;margin-top: 0%">
                                    </div>
                                    <div class="module_cont">
                                        <h4 style="margin-left: 1%; margin-top: 4%">{{author_name}}</h4>
                                        <p>{{description}}
                                    </div>
                                </aside>
                            </div><!-- .left-sidebar -->
                        {{/data}}
                        <div class="posts-block span7">
                            <div class="contentarea">                                {{> author_related_books}}                            </div>
                            <!-- .contentarea -->
                        </div>
                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->            </div>
        </div><!-- .container -->
        <br>

<!--{{>left_recmnd_book}}-->
        {{> related_authors}}

    </div><!-- .content_wrapper -->
</div><!-- .main_wrapper -->{{> footer}}
<script>
    $(document).ready(function () {
        $('#home').addClass('current-menu-parent');
        $.ajax({
            type: "GET",
            url: "/getShelfRecommendedBooks",
            success: function (data) {
                data = JSON.parse(data);
                console.log(data)

                cardData = data['data'];
                var final_response = getRecommend(cardData, 5, data['ids'], data['wishlist']);
                $('#recommendedShelf').append(final_response);
                $('.item_shelf_rec').first().addClass('active');
                $("#myCarousel").carousel();
                $("#frame_recomm").hide();
                $("#loader").hide();


            },
            error: function (err) {
                $(".spinner").hide();

                console.log(err.responseText);
                return false;

            }
        });

    })

    function getRecommend(data, visibleCardCount, ids, wishlist) {
        var response = '', items = 0;
        var final_response = '';
        for (var i = 0; i < data.length; i++) {
            items++;
            var active = '';
            if (i == 0) {
                active = "active";
            }
            if (data[i]['_source'].image_url == null) {
                // var img = "../../assets/images/Default_Book_Thumbnail.png";
                var img = "../../assets/images/Default_Book_Thumbnail.png";
            }
            else {
                var img = data[i]['_source'].image_url;
            }

            if (ids.indexOf(parseInt(data[i]['_source'].title_id)) != -1) {
                var text = "Rented";
                action = "";
            }
            else {
                var action = "\'placeOrder(" + data[i]['_source'].title_id + ");\'"

                text = "Rent";
            }


            if (wishlist.indexOf(parseInt(data[i]['_source'].title_id)) != -1) {
                var image = "../../assets/img/Added_WL_Right.png"
                wish = "";
            }
            else {
                image = "../../assets/img/Added_WL_50.png";
                var wish = "\'wishlistAdd(" + data[i]['_source'].title_id + ");\'";
            }


            response += '<div class="col-md-2" style=width:18%;>' +
                    '<div class="item item_shadow">' +
                    '<div class="img_block_books"><a href="/book_details/' + data[i]['_source'].title_id + '/' + data[i]['_source'].title + '"><img src="' + img + '" onerror="this.src=\'../../assets/images/Default_Book_Thumbnail.png\'"></a></div>' +
                    '<div class="carousel_body_book">' +
                    '<div class="carousel_title_book"><h5 title="' + data[i]['_source'].title + '">' + data[i]['_source'].title + '</h5></div>' +
                    '<div class="carousel_desc">' +
                    '<div class="fram_btn">' +
                    '<a href="javascript:void(0)" class="shortcode_button btn_small btn_type1" title="Rent" onclick=' + action + ' id="rent_' + data[i]['_source'].title_id + '">' + text + '</a>' +
                    '<a href="javascript:void(0)" class="tiptip" title="Wishlist" onclick=' + wish + '><img id="wish_' + data[i]['_source'].title_id + '" class="wishlist_btn" src=' + image + ' alt="Smiley face" height="25" width="25"></a>' +
                    '<a href="javascript:void(0)" class="tiptip" title="Share"  data-id="' + data[i]['_source'].title_id + '" data-toggle="modal" data-target="#shareModal"><img  class="share_btn" src=../../assets/img/Engage.png alt="Smiley face" height="25" width="25"></a>' +

                    // '<a href="/book_details/' + data[i].id + '" id="' + data[i].id + '" class="tiptip" title="Read">Read</a>' +
                    '<div class="clear"></div>' +
                    '</div></div></div></div></div>';

            //if( i > 0 && i % 3 == 0){
            if (items == visibleCardCount) {

                final_response += '<div class="item item_shelf_rec' + active + '">' + response + '</div>';
                response = "";
                items = 0;
            }

        }
        if (items < visibleCardCount && items > 0) {
            final_response += '<div class="item item_shelf_rec ' + active + '">' + response + '</div>';
        }
        return final_response;
    }


</script>
