<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="ie ie9">
<!--<![endif]-->
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TTNHG82');</script>
    <!-- End Google Tag Manager -->
    <!--Twitter Tags-->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@JustBooksCLC">
    <meta name="twitter:title" content="{{#data}}{{#jb_info}}{{title}}{{/jb_info}}{{/data}}"/>
    <meta name="twitter:description" content="{{#data}}{{description}}{{/data}}">
    <meta name="twitter:image" content="{{#data}}{{image_url}}{{/data}}"/>
    <!--Facebook Tags-->

    <meta property="og:image" content="{{#data}}{{image_url}}{{/data}}"/>
    <meta property="og:description" content="{{#data}}{{description}}{{/data}}"/>
    <meta property="og:title" content="I found {{#data}}{{#jb_info}}{{title}}{{/jb_info}}{{/data}} on JustBooks and thought you might find it interesting! Sign up today to read"/>
    <meta property="og:type" content="book">
    <meta property="og:url"
          content="https://www.justbooks.in/{{#data}}{{#jb_info}}{{title}}{{/jb_info}}{{/data}}-by-{{#data}}{{#jb_info}}{{#author}}{{name}}{{/author}}{{/jb_info}}{{/data}}/book_details/{{#data}}{{#jb_info}}{{titleid}}{{/jb_info}}{{/data}}/>"

    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="description" content="{{#data}}{{description}}{{/data}}"/>
    <meta name="keywords" content="{{#data}}{{#jb_info}}{{title}}{{/jb_info}}{{/data}}"/>
    <link type="application/opensearchdescription+xml" rel="search" href="/osdd.xml?v=2"/>


    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../../../assets/img/favicon.ico">

    <link rel="apple-touch-icon" sizes="114x114" href="../../../assets/img/apple_icons_114x114.png">

    <title>JustBooks</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/theme_settings.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/color_theme.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/rs-settings.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/jquery-ui.css">
    <link rel="stylesheet" href="../../../assets/css/toastr.css">
    <link href="../../../assets/plugins/Star-Rating-Plugin-jQuery-Glyphicons/src/j-rating-advance/j-rating-advance.css"
          type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- price Tabel home page -->
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.css" />-->


    <link rel="stylesheet" href="../../../assets/css/price_table.css">


    <!--[if IE 8 ]>
    <script>
        var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
        for (var i = 0; i < e.length; i++) {
            document.createElement(e[i]);
        }
    </script><![endif]-->
    <script src="../../../assets/js/jquery-1.9.1.js"></script>
    <script src="../../../assets/js/jquery-ui.js"></script>
    <!-- Bootstrap is required -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="../../../assets/js/jquery.bcSwipe.js"></script>-->
    <!-- <script src="js/color_panel.js"></script> -->
    <script type="text/javascript" src="../../../assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/sorting.js"></script>

    <script type="text/javascript" src="../../../assets/js/toastr.js"></script>
    <script type="text/javascript" src="../../../assets/js/typeahead.js"></script>
    <script type="text/javascript" src="../../../assets/js/header.js?v1=6"></script>


    <!--<script  src="https://i.icomoon.io/public/temp/fe64edd509/UntitledProject/svgxuse.js"></script>-->
    <script type="text/javascript">

    </script>
    <script>
        $(document).bind("mobileinit", function () {
            $.mobile.ignoreContentEnabled = true;
            $.mobile.loadingMessage = false;
        });

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        //        ga('create', 'UA-102352169-1', 'none');
        ga('create', 'UA-29459013-1', 'auto');
        ga('send', 'pageview', location.pathname);


    </script>

</head>
<body data-enhance="false" data-role="page">

<header class="" >
    <div class="overlayDiv" style="display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:99;
        display: none;
        background-color: rgba(0, 0, 0, 0.3);"  onclick="closeNav()"></div>


    <!-- <!DOCTYPE html>

    <html lang="en" class="ie ie9"> -->

    <div id="flipkart-navbar">
        <div class="container-fluid">

            {{#flag}}
                <div class="row1">
                    <div class="col-sm-3 col-md-3 col-lg-3">

                    </div>

                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <ul class="largenav pull-left menu" id="menuHeader">
                            <li class="upper-links" id="whatsNewMenu"><a  rel="external" data-ajax="false" class="links" href="/#whatsNew">WHAT'S NEW</a></li>
                            <li class="upper-links" id="membershipPlansMenu"><a  rel="external" data-ajax="false" class="links" href="/#membershipPlans">MEMBERSHIP PLANS</a></li>
                            <li class="upper-links" id="blogMenu"><a class="links" rel="external" data-ajax="false" href="/#blog">BLOG</a></li>
                            <li class="upper-links" ><a class="links" target="_blank" rel="external" data-ajax="false"  href="http://culture.place">CULTURE.PLACE</a></li>
                            <li class="upper-links" id="storeMenu"><a class="links" rel="external" data-ajax="false" href="/store-locator">STORE LOCATOR</a></li>
                            <li class="upper-links" id="faqMenu"><a class="links" rel="external" data-ajax="false" href="/faq">FAQs</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 pull-left upper-links" id="welcome_msg">
                        <p id="welcomeId">Hi, {{name}} <a href="/logout/" rel="external" data-ajax="false" title="Logout" style="font-size: 14px; color: #1D2123; margin-left: 10px;"><i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
                    </div>
                </div>
                <div class="row row2">
                    <div class="mobile_header col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="col-xs-4 smallnav menu" style="margin-left: -12px;" >
                            <a href="/" class="logo" rel="external" data-ajax="false">
                                <img src="../../../assets/img/logo.svg" alt=""  class="logo_def" width="190px">
                                <img src="../../../assets/img/retina/logo.svg" alt="" class="logo_retina" width="120px">
                            </a>
                        </div>

                        <div class="col-xs-7 smallnav menu pull-left upper-links">
                            <p id="welcomeId" style="float: right; font-size: 11px; font-family: Arial;">Hi, {{name}} <a href="/logout/" rel="external" data-ajax="false" title="Logout" style="color: #1D2123;"><i class="fa fa-sign-out" aria-hidden="true"></i></a></p>

                        </div>

                        <h1 style="margin:0px;">
                            <span class="largenav" style="margin-top: -8%;">
                                <a href="/" class="logo" rel="external" data-ajax="false">
                                    <img src="../../../assets/img/logo.svg" alt=""  class="logo_def" width="190px">
                                    <img src="../../../assets/img/retina/logo.svg" alt="" class="logo_retina" width="100px">
                                </a>
                            </span>
                        </h1>
                    </div>
                    <div class="flipkart-navbar-search smallsearch col-sm-5 col-xs-12 col-md-5 col-lg-5" >

                        <div class="col-xs-1 smallnav menu" style="margin:0px; padding: 0px;">
                            <h3><span class="smallnav menu" onclick="openNav()">☰</span></h3>
                        </div>

                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 border_right">
                            <div class="input-group">
                                <input class="form-control flipkart-navbar-input" placeholder="Search books, authors and more..." name="srch-term" id="srch-term" type="text" value="{{query}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" onclick="searchClick()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="cart largenav col-sm-1 col-md-1 col-lg-1">
                            <a class="cart-button" href="javascript:void(0)" data-toggle="modal" data-target="#catModal" style="color: white!important; width:135px!important;">
                                <!-- Category -->
                                Browse Categories
                                <!-- <span class="item-number ">3</span> -->
                            </a>
                        </div>
                    </div>

                    <div class="cart largenav col-sm-1 col-md-1 col-lg-1" id="shelfButton" style="margin-left: 10%;" >
                        <a class="cart-button" rel="external" data-ajax="false" href="/shelf" style="color: white!important;">
                            <i class="fa fa-book" aria-hidden="true"></i> My Shelf
                            <!-- <span class="item-number ">3</span> -->
                        </a>
                    </div>
                    <div class="cart largenav col-sm-1 col-md-1 col-lg-1">

                        <a rel="external" data-ajax="false" target="_blank"href='https://play.google.com/store/apps/details?id=com.justbooks.in&utm_source=website&utm_campaign=website&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img style="width: 120px;" alt='Get it on Google Play' src='../../../assets/img/Playstore.png'/>
                        </a>

                    </div>
                    <!--  <div class="cart largenav col-sm-1 col-md-1 col-lg-1" style="margin-left: 2%" >
                         <a class="cart-button" href="/logout/">
                             <i class="fa fa-sign-out" aria-hidden="true"></i>
                             Log Out

                         </a>
                     </div> -->
                    <!-- <div class="col-sm-12 col-md-12 col-lg-12">
                    <a class="links" href="/shelf" id="welcomeId" style="float:left;margin-left:3.1%; padding:5px; font-family:Playfair Display">Welcome {{name}}</a>
                </div> -->
                </div>
            {{/flag}}

            {{#slider}}
                <div class="row1">
                    <div class="col-sm-3 col-md-3 col-lg-3">

                    </div>

                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <ul class="largenav pull-left menu" id="menuHeader" style="margin-left: -13px">
                            <li class="upper-links" id="whatsNewMenu"><a  rel="external" data-ajax="false" class="links" href="/#whatsNew">WHAT'S NEW</a></li>
                            <li class="upper-links" id="membershipPlansMenu"><a rel="external" data-ajax="false" class="links" href="/#membershipPlans">MEMBERSHIP PLANS</a></li>
                            <li class="upper-links" id="blogMenu"><a class="links" rel="external" data-ajax="false"  href="/#blog">BLOG</a></li>
                            <li class="upper-links" ><a class="links" target="_blank" rel="external" data-ajax="false"  href="http://culture.place">CULTURE.PLACE</a></li>
                            <li class="upper-links" id="storeMenu"><a class="links" rel="external" data-ajax="false" href="/store-locator">STORE LOCATOR</a></li>
                            <li class="upper-links" id="faqMenu"><a class="links" rel="external" data-ajax="false" href="/faq">FAQs</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2" id="welcome_msg">
                        <p id="welcomeId">
                            <a href="javascript:void(0)" id="memberlogin" title="Login" style="color: #1D2123;">
                                MEMBER LOGIN
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row row2">
                    <!-- <div class="col-xs-7">
                        <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ JustBooks</span></h2>
                    </div>
                    <div class="col-xs-4">
                        <p>hi, User..</p>
                    </div> -->
                    <div class="mobile_header col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="col-xs-4 smallnav menu" style="margin-left: -12px; margin-bottom: 10px;">

                            <a href="/" class="logo" rel="external" data-ajax="false">
                                <img src="../../../assets/img/logo.svg" alt=""  class="logo_def" width="190px">
                                <img src="../../../assets/img/retina/logo.svg" alt="" class="logo_retina" width="120px">
                            </a>

                        </div>
                        <div class="col-xs-8 smallnav menu">
                            <p id="welcomeId" class="upper-links" style="float: right;">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#login_popup" title="Login" style="color: #1D2123;">
                                    MEMBER LOGIN
                                </a>
                            </p>

                        </div>
                        <span class="largenav" style="margin-top: -5%;">
                            <a href="/" class="logo" rel="external" data-ajax="false">
                                <img src="../../../assets/img/logo.svg" alt=""  class="logo_def" width="190px">
                                <img src="../../../assets/img/retina/logo.svg" alt="" class="logo_retina" width="100px">
                            </a>
                        </span>
                    </div>
                    <div class="flipkart-navbar-search smallsearch col-xs-12 col-sm-7 col-md-7 col-lg-7" >
                        <div class="col-xs-1 smallnav menu" style="margin:0px; padding: 0px;">
                            <h3><span class="smallnav menu" onclick="openNav()">☰</span></h3>
                        </div>

                        <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9 border_right">
                            <div class="input-group">
                                <input class="form-control flipkart-navbar-input" placeholder="Search.." name="srch-term" id="srch-term" type="text" value="{{query}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" onclick="searchClick()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>

                        <div class="cart smallnav col-sm-1 col-md-1 col-lg-1" style="margin-left: 20px;">
                            <a class="cart-button" href="javascript:void(0)" data-toggle="modal" data-target="#catModal">
                                <!-- Category -->
                                CATEGORIES
                                <!-- <span class="item-number ">3</span> -->
                            </a>
                        </div>
                        <div class="cart largenav col-sm-1 col-md-1 col-lg-1">
                            <a class="cart-button" href="javascript:void(0)" data-toggle="modal" data-target="#catModal" style="color: white!important; width:135px!important;">
                                <!-- Category -->
                                Browse Categories
                                <!-- <span class="item-number ">3</span> -->
                            </a>
                        </div>
                    </div>
                    <div class="cart largenav col-sm-1 col-md-1 col-lg-1" style="margin-left: 3%;">
                        <a rel="external" data-ajax="false" target="_blank"href='https://play.google.com/store/apps/details?id=com.justbooks.in&utm_source=website&utm_campaign=website&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img style="width: 120px;" alt='Get it on Google Play' src='../../../assets/img/Playstore.png'/>
                        </a>
                    </div>

                </div>




            {{/slider}}

        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <div class="container" style="background-color: #323232;">

            <span class="sidenav-heading">
                <a href="/" rel="external" data-ajax="false" style="margin-top: 0px; margin-bottom: 0px; margin-left: 15px;"><i class="fa fa-home" aria-hidden="true"></i></a>
                <!--<a href="javascript:void(0)" onclick="closeNav()" style="margin-left: 60%; margin-top: 8px;">×</a>-->
            </span>

        </div>
        <ul id="menuHeader" style="text-align: left">
            <li class="upper-links" id="whatsNewMenu"><a class="links" rel="external" data-ajax="false" href="/#whatsNew" style="color: black!important;">WHAT'S NEW</a></li><br>
            <li class="upper-links" id="membershipPlansMenu"><a class="links" rel="external" data-ajax="false" href="/#membershipPlans" style="color: black!important;">MEMBERSHIP PLANS</a></li><br>
            <li class="upper-links" id="blogMenu"><a class="links" rel="external" data-ajax="false" href="/#blog" style="color: black!important;">BLOG</a></li><br>
            <li class="upper-links" ><a class="links" target="_blank" href="http://culture.place" style="color: black!important;">CULTURE.PLACE</a></li><br>
            <li class="upper-links" id="storeMenu"><a class="links" rel="external" data-ajax="false"href="/store-locator" style="color: black!important;">STORE LOCATOR</a></li><br>
            <li class="upper-links" id="faqMenu"><a class="links" rel="external" data-ajax="false" href="/faq" style="color: black!important;">FAQs</a></li><br>
            {{#flag}}
                <li class="upper-links"><a class="links" rel="external" data-ajax="false" href="/shelf" style="color: black!important;">MY SHELF</a></li><br>
            {{/flag}}
            <li class="upper-links"><a class="links" rel="external" data-ajax="false" href="/logout/" style="color: black!important;">LOG OUT </a></li>

        </ul>
    </div>

    <div id="login_popup" class="modal fade " role="dialog" style="z-index: 10000">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" style="padding: 0px;">

                    <div id="main" class="login_form" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <!-- Create div first for Login Form-->
                        <div id="first" class="loginDIv login_form_fram_one" >
                            <form action="" method="post">
                                <h2>SIGN-IN</h2>
                                <hr style="color:#000; font-size:2px; height:10px; padding-top:5px;">
                                <div class="form-group">
                                    <input style="text-transform:lowercase" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Email" value="">
                                </div>

                                <div class="form-group">
                                    <input class="loginPwd form-control" type="password" name="password" id="password" tabindex="2" placeholder="Password">
                                </div>
                                <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-bottom:0px;">
                                    <input type="button" class="shortcode_button btn_small btn_type1" id="login" value="Sign In" onclick="signupClick()" />

                                </div>
                                <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-bottom:0px;">
                                    <p id="two"><a href="#" id="forgotpassBtn" >Forgot Password?</a></p>
                                </div><br><br>
                                <p id="one">Not a member yet? <a href="/#membershipPlans" id="signupLink" class="signup">Sign up here</a></p>
                            </form>
                        </div>

                        <!-- Create div second for Signup Form-->
                        <div id="second" class="login_form_fram_second" style="display:none">
                            <form >
                                <h2>Submit your registered email ID to generate new password .</h2>
                                <hr style="color:#000; font-size:2px; height:10px; padding-top:5px;">
                                <div class="form-group">
                                    <input type="text" name="email" id="forgetEmail" tabindex="1" class="form-control" placeholder="Email" value="">
                                </div>
                                <div class="">
                                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-bottom:0px;">
                                        <input type="button" class="shortcode_button btn_small btn_type1" id="forgetpassword" value="Submit" onclick="forgotPassword()" />
                                    </div>
                                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom:0px;">
                                        <p id="two"><a href="#" id="signin_form" > Sign-in?</a></p>
                                    </div>
                                </div><br><br>
                                <p id="one">Not a member yet? <a href="/#membershipPlans" id="signupLink" class="signup">Sign up here</a></p>

                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <script>

        $('.signup').click(function() {

            $('#login_popup').modal('hide');

        });

        $('#memberlogin').click(function(){

            $('#login_popup').modal('show');
            $('#second').hide();
            $('#first').show();

        });

        $("#forgotpassBtn").click(function(){
            // $("#first").slideDown("slow", function(){
            //     $("#second").slideUp("slow");
            // });
            $('#login_popup').modal('show');
            $('#first').hide();
            $('#second').show();
        });

        $("#signin_form").click(function(){
            // $("#first").slideDown("slow", function(){
            //     $("#second").slideUp("slow");
            // });
            $('#login_popup').modal('show');
            $('#first').show();
            $('#second').hide();
        });
    </script>

    <div id="shareModal" class="modal fade " role="dialog" style="z-index: 10000">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share</h4>
                </div>
                <div class="modal-body">
                    <div id="share">

                        <!-- facebook -->
                        <a class="facebook" id="sharefb" rel="external" data-ajax="false" href="" target="blank"><i class="fa fa-facebook"></i></a>

                        <!-- twitter -->
                        <a class="twitter" id="sharetw" rel="external" data-ajax="false" href=" " target="blank"><i class="fa fa-twitter"></i></a>

                        <!-- google plus -->
                        <a class="googleplus"  id="sharegp" rel="external" data-ajax="false" href="https://plus.google.com/share?url={{url}}" target="blank"><i class="fa fa-google-plus"></i></a>

                        <!-- linkedin -->
                        <!--<a class="instagram" id="shareig" href="" target="blank"><i class="fa fa-instagram"></i></a>-->

                        <!-- pinterest -->


                    </div>
                </div>

            </div>

        </div>
    </div>
    <div id="memberModel" class="modal fade modalStyle" role="dialog" style="z-index: 10000">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">There are multiple accounts associated with this ID. Please select one to proceed</h4>
                </div>

                <div class="modal-body">

                    <div class="row text-left" style="margin-left: 15px;" id="memberContent">

                    </div>

                    <br><br>
                    <div class="row " style="margin-left: 35%">
                        <div class="col-sm-6">
                            <button class="btn shortcode_button btn_medium btn_type1" type="button" id="save_member_value">Submit</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div id="catModal" class="modal fade modalStyle" role="dialog" style="z-index: 10000">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Search by Category</h4>
                </div>

                <div class="modal-body">

                    <div class ="row" style="margin-left: 0%">
                        {{#cat}}
                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 checkBox" style="margin-bottom: 1%;text-align: left;">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="{{ID}}" name="Checkbox[]">{{NAME}}</label>
                            </div>

                        {{/cat}}


                    </div>
                    <br><br>
                    <div class="row catModal_button">
                        <div class="col-sm-6">
                            <button class="btn shortcode_button btn_medium btn_type1" type="button" id="save_value">Search</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTNHG82"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script type="text/javascript">
        function openNav() {
            $(".overlayDiv").show();
            document.getElementById("mySidenav").style.width = "70%";
            // document.getElementById("flipkart-navbar").style.width = "50%";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0)";
            $(".overlayDiv").hide();
        }
    </script>

    <script>
        $(document).ready(function() {
            $('#save_value').click(function(){
                var val = [];
                $(':checkbox:checked').each(function(i){
                    val[i] = $(this).val();
                });
                console.log(val.join());
                window.location.href="/searchByCategory?id="+val.join();
            });

            // Add scrollspy to <body>
            $('body').scrollspy({target: ".navbar", offset: 50});

            if (location.pathname == "/" ||location.pathname == "/#whatsNew" ||location.pathname == "/#membershipPlans" ||location.pathname == "/#blog"  ) {
//            $("#menuHeader li").removeClass("current-menu-parent");
//            $(hash+"Menu").addClass('current-menu-parent');

                $("#menuHeader a").on('click', function (event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;
                        $("#menuHeader li").removeClass("current-menu-parent");

                        $(hash+"Menu").addClass('current-menu-parent');

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top - 150
                        },800);
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;



//                    });$('html, body').animate({
//                        scrollTop: $(hash).offset().top - 100
//                    },800, function () {
//
//                        // Add hash (#) to URL when done scrolling (default click behavior)
//                        window.location.hash = hash;
//                    });
                    }  // End if
                });
            }


            $("#signupLink ").on('click', function (event) {


                if (this.hash !== "") {
                    // Prevent default anchor click b
                    event.preventDefault();
                    $("#menuHeader li").removeClass("current-menu-parent");

                    $(hash+"Menu").addClass('current-menu-parent');

                    // Store hash
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top - 150
                    }, 800);
                    window.location.hash = hash;
                }
            });

        });

    </script>


</header>



<!--<div id="shareModal" class="modal fade modalStyle" role="dialog" style="z-index: 10000">-->
<!--<div class="modal-dialog" style="top:-60%;width:100%">-->

<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--<h4 class="modal-title">Share</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<div id="share">-->

<!--&lt;!&ndash; facebook &ndash;&gt;-->
<!--<a class="facebook" id="sharefb" href="" target="blank"><i class="fa fa-facebook"></i></a>-->

<!--&lt;!&ndash; twitter &ndash;&gt;-->
<!--<a class="twitter" id="sharetw" href=" " target="blank"><i class="fa fa-twitter"></i></a>-->

<!--&lt;!&ndash; google plus &ndash;&gt;-->
<!--<a class="googleplus"  id="sharegp" href="https://plus.google.com/share?url={{url}}" target="blank"><i class="fa fa-google-plus"></i></a>-->

<!--&lt;!&ndash; linkedin &ndash;&gt;-->
<!--&lt;!&ndash;<a class="instagram" id="shareig" href="" target="blank"><i class="fa fa-instagram"></i></a>&ndash;&gt;-->

<!--&lt;!&ndash; pinterest &ndash;&gt;-->


<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--function openNav() {-->
<!--document.getElementById("mySidenav").style.width = "70%";-->
<!--// document.getElementById("flipkart-navbar").style.width = "50%";-->
<!--document.body.style.backgroundColor = "rgba(0,0,0,0.4)";-->
<!--}-->

<!--function closeNav() {-->
<!--document.getElementById("mySidenav").style.width = "0";-->
<!--document.body.style.backgroundColor = "rgba(0,0,0,0)";-->
<!--}-->
<!--</script>-->

<!--<script>-->
<!--$(document).ready(function() {-->
<!--// Add scrollspy to <body>-->
<!--$('body').scrollspy({target: ".navbar", offset: 50});-->

<!--// Add smooth scrolling on all links inside the navbar-->
<!--if (location.pathname == "/" ||location.pathname == "/#whatsNew" ||location.pathname == "/#membershipPlans" ||location.pathname == "/#blog"  ) {-->
<!--//            $("#menuHeader li").removeClass("current-menu-parent");-->
<!--//            $(hash+"Menu").addClass('current-menu-parent');-->

<!--$("#menuHeader a").on('click', function (event) {-->
<!--// Make sure this.hash has a value before overriding default behavior-->
<!--if (this.hash !== "") {-->
<!--// Prevent default anchor click behavior-->
<!--event.preventDefault();-->

<!--// Store hash-->
<!--var hash = this.hash;-->
<!--$("#menuHeader li").removeClass("current-menu-parent");-->

<!--$(hash+"Menu").addClass('current-menu-parent');-->

<!--// Using jQuery's animate() method to add smooth page scroll-->
<!--// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area-->
<!--$('html, body').animate({-->
<!--scrollTop: $(hash).offset().top - 150-->
<!--},800);-->
<!--// Add hash (#) to URL when done scrolling (default click behavior)-->
<!--window.location.hash = hash;-->


<!--//                    });$('html, body').animate({-->
<!--//                        scrollTop: $(hash).offset().top - 100-->
<!--//                    },800, function () {-->
<!--//-->
<!--//                        // Add hash (#) to URL when done scrolling (default click behavior)-->
<!--//                        window.location.hash = hash;-->
<!--//                    });-->
<!--}  // End if-->
<!--});-->
<!--}-->


<!--$("#signupLink ").on('click', function (event) {-->


<!--if (this.hash !== "") {-->
<!--// Prevent default anchor click b-->
<!--event.preventDefault();-->
<!--$("#menuHeader li").removeClass("current-menu-parent");-->

<!--$(hash+"Menu").addClass('current-menu-parent');-->

<!--// Store hash-->
<!--var hash = this.hash;-->
<!--$('html, body').animate({-->
<!--scrollTop: $(hash).offset().top - 150-->
<!--}, 800);-->
<!--window.location.hash = hash;-->
<!--}-->
<!--});-->

<!--});-->

<!--</script>-->
<script type="text/javascript"  src="../../assets/js/shorten.js"></script>

<style>.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}</style>
<div class="main_wrapper background_color_gray" id="firstDiv">
    <!-- C O N T E N T -->
    <div id="reviewModal" class="modal fade " role="dialog" style="z-index: 10000">
        <div class="modal-dialog " >

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Your review</h4>
                </div>
                <div class="modal-body">

                    <p id="reviewText"></p>


                </div>

            </div>

        </div>
    </div>

    <div class="page_title_block">
        <div class="container">
            <div class="bg_title" id="bg_title_shelf"><h4 class="headInModule">Book Details</h4></div>

        </div>
    </div>
    <hr>
    <div class="content_wrapper">
        <!--<div class="page_title_block">
            <div class="container">
                <h2 class="title">Book Details</h2>
                <div class="breadcrumbs"><a href="home.html">Home</a><a href="#">Pages</a><span>About</span></div>
            </div>
        </div>-->
        <div class="container">
            <div class="spinner" style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="content_block no-sidebar row">
                <div class="fl-container span12 col-xs-12">
                    <div class="row">
                        <div class="posts-block col-xs-12 span12">
                            <div class="contentarea">
                                {{# data}}
                                    <div class="row-fluid">
                                        <div class="span2 module_cont module_text_area">

                                        </div>
                                        <div class="span3 module_cont module_text_area ">
                                            <div class="details_img" style="height: 300px;">
                                                <img src="{{image_url}}" alt="" align="middle"
                                                     onerror="this.src='../../assets/images/Default_Book_Thumbnail.png';"/>
                                            </div>


                                            <div class="row">
                                                {{#flag}}
                                                    <a href="javascript:void(0)" class="tiptip"
                                                       onclick='wishlistAdd({{titleid}});' style="margin-left: 20%">
                                                        <img class="wishlist_btn" id="wishlistMain" alt="" height="25"
                                                             width="25">
                                                    </a>
                                                {{/flag}}
                                                <a href="javascript:void(0)" class="tiptip" title="Share"
                                                   data-id="{{titleid}}" data-title="{{#jb_info}}{{title}}{{/jb_info}}"
                                                   data-toggle="modal" data-target="#shareModal"
                                                   style="margin-left: 10%">
                                                    <img class="share_btn" src=../../assets/img/Engage.png
                                                         alt="Smiley face" height="25" width="25"></a>
                                            </div>
                                        </div>

                                        <div class="span6 module_cont module_text_area">
                                            {{#jb_info}}
                                                <h4 style="margin-top: -10px;">{{title}}</h4>
                                                {{#author}}
                                                    <p><strong>By: </strong><a rel="external" data-ajax="false" id="linkP"
                                                                               href="/Books-by-{{name}}/author_details/{{id}}">{{name}} </a>
                                                    </p>
                                                {{/author}}
                                            {{/jb_info}}
                                            <p class="comment"> {{description}}</p>
                                            {{#jb_info}}
                                                <div class="row-fluid" id="pad_10px">
                                                    <div class="span3 module_cont module_text_area module_none_padding1">
                                                        <h4>{{times_rented}} Times</h4>
                                                        <h6>Rented Till Now</h6>

                                                    </div><!-- .module_cont -->
                                                    <div class="span3 module_cont module_text_area module_none_padding2">
                                                        <h4>{{avg_reading_time}} Days</h4>
                                                        <h6>Average Reading Time</h6>

                                                    </div><!-- .module_cont -->

                                                </div><!-- .row-fluid -->
                                            {{/jb_info}}
                                        </div>
                                        <div class="span6 module_cont module_text_area">

                                            {{#flag}}

                                                {{#rateFlag}}
                                                    <a href="javascript:void(0)"
                                                       class="shortcode_button btn_small btn_type10"
                                                       data-toggle="modal" data-text="{{review}}"
                                                       data-target="#reviewModal">Rate/Review</a>
                                                {{/rateFlag}}
                                                {{^rateFlag}}<a href="#reviews-anchor"
                                                                class="shortcode_button btn_small btn_type10"
                                                                id="open-review-box">Rate/Review</a>{{/rateFlag}}
                                            {{/flag}}

                                            {{#slider}}

                                                <a href="javascript:void(0)"
                                                   class="shortcode_button btn_small btn_type10"
                                                   onclick="checkRate()">Rate/Review</a>
                                            {{/slider}}

                                            <div class="row" id="post-review-box" style="display:none;">
                                                <div class="col-md-12">
                                                    <form onsubmit="return false">
                                                        <input id="ratings-hidden" name="rating" type="hidden">
                                                        <div class="stars starrr col-md-4" data-rating="0"></div>
                                                        <textarea class="form-control animated" cols="50"
                                                                  id="new-review" name="comment"
                                                                  placeholder="Enter your review here..."
                                                                  rows="5"></textarea>

                                                        <div class="stars col-md-6">
                                                            <a class="btn btn-danger btn-sm" href="#"
                                                               id="close-review-box"
                                                               style="display:none; margin-right: 10px;">
                                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</a>

                                                            <button class="btn btn-success btn-sm" type="button"
                                                                    onclick="giveReview({{flag}})"><span
                                                                    class="glyphicon glyphicon-ok"></span>&nbsp;Save
                                                            </button>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                (function (e) {
                                                    var t, o = {
                                                                className: "autosizejs",
                                                                append: "",
                                                                callback: !1,
                                                                resizeDelay: 10
                                                            },
                                                            i = '<textarea tabindex="-1" style="position:absolute; top:-999px; left:0; right:auto; bottom:auto; border:0; padding: 0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; word-wrap:break-word; height:0 !important; min-height:0 !important; overflow:hidden; transition:none; -webkit-transition:none; -moz-transition:none;"/>',
                                                            n = ["fontFamily", "fontSize", "fontWeight", "fontStyle", "letterSpacing", "textTransform", "wordSpacing", "textIndent"],
                                                            s = e(i).data("autosize", !0)[0];
                                                    s.style.lineHeight = "99px", "99px" === e(s).css("lineHeight") && n.push("lineHeight"), s.style.lineHeight = "", e.fn.autosize = function (i) {
                                                        return this.length ? (i = e.extend({}, o, i || {}), s.parentNode !== document.body && e(document.body).append(s), this.each(function () {
                                                            function o() {
                                                                var t, o;
                                                                "getComputedStyle" in window ? (t = window.getComputedStyle(u, null), o = u.getBoundingClientRect().width, e.each(["paddingLeft", "paddingRight", "borderLeftWidth", "borderRightWidth"], function (e, i) {
                                                                    o -= parseInt(t[i], 10)
                                                                }), s.style.width = o + "px") : s.style.width = Math.max(p.width(), 0) + "px"
                                                            }

                                                            function a() {
                                                                var a = {};
                                                                if (t = u, s.className = i.className, d = parseInt(p.css("maxHeight"), 10), e.each(n, function (e, t) {
                                                                            a[t] = p.css(t)
                                                                        }), e(s).css(a), o(), window.chrome) {
                                                                    var r = u.style.width;
                                                                    u.style.width = "0px", u.offsetWidth, u.style.width = r
                                                                }
                                                            }

                                                            function r() {
                                                                var e, n;
                                                                t !== u ? a() : o(), s.value = u.value + i.append, s.style.overflowY = u.style.overflowY, n = parseInt(u.style.height, 10), s.scrollTop = 0, s.scrollTop = 9e4, e = s.scrollTop, d && e > d ? (u.style.overflowY = "scroll", e = d) : (u.style.overflowY = "hidden", c > e && (e = c)), e += w, n !== e && (u.style.height = e + "px", f && i.callback.call(u, u))
                                                            }

                                                            function l() {
                                                                clearTimeout(h), h = setTimeout(function () {
                                                                    var e = p.width();
                                                                    e !== g && (g = e, r())
                                                                }, parseInt(i.resizeDelay, 10))
                                                            }

                                                            var d, c, h, u = this, p = e(u), w = 0,
                                                                    f = e.isFunction(i.callback), z = {
                                                                        height: u.style.height,
                                                                        overflow: u.style.overflow,
                                                                        overflowY: u.style.overflowY,
                                                                        wordWrap: u.style.wordWrap,
                                                                        resize: u.style.resize
                                                                    }, g = p.width();
                                                            p.data("autosize") || (p.data("autosize", !0), ("border-box" === p.css("box-sizing") || "border-box" === p.css("-moz-box-sizing") || "border-box" === p.css("-webkit-box-sizing")) && (w = p.outerHeight() - p.height()), c = Math.max(parseInt(p.css("minHeight"), 10) - w || 0, p.height()), p.css({
                                                                overflow: "hidden",
                                                                overflowY: "hidden",
                                                                wordWrap: "break-word",
                                                                resize: "none" === p.css("resize") || "vertical" === p.css("resize") ? "none" : "horizontal"
                                                            }), "onpropertychange" in u ? "oninput" in u ? p.on("input.autosize keyup.autosize", r) : p.on("propertychange.autosize", function () {
                                                                "value" === event.propertyName && r()
                                                            }) : p.on("input.autosize", r), i.resizeDelay !== !1 && e(window).on("resize.autosize", l), p.on("autosize.resize", r), p.on("autosize.resizeIncludeStyle", function () {
                                                                t = null, r()
                                                            }), p.on("autosize.destroy", function () {
                                                                t = null, clearTimeout(h), e(window).off("resize", l), p.off("autosize").off(".autosize").css(z).removeData("autosize")
                                                            }), r())
                                                        })) : this
                                                    }
                                                })(window.jQuery || window.$);

                                                var __slice = [].slice;
                                                (function (e, t) {
                                                    var n;
                                                    n = function () {
                                                        function t(t, n) {
                                                            var r, i, s, o = this;
                                                            this.options = e.extend({}, this.defaults, n);
                                                            this.$el = t;
                                                            s = this.defaults;
                                                            for (r in s) {
                                                                i = s[r];
                                                                if (this.$el.data(r) != null) {
                                                                    this.options[r] = this.$el.data(r)
                                                                }
                                                            }
                                                            this.createStars();
                                                            this.syncRating();
                                                            this.$el.on("mouseover.starrr", "span", function (e) {
                                                                return o.syncRating(o.$el.find("span").index(e.currentTarget) + 1)
                                                            });
                                                            this.$el.on("mouseout.starrr", function () {
                                                                return o.syncRating()
                                                            });
                                                            this.$el.on("click.starrr", "span", function (e) {
                                                                return o.setRating(o.$el.find("span").index(e.currentTarget) + 1)
                                                            });
                                                            this.$el.on("starrr:change", this.options.change)
                                                        }

                                                        t.prototype.defaults = {
                                                            rating: void 0,
                                                            numStars: 5,
                                                            change: function (e, t) {
                                                            }
                                                        };
                                                        t.prototype.createStars = function () {
                                                            var e, t, n;
                                                            n = [];
                                                            for (e = 1, t = this.options.numStars; 1 <= t ? e <= t : e >= t; 1 <= t ? e++ : e--) {
                                                                n.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"))
                                                            }
                                                            return n
                                                        };
                                                        t.prototype.setRating = function (e) {
                                                            if (this.options.rating === e) {
                                                                e = void 0
                                                            }
                                                            this.options.rating = e;
                                                            this.syncRating();
                                                            return this.$el.trigger("starrr:change", e)
                                                        };
                                                        t.prototype.syncRating = function (e) {
                                                            var t, n, r, i;
                                                            e || (e = this.options.rating);
                                                            if (e) {
                                                                for (t = n = 0, i = e - 1; 0 <= i ? n <= i : n >= i; t = 0 <= i ? ++n : --n) {
                                                                    this.$el.find("span").eq(t).removeClass("glyphicon-star-empty").addClass("glyphicon-star")
                                                                }
                                                            }
                                                            if (e && e < 5) {
                                                                for (t = r = e; e <= 4 ? r <= 4 : r >= 4; t = e <= 4 ? ++r : --r) {
                                                                    this.$el.find("span").eq(t).removeClass("glyphicon-star").addClass("glyphicon-star-empty")
                                                                }
                                                            }
                                                            if (!e) {
                                                                return this.$el.find("span").removeClass("glyphicon-star").addClass("glyphicon-star-empty")
                                                            }
                                                        };
                                                        return t
                                                    }();
                                                    return e.fn.extend({
                                                        starrr: function () {
                                                            var t, r;
                                                            r = arguments[0], t = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
                                                            return this.each(function () {
                                                                var i;
                                                                i = e(this).data("star-rating");
                                                                if (!i) {
                                                                    e(this).data("star-rating", i = new n(e(this), r))
                                                                }
                                                                if (typeof r === "string") {
                                                                    return i[r].apply(i, t)
                                                                }
                                                            })
                                                        }
                                                    })
                                                })(window.jQuery, window);
                                                $(function () {
                                                    return $(".starrr").starrr()
                                                })

                                                $(function () {

                                                    $('#new-review').autosize({append: "\n"});

                                                    var reviewBox = $('#post-review-box');
                                                    var newReview = $('#new-review');
                                                    var openReviewBtn = $('#open-review-box');
                                                    var closeReviewBtn = $('#close-review-box');
                                                    var ratingsField = $('#ratings-hidden');

                                                    openReviewBtn.click(function (e) {
                                                        var flag = localStorage.getItem("flag");
                                                        if (flag === "false") {
                                                            toastr.error("Please sign in to rate or review a book !");
                                                            return false;
                                                        }


                                                        reviewBox.slideDown(400, function () {
                                                            $('#new-review').trigger('autosize.resize');
                                                            newReview.focus();
                                                        });
                                                        openReviewBtn.fadeOut(100);
                                                        closeReviewBtn.show();
                                                    });

                                                    closeReviewBtn.click(function (e) {
                                                        e.preventDefault();
                                                        reviewBox.slideUp(300, function () {
                                                            newReview.focus();
                                                            openReviewBtn.fadeIn(200);
                                                        });
                                                        closeReviewBtn.hide();

                                                    });

                                                    $('.starrr').on('starrr:change', function (e, value) {
                                                        ratingsField.val(value);
                                                    });
                                                });
                                            </script>

                                            <!--{{#flag}}-->
                                                    <!--<a href="javascript:void(0)" id="availibilityCheck"-->
                                                       <!--class="shortcode_button btn_small btn_type10"-->
                                                       <!--onclick="checkAvailability({{titleid}})">Check Availability</a>-->
                                            <!--{{/flag}}-->
                                            {{#flag}}
                                                {{#Currentflag}}
                                                    <a href="javascript:void(0)" id="{{rental}}"
                                                       class="shortcode_button btn_small btn_type10 returnClass "
                                                       onclick="cancelOrder({{rental}},{{titleid}})">Return Book</a>
                                                {{/Currentflag}}

                                                {{^Currentflag}}

                                                    <a href="javascript:void(0)"
                                                       class="shortcode_button btn_small btn_type1" title="Rent"
                                                       onclick="placeOrder({{titleid}});" id="rent_{{titleid}}">Rent</a>
                                                {{/Currentflag}}
                                            {{/flag}}
                                            <script type="text/javascript">

                                                var _gaq = _gaq || [];
                                                _gaq.push(['_setAccount', 'UA-36251023-1']);
                                                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                                                _gaq.push(['_trackPageview']);

                                                (function () {
                                                    var ga = document.createElement('script');
                                                    ga.type = 'text/javascript';
                                                    ga.async = true;
                                                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                                    var s = document.getElementsByTagName('script')[0];
                                                    s.parentNode.insertBefore(ga, s);
                                                })();

                                            </script>

                                        </div>
                                    </div><!-- .row-fluid -->


                                    <div class="module_line_trigger" data-option=""
                                         data-background="#fff url(img/) no-repeat center"
                                         data-top-padding="top_padding_normal"
                                         data-bottom-padding="module_normal_padding" style="margin-left: -10%">
                                        <div class="row-fluid" id="relatedBooks">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12 module_cont module_bookslider"
                                                 style="padding-left: 0 !important;">
                                                <div class="bg_title"><a id="realted"></a><h4 class="headInModule">
                                                    Related Books</h4></div>

                                                <div class="container">

                                                    <div class="row carousel_l_m">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel_book_details"
                                                             style="padding-left: 0 !important;">
                                                            <div id="myCarousel"
                                                                 class="carousel slide multi-item-carousel">
                                                                <div class="carousel-inner carouselslider"
                                                                     id="releatedBooks"
                                                                >

                                                                </div>
                                                                <div id="frame_new_rel" class="loader_fram">
                                                                    <div id="loader_rel"
                                                                         style="display: block;margin-left: 43%">
                                                                        <img src="../../assets/img/loader.gif"
                                                                             id="loader_image">
                                                                    </div>
                                                                </div>
                                                                <a class="left carousel-control" href="#myCarousel"
                                                                   data-slide="prev"><i
                                                                        class="glyphicon glyphicon-chevron-left"></i></a>
                                                                <a class="right carousel-control" href="#myCarousel"
                                                                   data-slide="next"><i
                                                                        class="glyphicon glyphicon-chevron-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <a id="anchor8"></a>
                                            </div>
                                        </div>

                                    </div><!-- .module_line_trigger -->

                                {{/data}}

                            </div><!-- .contentarea -->

                        </div>
                        <div class="left-sidebar-block span3">
                            //Sidebar Text
                        </div><!-- .left-sidebar -->
                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->
                <div class="right-sidebar-block span3">
                    <aside class="sidebar">

                    </aside>
                </div><!-- .right-sidebar -->
                <div class="clear"><!-- ClearFix --></div>
            </div>
        </div><!-- .container -->
    </div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->
<script src="../../assets/js/book_details.js?v=3"></script>

{{> footer}}

<script type="text/javascript">

    $(document).ready(function () {
       var linkV= $("#linkP").attr("href").replace(/\s+/g, '-')
        $("#linkP").attr('href',linkV);
        <!--$('head').prepend('<meta property="og:type"               content="book" />');-->
        <!--$('head').prepend('<meta property="og:title"              content="{{#data}}{{#jb_info}}{{title}}{{/jb_info}}{{/data}}" />');-->
        <!--$('head').prepend('<meta property="og:description"        content="{{#data}}{{description}}{{/data}}" />');-->
        <!--$('head').prepend('<meta property="og:image"              content="{{#data}}{{image_url}}{{/data}}" />');-->

        <!--$('head').prepend('<meta name="twitter:card" content="product">');-->
        <!--$('head').prepend('<meta name="twitter:site" content="@JustBooksCLC">');-->
        <!--$('head').prepend(' <meta name="twitter:description" content="{{#data}}{{description}}{{/data}}">');-->
        <!--$('head').prepend(' <meta name="twitter:title" content="{{#data}}{{#jb_info}}{{title}}{{/jb_info}}{{/data}}" />');-->
        <!--$('head').prepend('<meta name="twitter:image"  content="{{#data}}{{image_url}}{{/data}}" />');-->


        $("#myCarousel").swiperight(function () {
            $(this).carousel('prev');
        });
        $("#myCarousel").swipeleft(function () {
            $(this).carousel('next');
        });
    });


    $(document).ready(function () {

        $(".comment").shorten({
            "showChars": 440,
            "moreText": "Read More",
            "lessText": "Less",
        });

    });
</script>
<script type="application/javascript">
    $(document).ready(function () {

        var id = "{{titleid}}";
        logClick("On load","Book Details",id);

        console.log(id)

        $.ajax({
            type: "GET",
            url: "/getRelatedBooksNew?id=" + id,
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                cardData = data['data'];
                var flag = data['flag'];
                if (data['wishlist'].indexOf(parseInt(id)) != -1) {
                    $("#wishlistMain").attr("src", "../../assets/img/Added_WL_Right.png");
                }
                else {
                    $("#wishlistMain").attr("src", "../../assets/img/Added_WL_50.png");

                }
                if (cardData == "No Titles") {
                    $("#relatedBooks").hide();
                    return false;
                }
                var w = window.outerWidth;
                var h = window.outerHeight;
                if (w < 750) {
                    var final_response = getCardRelated(cardData, 2, data['ids'], data['wishlist'], flag);
                } else {
                    var final_response = getCardRelated(cardData, 5, data['ids'], data['wishlist'], flag);
                }


                $('#releatedBooks').append(final_response);
                $('.item').first().addClass('active');
                $("#myCarousel").carousel();
                $("#frame_new_rel").hide();
                $("#loader_rel").hide();


                $(".spinner").hide()
            },
            error: function (err) {
                console.log(err);
                toastr.error('Something went wrong  !');
                $(".spinner").hide();

            }

        });


        $('#home').addClass('current-menu-parent');

    })

    function giveReview(flag) {
        if (flag === 0) {
            toastr.error('Please sign in to submit a review !').css("width", "500px");
            return false;
        }

        var title = "{{titleid}}";
        var ratings = $("#ratings-hidden").val();
        var review = $("#new-review").val();

        if (ratings === "" || ratings === 0) {
            toastr.error('Please give a rating in order to submit !').css("width", "500px");
            return false;
        }
        if (review === "" || review === 0) {
            toastr.error('Please give a review in order to submit !').css("width", "500px");
            return false;
        }


        $(".spinner").show();

        $.ajax({
            type: "POST",
            url: "/submitReview",
            data: {'rate': ratings, 'review': review, 'title': title},

            success: function (data) {
                console.log(JSON.parse(data));
                $(".spinner").hide();
                if (JSON.parse(data) === "failure") {
                    toastr.error('Please sign in to submit a review  !');
                }
                else {
                    toastr.success('Successfully submitted your review, Thank you  !');
                }
                $(".spinner").hide();
                console.log(data);
            },
            error: function (err) {
                console.log(err);
                toastr.error('Something went wrong  !');
                $(".spinner").hide();

            }

        });
    }
    function cancelOrder(rental, id) {
        var answer = confirm("Are you sure you want to cancel the order?");

        if (!answer) {
            return false;
        }
        $(".spinner").show();

        $.ajax({
            type: "POST",
            url: "/cancelOrder",
            data: {'id': id, 'cancelId': rental},
            success: function (data) {
                $(".spinner").hide();
                data = JSON.parse(data);
                if (data['success'] == 'true') {

                   toastr.success("Successfully cancelled")
                }
                else {


                    toastr.error("Something went wrong! Please try againg !");
                }
            },

        });
    }

</script>
<script>

</script>

