{{> header }}

<div class="main_wrapper background_color_gray" style="padding-top:20px;">
    <!-- C O N T E N T -->
    <div class="content_wrapper">
        <div >
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">First item</li>
            <li class="list-group-item list-group-item-info">Second item</li>
            <li class="list-group-item list-group-item-warning">Third item</li>
            <li class="list-group-item list-group-item-danger">Fourth item</li>
        </ul>
        </div>
    </div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->
{{> footer}}

<script>
    $(document).ready(function () {
        $('#home').addClass('current-menu-parent');

    })


</script>