{{>header}}

<div class="main_wrapper" style="background-color: #EDE8DE; padding-top: 20px;margin-top: 8%">
    <!-- C O N T E N T -->
    <div class="content_wrapper">

        <div class="container">
            <div class="content_block right-sidebar row">
                <div class="fl-container col-sm-12">
                    <div class="row">
                        <div class="posts-block col-sm-12">
                            <div class="contentarea">
                                <div class="row-fluid">
                                    <div class="col-sm-12 first-module module_number_1 module_cont  module_medium_padding module_text_area">
                                        <div class="module_content">
                                            <h2>How to ?</h2>
                                        </div>
                                    </div><!-- .module_cont -->
                                </div>
                                <div class="row-fluid">
                                    <div class="col-sm-12 module_cont module_sitemap">
                                        <div class="row-fluid">
                                            <div class="col-sm-4">

                                                <div class="bg_title"><h4 class="headInModule">Get Books</h4></div>
                                                <ul class="sitemap_list">
                                                    <li><a href="#order_help">Order Online</a></li>
                                                    <li><a href="#pickup_help">Order Pickup</a></li>
                                                    <li><a href="#ord_fr_ws_help">Order book(s) from the Wishlist</a></li>
                                                    <li><a href="#wishlist_help">Add to Wishlist</a></li>
                                                    <li><a href="#rec_help">Recommend Books</a></li>
                                                    <li><a href="#order_mag_help">Order Magazines</a></li>
                                                </ul>
                                            </div><!-- .span4 -->
                                            <div class="col-sm-4">
                                                <div class="bg_title"><h4 class="headInModule">Membership</h4></div>
                                                <ul class="sitemap_list">
                                                    <li><a href="#signup_help">Signup online</a></li>
                                                    <li><a href="#signin_help">Sign In (For the first time users)</a></li>
                                                    <li><a href="#upgrade_help">Upgrade/Change Plan</a></li>
                                                    <li><a href="#renew_help">Renew membership</a></li>
                                                    <li><a href="#edit_con_help">Edit contact details</a></li>
                                                    <li><a href="#subscribe_help">Unsubscribe</a></li>
                                                    <li><a href="#password_help">Change Password</a></li>
                                                    <li><a href="#branch_help">Change home branch</a></li>
                                                    <li><a href="#lostcard_help">Get a replacement membership card</a></li>
                                                    <li><a href="#lostbook_help">Pay for a lost book/magazine</a></li>
                                                    <li><a href="#sh_help">Subscribe Holiday</a></li>
                                                    <li><a href="#sh_end_help">Cancel/End Holiday</a></li>
                                                    <li><a href="#correct_order_help">Correct Order Status</a></li>
                                                </ul>
                                            </div><!-- .span4 -->
                                            <div class="col-sm-4">
                                                <div class="bg_title"><h4 class="headInModule">Online</h4></div>
                                                <ul class="sitemap_list">
                                                    <li><a href="#avail_help">Check Availability of a book</a></li>
                                                    <li><a href="#search_reg_help">Search for Regional books </a></li>
                                                    <li><a href="#search_help"></a>Search for a Book</li>
                                                </ul>
                                            </div><!-- .span4 -->
                                        </div>
                                    </div><!-- .module_sitemap -->
                                </div><!-- .row-fluid -->

                                <div class="row-fluid">
                                    <div class="col-sm-12 first-module module_number_1 module_cont  module_medium_padding module_text_area">
                                        <div class="module_content">
                                            <a id="signup_help"></a>
                                            <h4>How to Signup online?</h4>
                                            <p>JustBooks provides you the option to Sign up online without any need to visit the branch. Now, get a membership at your ease and enjoy reading with JustBooks CLC.</p>
                                            <p><b>Step 1:</b> Click on 'Sign up' </p>
                                            <p><b> Step 2:</b> Choose the membership plan </p>
                                            <p><b> Step 3:</b> Check availability of service by putting the pincode of delivery location </p>
                                            <p><b> Step 4:</b> Fill out the Sign up form and click on 'Make Payment' </p>
                                            <p><b> Step 5:</b> Make your payment through Credit Card/Debit Card/Net Banking </p>
                                            <p><b> Step 6:</b> Click on the confirmation link sent to your email address </p>
                                            <p> You have successfully created your account with us. The Introduction package including your membership card would be sent to your address. </p>
                                        </div>

                                        <div class="module_cotent">
                                            <a id="signin_help"></a>
                                            <h4>How to Sign In? (For the first time users)</h4>
                                            <p> You need to create a password and confirm your email address in order to Sign In </p>
                                            <p><b> Step 1:</b> Click on 'Sign In' and then on 'Don't have a Password' </p>
                                            <p><b> Step 2:</b> Input your email address and click 'Verify' </p>
                                            <p><b> Step 3:</b> Click on 'Change my Password' in the email sent to you </p>
                                            <p><b> Step 4:</b> Input your new password and click on 'Change my Password' </p>
                                            <p><b> Step 5:</b> Sign In with your email address and the new password </p>
                                            <p>You have successfully signed in to your account .</p>
                                        </div>

                                        <div class="module_content">
                                            <a id="order_help"></a>
                                            <h4>How to Order Online?</h4>
                                            <p> You need to Sign In to your account before you can order for books online If this is your first time visit, kindly follow the procedure on 'How to Sign In' </p>
                                            <p><b> Step 1:</b> Select the book(s) which you would like to read & click on 'Add to cart' </p>
                                            <p><b> Step 2:</b> Repeat the Step 1 to add more number of books to your cart </p>
                                            <p><b> Step 3:</b> Click on Check Out to confirm the book(s) to be rented </p>
                                            <p><b> Step 4:</b> Click on Rent Now </p>
                                            <p>You have successfully placed an order for the book(s) </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="pickup_help"></a>
                                            <h4>How to Order Pickup?</h4>
                                            <p> The books which are delivered to your home would also be picked up from your home at the next delivery. </p>
                                            <p><b> Step 1:</b> Login In to your account </p>
                                            <p><b> Step 2:</b> Click on Bookshelf, which is on the right top corner of the page </p>
                                            <p><b> Step 3:</b> Click on 'Currently Reading' to view Book(s) or Magazine(s) issued to you </p>
                                            <p><b> Step 4:</b> Click on the link 'Place Pickup Order' corresponding to each book. </p>
                                            <p>You have successfully placed Pickup order for the book </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="search_help"></a>
                                            <h4>How to search for a Book?</h4>
                                            <p>You can search for a book with its Title/Author?/ISBN by simply typing in the search bar on the website. Titles matching the search will be displayed below.</p>

                                        </div>

                                        <div class="module_content">
                                            <a id="wishlist_help"></a>
                                            <h4>How to Add Books to Wishlist?</h4>
                                            <p> Wishlist serves as a reference list for you to order interested titles at a later point in time. </p>
                                            <p><b> Step 1:</b> Search for the Book(s) which you would like to add to wishlist by following the procedure on 'How to search for a Book'. </p>
                                            <p><b> Step 2:</b> In the title page, click on Add to Wishlist </p>
                                            <p> You have successfully added the book(s) to your wishlist </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="ord_fr_ws_help"></a>
                                            <h4>How to Order book(s) from the Wishlist?</h4>
                                            <p> The book(s) in the wishlist can be ordered by following the below procedure. </p>
                                            <p><b> Step 1:</b> Go to the tab Bookshelf </p>
                                            <p><b> Step 2:</b> Click on 'Books you want to Read' where you will find all the books you have added to Wishlist </p>
                                            <p><b> Step 3:</b> Click on 'Add to Cart' corresponding to each book </p>
                                            <p><b> Step 4:</b> Click on Check Out, if you have added all the books you want to read to the cart </p>
                                            <p><b> Step 5:</b> Click on Rent Now </p>
                                            <p> You have successfully order for the book from the wishlist </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="rec_help"></a>
                                            <h4>How to Recommend Books?</h4>
                                            <p> The book(s) which are not available with JustBooks can be recommended for procuring. The processing of such recommendation is at the sole discretion of JustBooks. </p>
                                            <p><b> Step 1:</b> Go to the tab 'Bookshelf' </p>
                                            <p><b> Step 2:</b> Click on 'My Recommendations' </p>
                                            <p><b> Step 3:</b> Click on 'New Recommendation' </p>
                                            <p><b> Step 4:</b> Search the title of the book in the search bar </p>
                                            <p><b> Step 5:</b> Select the appropriate book and click on 'Proceed' </p>
                                            <p><b> Step 6:</b> Click on 'Recommend' after verifying the details </p>

                                            <h4>If the book is not among the list,</h4>
                                            <p><b> Step 1:</b> Click on 'Not found' </p>
                                            <p><b> Step 2:</b> Enter the requested details and click on 'Recommend' </p>
                                            <p> You have successfully recommended for the book. </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="avail_hel"></a>
                                            <h4>How to check Availability of a book?</h4>
                                            <p><b> Step 1:</b> Search the title, for which you want to check availability </p>
                                            <p><b> Step 2:</b> Click on Check Availability below the title. The City & Branch wise availability would be displayed to you. </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="search_reg_help"></a>
                                            <h4>How to search for Regional books?</h4>
                                            <p>
                                                You may search for regional book by either using the search bar (search with Title/Author) or by picking your language under the tab Catalog.
                                            </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="upgrade_help"></a>
                                            <h4>How to Upgrade/Change Plan?</h4>
                                            <p><b> Step 1:</b> Sign in to your account </p>
                                            <p><b> Step 2:</b> Go to the tab 'Accounts' </p>
                                            <p><b> Step 3:</b> Click on the link 'Upgrade' next to the Plan on the page 'Membership Details' </p>
                                            <p><b> Step 4:</b> On the next page, select the Plan you would like to upgrade to and click 'Continue'</p>
                                            <p><b> Step 5:</b> Confirm your mode of payment and click on 'Continue' </p>
                                            <p><b> Step 6:</b> You will be redirected to the payment page </p>
                                            <p><b> Step 7:</b> Make the payment using your Credit Card/Debit Card/Net Banking </p>
                                            <p> You have successfully upgraded your account </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="renew_help"></a>
                                            <h4>How to renew membership?</h4>
                                            <p><b> Step 1:</b> Sign in to your account </p>
                                            <p><b> Step 2:</b> Go to the tab Accounts </p>
                                            <p><b> Step 3:</b> Click on the link 'Renew' next to the Renewal date </p>
                                            <p><b> Step 4:</b> Click 'Continue' on the next page and you will redirected to the payment page </p>
                                            <p><b> Step 5:</b> Make the payment using your Credit Card/Debit Card/Net Banking </p>
                                            <p> You have successfully renewed your membership </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="edit_con_help"></a>
                                            <h4>How to edit your contact details?</h4>
                                            <p><b> Step 1:</b> Login to your account </p>
                                            <p><b> Step 2:</b> Go to the tab Accounts </p>
                                            <p><b> Step 3:</b> Click on Contact Details in the left menu bar </p>
                                            <p><b> Step 4:</b> Click on Edit in the contact details page </p>
                                            <p><b> Step 5:</b> Update your contact details and click on Save </p>
                                            <p> You have successfully updated your account details </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="subscribe_help"></a>
                                            <h4>How to Unsubscribe?</h4>
                                            <p><b> Step 1:</b> Login to your account </p>
                                            <p><b> Step 2:</b> Go to the tab Accounts </p>
                                            <p><b> Step 3:</b> Click on Privacy Settings in the left menu bar </p>
                                            <p><b> Step 4:</b> Uncheck the options which you would like to unsubscribe from and click on Save </p>
                                            <p> You have successfully unsubscribed </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="password_help"></a>
                                            <h4>How to change Password?</h4>
                                            <p><b> Step 1:</b> Sign in to your account </p>
                                            <p><b> Step 2: </b> Go to the tab 'Accounts'</p>
                                            <p><b> Step 3:</b> Click on 'Change Password' on the left menu bar </p>
                                            <p><b> Step 4:</b> Input your 'New Password' and the 'Current Password' to confirm the changes and click on Update </p>
                                            <p> You have successfully changed your password </p>
                                        </div>

                                        <div class="module_content">
                                            <a id="order_mag_help"></a>
                                            <h4>How to Order Magazines?</h4>
                                            <p>Unfortunately, we don't have a catalog for Magazines online. You will need to order for the magazine(s) either by calling or visiting your branch.</p>
                                        </div>

                                        <div class="module_content">
                                            <a id="sh_help"></a>
                                            <h4>How to Subscribe Holiday?</h4>
                                            <p><b> Step 1:</b> Login to your account </p>
                                            <p><b> Step 2:</b> Click on the tab Account </p>
                                            <p><b> Step 3:</b> Click on the link Subscribe holiday? </p>
                                            <p><b> Step 4:</b> Click on the button New Holiday Plans? </p>
                                            <p><b> Step 5:</b> Select the Number of months, Holiday start date and click on Submit </p>
                                            <p><b> Step 6:</b> If you have free slots of holiday available, then the Payable amount would be “0” and simply click on Apply holiday </p>
                                            <p><b> Step 7:</b> Else if you don’t have free slots or are exhausted with the free slots, click on Make payment and you will be redirected to the CC Avenue. </p>
                                            <p> You have successfully initiated a Subscription Holiday. </p>
                                            <p><b style="color: red;"> Note: The free subscription holidays available can be carried over to the next term only if you renew your membership before the expiry date else the available holidays would be lost. </b></p>
                                        </div>

                                        <div class="module_content">
                                            <a id="sh_end_help"></a>
                                            <h4>How to Cancel/End Subscription Holiday?</h4>
                                            <p><b> Step 1:</b> Login to your account </p>
                                            <p><b> Step 2:</b> Click on the tab Account </p>
                                            <p><b> Step 3:</b> If the holiday is Inactive, Click on the link Subscribe holiday? Else if the holiday is Active, Click on the link End holiday? </p>
                                            <p><b> Step 4:</b> On the next page, click on the link Click here to end </p>
                                            <p><b> Step 5:</b> Click OK to re-confirm </p>
                                            <p><b> You have successfully Cancelled/Ended the holiday </b></p>
                                        </div>

                                        <div class="module_content">
                                            <a id="branch_help"></a>
                                            <h4>How to change the branch/city?</h4>
                                            <p>You may change your branch/city by loging into your account online or by visiting your current home branch.</p>
                                        </div>

                                        <div class="module_content">
                                            <a id="lostcard_help"></a>
                                            <h4>What do I do if I lost my membership card?</h4>
                                            <p>You will need to visit your branch and place a request for a new membership card after paying Rs.100 towards the lost card</p>
                                        </div>

                                        <div class="module_content">
                                            <a id="lostbook_help"></a>
                                            <h4>What do I do if I lose a book/magazine?</h4>
                                            <p> You will need to visit your branch to report the lost Book/Magazine and get it removed from your currently issued books list. </p>

                                        </div>

                                        <div class="module_content">
                                            <a id="correct_order_help"></a>
                                            <h4>How to correct Member Order Status?</h4>
                                            <p><b> Step 1:</b> Login to your account </p>
                                            <p><b> Step 2:</b> Click on Bookshelf, which is on the right top corner of the page </p>
                                            <p><b> Step 3:</b> Click on 'Orders' where you will find all the books you have placed an Order </p>
                                            <p><b> Step 4</b>: Click on 'Incorrect Order Status' if the book has been delivered to you but the status displayed is incorrect </p>
                                            <p><b> Step 5:</b> Input the Book Number seen on the back of the Book Cover (B0XXXXX) in the new window which pops up and click on 'Save' </p>
                                            <p> You have successfully Issued the book and Updated the Order </p>
                                        </div>
                                    </div><!-- .module_cont -->
                                </div>
                            </div><!-- .contentarea -->
                        </div>

                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->

            </div>
        </div><!-- .container -->
    </div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->









{{> footer}}
<script>
    $(document).ready(function()
    {
        $('#faq').addClass('current-menu-parent');

    })


</script>