{{> header}}
<style type="text/css">
    .shape{
        border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
        -ms-transform:rotate(360deg); /* IE 9 */
        -o-transform: rotate(360deg);  /* Opera 10.5 */
        -webkit-transform:rotate(360deg); /* Safari and Chrome */
        transform:rotate(360deg);
    }

    .lead {
        padding-top: 5px;
        font-size: 15px;
        font-family: arial;
        font-weight: bold;
    }
    .project{
        background:#fff;
        border:1px solid #e5e5e5;
        /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
        margin: 15px 0;
        overflow:hidden;height:auto;
    }

    .project-radius{
        border-radius:7px;
    }

    .project-default {    border-color: none; }
    .project-default .shape{
        border-color: transparent #999999 transparent transparent;
        border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
    }


    .project-content {
        background-color: rgba(220, 220, 220, 0.33);
        padding:0 20px 10px;
    }
    .project-content p{
        text-align: justify !important;
    }

    #playground input {
        padding: 7px 16px !important;
        border-radius: 2px 0 0 2px !important;
        border: 1px solid #504848 !important;
        outline: 0 none !important;
        font-size: 15px !important;
        font-family: 'Arial' !important;
    }
</style>
<!-- C O N T E N T -->
<div class="content_wrapper" style="margin-top: 10%">
    <div class="page_title_block">
        <div class="container">
            <div class="bg_title" id="bg_title_shelf"><h4 class="headInModule">FAQs</h4></div>

        </div>
    </div>
    <hr>
    <div class="container" id="playground">
        <form>
            <input id="keywords" size="24" placeholder="Search FAQs">
        </form>
        <script type="text/javascript" src="http://www.the-art-of-web.com/hilitor.js"></script>
        <script type="text/javascript">

            var myHilitor2;

            document.addEventListener("DOMContentLoaded", function(e) {
                myHilitor2 = new Hilitor("playground");
                myHilitor2.setMatchType("left");
            }, false);

            document.getElementById("keywords").addEventListener("keyup", function(e) {
                myHilitor2.apply(this.value);
            }, false);

        </script>
        <div class="row">

            <div class="col-md-4">
                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How many books does a JustBooks library have?</h3>

                            <p> While each of our libraries have anywhere between 3000 to 15000 books, the entire JustBooks chain has over a million books in its network. Our members get access to this entire inventory of books at all points of time. </p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How can I become a member of JustBooks?</h3>

                            <p>You can become a member of JustBooks by visiting any of our stores closest to you or signing up online.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How can I get access to this huge inventory of books?</h3>

                            <p>We are a networked library chain that allows our members to choose and order books from this huge inventory either online or through our kiosks at branches, and get it delivered.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">Can I use services across all JustBooks branches?</h3>

                            <p> Yes, our members can access any of our branches interchangeably. While a member will be tagged to one particular home branch, usage of services on any other branch is not restricted.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">Can I change my home branch?</h3>

                            <p>Yes, members are free to change their home branch at any point of time. You may place a request with the particular branch that you want to get transferred to and the same will be activated within a short period of time.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How soon will I receive my membership card on signing up?</h3>

                            <p>Please expect to receive your permanent membership card in approximately 2-3 weeks from the day your membership is registered.</p>

                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">Can my family members use my membership card?</h3>

                            <p>Yes, your family members may use your membership card</p>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">Do I have to pay the registration fee every time I renew my account?</h3>

                            <p>No. The registration fees is a one time payment received from you for all future renewals</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How can I take a break from the library services?</h3>

                            <p>Any member who have signed up or renewed for 12 months are entitled to a free break of two months during the course of membership. Any member who have signed up or renewed for 6 months are entitled to a free break of one month during the course of the membership. For any additional pause in membership, members will be charged a nominal fee of Rs. 50 / month. For members in any other plan, a nominal fee for Rs 50/month will be charged for every month of pause.</p>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How can I replace a lost/stolen membership card?</h3>

                            <p>There is a Rs 100 processing fee for each replacement card. You may visit your home branch and request for the same. You will receive your replacement card within 2-3 weeks.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">Does JustBooks deliver books home?</h3>

                            <p>Yes, we deliver books home for a small additional charge of Rs. 50 per month. Watch out for offers that will allow you free door delivery from time to time.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How long can I keep a book with me once I have picked it up?</h3>

                            <p>We do not have a cap on the number of days that you can keep a book with you. You can keep a book for as long as you want. However we request you to return the book in a reasonable amount of time since other members may also be in the waiting list. However for books that are transferred from other branches, we request that you return the book within 7 days. </p>

                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How many books can I take at any given point of time?</h3>

                            <p>The number of books you can take at any point of time is dependent on the plan that you sign up for. We have plans that start at a minimum of 2 books.</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">What can I do if the book i have issued gets lost?</h3>

                            <p>If a book that you have been issued gets lost, please inform your library immediately. We will adjust the value of the book from your security deposit</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How can I recommend a book to be purchased by the library?</h3>

                            <p>You can recommend a book with your librarian and if there is enough demand for the book, we will procure the same for you. You can also recommend a book by logging in to your account on www.justbooksclc.com</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">Do I need my membership card to issue books from the library?</h3>

                            <p>We recommend that you always walk in with your membership card when you visit your JustBooks library. However in case you forget, we are there to help you at the store :)</p>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="project project-default project-radius">

                        <div class="project-content">

                            <h3 class="lead">How can I change my current plan?</h3>

                            <p>Members can log into their account on www.justbooksclc.com where an option to change their current plan is visible under “My Subscription”. Alternatively do reach out to us and we will be happy to help you change your plan. </p>

                        </div>
                    </div>
                </div>
            </div>




        </div><!--/row-->
    </div><!--/container -->

</div>
<script>
    $(document).ready(function()
    {
        $('#faqMenu').addClass('current-menu-parent');

    })
</script>