{{>header}}




<style type="text/css">
    .form-signin
    {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading, .form-signin .checkbox
    {
        margin-bottom: 10px;
    }
    .form-signin .checkbox
    {
        font-weight: normal;
    }
    .form-signin .form-control
    {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }
    .form-signin .form-control:focus
    {
        z-index: 2;
    }
    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"]
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .account-wall
    {
        margin-top: 20px;
        padding: 40px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        border-top:1px solid #ccc;
    }
    .login-title
    {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        display: block;
    }
    .profile-img
    {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .need-help
    {
        margin-top: 10px;
    }
    .new-account
    {
        display: block;
        margin-top: 10px;
    }
</style>



<div class="content_wrapper" id="firstDiv" >
    <div class="page_title_block">
        <div class="container">
            <div class="bg_title" id="bg_title_shelf"><h4 class="headInModule" style="font-family: 'Playfair Display'!important;">Update your password to continue</h4></div>

        </div>
    </div>

    {{#div}}
        <div class="spinner" style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    <form class="form-signin">

                        <input type="password" id="fogpassword" class="form-control" placeholder="Password" required autofocus>
                        <input type="password" id="fogCpassword" class="form-control" placeholder="Confirm Password" required oninput="passwordval()">
                        <br>            <p id="error" style="display:none;color: red;font-weight: bold" ></p>
                        <br>
                        <button id="but" style="float: none !important;" class="btn shortcode_button btn_medium btn_type1" type="button" onclick="verifyPwd()" disabled>Change Password</button>


                    </form>
                </div>
                <br><br>
            </div>
        </div>
    {{/div}}
    {{#error}}
        <h3>Authentication token failed or expired.Please try again!</h3>

    {{/error}}
</div>
<script>
    function passwordval() {

        if ($("#fogCpassword").val() !== $("#fogpassword").val()) {
            $("#but").attr("disabled", true);
            $("#error").text("Passwords does not match!");

            $("#error").show();
            return false;
        }
        else {
            $("#but").attr("disabled", false);
            $("#error").hide();
        }
    }

    function verifyPwd()
    {
        $(".spinner").show();
        var email="{{email}}";
        var password=$("#fogpassword").val();
        var cpassword=$("#fogCpassword").val();
        if(password == "" || password == 0)
        {
            toastr.error("Please enter password !");
            return false;
        }  if(cpassword == "" || cpassword == 0)
    {
        toastr.error("Please enter password !");
        return false;
    }
        logClick("On Submit Forgot Password","Forgot Password Submit",email);

        $(".spinner").show();
        $.ajax({
            type: "GET",
            url: "/verifyResetMail?password=" + password+"&email="+email,
            success: function (data) {
                $(".spinner").hide();

                console.log(data)
                if (JSON.parse(data) === "success") {
                    $(".spinner").hide();

                    toastr.success('Successfully updated !');
                    window.location.href="/";

                }
                else {
                    $(".spinner").hide();

                    toastr.warning("Something went wrong!")


                }
            },

        });

    }
    //    function closeWindow() {
    //        alert("F")
    //        setTimeout(function() {
    //            window.close();
    //        }, 3000);
    //    }
    //
    $(document).ready(function()
    {
        logClick("On load","Forgot Password Page","User");

        $('form').submit(false)
    })

</script>


{{>footer}}
