{{>header}}

<style type="text/css">
    .registration-container{
        position: relative;
        background: rgba(240, 248, 255, 0.5);
        width: 600px;
        margin:0px auto;
        padding-top: 3%;

    }
    .franchisee p{
        text-align: justify;
        color: #464d52;
        font-size: 12px;
        font-family: arial;
    }
    .franchisee ul {

        font-size: 12px;
        font-weight: 400!important;
        margin-bottom: 8px;
        padding-left: 60px;
        color: #464d52;
        font-family: arial;
    }

    .franchisee h4{
        font-family: playfair display;
        text-align: left;
        padding-left: 10px;

    }

    .franchisee1 h4{
        font-family: playfair display;
        text-align: center;

    }
    .panel-default > .panel-heading {
        color: #fff;
        background-color: #504848;
        border-color: #504848;
    }


</style>

<div class="content_wrapper"  style="margin-top: 12%">


    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <div class="container-fluid franchisee">

                    <h4>Join the JustBooks family as a JustBooks franchisee!</h4>
                    <!-- <blockquote>   -->
                    <p>JustBooks is the country's largest library chain with presence across the country. And being a part of this chain is a wholly unique and exciting experience for any partner.</p>

                    <p>As one of the most recognised brands in the knowledge industry, JustBooks has a proclaimed vision to drive the next generation of the knowledge industry in the country. Three key pillars that drive this vision include </p>
                    <ul>
                        <li> Intense focus on customer service</li>
                        <li> Operations excellence</li>
                        <li> Maximising franchisee growth</li>
                    </ul>




                    <p>JustBooks has been built on the strength of its brand and partners over the years to provide our consumers with an unmatched experience in reading and knowledge sharing through great store ambience and warm service. </p>

                    <p>If you have the desire to drive this vision along with us, the financial ability to get started and an intense desire to grow with a leader brand, please fill up the following simple details and we will get in touch with you to take the discussion forward. </p>
                    <!-- </blockquote>   -->
                </div>

            </div>
            <div class="col-md-6">

                <div class="panel panel-default" style="box-shadow: 5px 5px 10px #888888;">
                    <div class="panel-heading franchisee1"><h4 style="margin-bottom: 0px; color: #fff;">Become a Franchisee</h4></div>
                    <div class="panel-body">

                        <form class="col-sm-12 text-left">

                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputPassword1">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputPassword1">Mobile</label>
                                <input type="text" class="form-control" placeholder="Mobile">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputPassword1">Interested City</label>
                                <input type="text" class="form-control" placeholder="Interested City">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputPassword1">Description</label>

                                <textarea class="form-control"></textarea>
                                <!-- <input type="password" class="form-control" placeholder="Password"> -->
                            </div>

                            <!-- <div class="form-group col-sm-6">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Example block-level help text here.</p>
                            </div> -->

                            <!--  <div class="checkbox">
                                 <label>
                                     <input type="checkbox" style="color: green;"> I accept <a>Terms & Conditions</a>
                                 </label>
                             </div>
                             <div class="checkbox abc-checkbox">
                                 <input type="checkbox" id="checkbox1">
                                 <label for="checkbox1">
                                     Check me out
                                 </label>
                             </div> -->
                            <div class="form-group col-sm-12 text-center">
                                <button type="submit" class="shortcode_button btn_small btn_type1">Send Request</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>

</div>

{{>footer}}
<script>
    $(document).ready(function()
    {
        $('#franchise').addClass('current-menu-parent');

    })
</script>


