{{> header }}


<div class="main_wrapper" id="firstDivHome">
    <!-- C O N T E N T -->
    <div class="content_wrapper">
        <div class="container">
            <div class="spinner"  style='display: none;z-index: 10000;opacity:0.55;background-color: grey'>
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <style>
                /* container */


            </style>
            <div class="content_block no-sidebar row" >
                <div class="fl-container span12">
                    <div class="row">
                        <div class="posts-block span12">
                            <div class="contentarea">

                                {{> slider}}

                                {{# slider}}

                                    <div class="module_line_trigger" data-option="" data-top-padding="top_padding_normal" data-bottom-padding="module_normal_padding">

                                        <div class="row-fluid" id="">
                                            <div class="module_cont module_feature_posts" id="promo_section_mobile">
                                                <a href="/#membershipPlans" class="links" rel="external" data-ajax="false" ><img src="assets/images/mobile_site_image.png" alt=""></a>
                                            </div><!-- .module_cont -->
                                            <div class="span12 module_cont module_feature_posts" id="promo_section_desktop">
                                                <a href="/#membershipPlans" class="links" rel="external" data-ajax="false" ><img src="assets/images/desktop_image.png" alt=""></a>
                                            </div><!-- .module_cont -->
                                        </div><!-- .row-fluid -->
                                    </div><!-- .module_line_tr3igger -->
                                {{/slider}}


                                {{> newArrivals}}

                                {{#slider}}

                                    {{> mostRead}}

                                {{/slider}}

                                {{#flag}}

                                    {{>recommend}}

                                {{/flag}}


                                <!-- .row-fluid -->
                                <!-- .row-fluid -->

                                {{> authors}}

                                <!-- .row-fluid -->
                            </div><!-- .contentarea -->
                        </div>

                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->

            </div>

            {{> membership_plan}}
            {{> blog}}
            <!-- .Post area -->
        </div><!-- .module_line_trigger -->
    </div><!-- .container -->
</div><!-- .content_wrapper -->
<iframe src="https://culture.place/iframe_culture_place/index.php" align="center" width="100%" height="400" frameborder="yes" scrolling="yes" name="CPScroll" id="cpIframe"></iframe>
</div><!-- .main_wrapper -->

    {{> preFooter}}<!-- .pre_footer -->

{{> footer }}
<script>
    $('.multi-item-carousel').carousel({
        interval: false
    });
</script>
<script src="assets/js/home_page_Api.js?v=1"></script>
<script>
    var jump=function(e)
    {
        if (e){
            e.preventDefault();
            var target = $(this).attr("href");
        }else{
            var target = location.hash;
        }
//        if(target == "#membershipPlans")
//        {
//            $('html, body').animate({
//                scrollTop: $(target).offset().top - 150
//            },800);
//            location.hash = target;
//
//
//            $(target+"Menu").addClass('current-menu-parent');
//
//        }

        $('html,body').animate(
                {
                    scrollTop: $(target).offset().top
                },2000,function()
                {
                    location.hash = target;
                });

    }
    $(document).ready(function()
    {
        logClick("On load","Home","Home");
        $('a[href^=#membershipPlans]').bind("click", jump);

        if (location.hash){
            setTimeout(function(){
                $('html, body').scrollTop(0).show();
                jump();
            }, 0);
        }else{
            $('html, body').show();
        }
        $('#home').addClass('current-menu-parent');

    })


</script>

