{{> header }}


<div class="main_wrapper" id="firstDivHome">
    <!-- C O N T E N T -->
    <div class="content_wrapper">
        <div class="container">
            <div class="spinner"  style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <style>
                /* container */


            </style>
            <div class="content_block no-sidebar row" >
                <div class="fl-container span12">
                    <div class="row">
                        <div class="posts-block span12">
                            <div class="contentarea">

                                {{> slider}}

                                {{#slider}}

                                    {{> promo_section}}

                                {{/slider}}

                                {{> newArrivals}}

                                {{#slider}}

                                    {{> mostRead}}

                                {{/slider}}

                                {{#flag}}

                                    {{>recommend}}

                                {{/flag}}


                                <!-- .row-fluid -->
                                <!-- .row-fluid -->

                                {{> authors}}

                                <!-- .row-fluid -->
                            </div><!-- .contentarea -->
                        </div>

                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->

            </div>

            {{> membership_plan}}
            {{> blog}}
            <!-- .Post area -->
        </div><!-- .module_line_trigger -->
    </div><!-- .container -->
</div><!-- .content_wrapper -->
<!--<iframe src="http://culture.place/iframe_culture_place/index.php" align="center" width="100%" height="500" frameborder="yes" scrolling="yes" name="CPScroll" id="cpIframe"></iframe>-->
</div><!-- .main_wrapper -->

    {{> preFooter}}<!-- .pre_footer -->

{{> footer }}
<script>
    $('.multi-item-carousel').carousel({
        interval: false
    });
</script>
<script src="assets/js/home_page_Api.js"></script>
<script>
    var jump=function(e)
    {
        if (e){
            e.preventDefault();
            var target = $(this).attr("href");
        }else{
            var target = location.hash;
        }

        $('html,body').animate(
                {
                    scrollTop: $(target).offset().top
                },2000,function()
                {
                    location.hash = target;
                });

    }
    $(document).ready(function()
    {
        $('a[href^=#]').bind("click", jump);

        if (location.hash){
            setTimeout(function(){
                $('html, body').scrollTop(0).show();
                jump();
            }, 0);
        }else{
            $('html, body').show();
        }
        $('#home').addClass('current-menu-parent');

    })


</script>

