{{> header }}


<div class="main_wrapper" style="margin-top: 7%" >
    <!-- C O N T E N T -->
    <div class="content_wrapper">
        <div class="container">
            <div class="spinner"  style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <style>
                /* container */


            </style>
            <div class="content_block no-sidebar row">
                <div class="fl-container span12">
                    <div class="row">
                        <div class="posts-block span12">
                            <div class="contentarea">

                                {{> slider}}

                                {{> newArrivals}}

                                {{#slider}}  

                                {{> mostRead}}

                                {{/slider}}

                                {{#flag}}

                                {{>recommend}}

                                {{/flag}}


                                <!-- .row-fluid -->
                                <!-- .row-fluid -->

                                {{> authors}}

                                <!-- .row-fluid -->
                            </div><!-- .contentarea -->
                        </div>

                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->
            </div>

            {{> membership_plan}}
            {{> blog}}
            <!-- .Post area -->
        </div><!-- .module_line_trigger -->
    </div><!-- .container -->
</div><!-- .content_wrapper -->

</div><!-- .main_wrapper -->

{{> preFooter}}<!-- .pre_footer -->

{{> footer }}
<script>
    $('.multi-item-carousel').carousel({
        interval: false
    });
</script>
<script src="assets/js/home_page_Api.js"></script>
<script>
    $(document).ready(function()
    {
        $('#home').addClass('current-menu-parent');

    })


</script>