{{> header}}

<!-- C O N T E N T -->
<div class="content_wrapper search_div"  id="firstDiv">
    <!--<div class="page_title_block">
        <div class="container">
            <h2 class="title">Portfolio. 4 Columns</h2>
            <div class="breadcrumbs"><a href="home.html">Home</a><a href="#">Portfolio</a><span>4 Columns</span></div>
        </div>
    </div>-->
    <style type="text/css">
        .col-lg-3 h5 {
            margin: 10px 0 10px 0;
        }
    </style>
    <div class="container">
        <div class="spinner" style='display: none;z-index: 100000;opacity:0.55;background-color: grey'>
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="">
            <div class="fl-container span12" style="margin-top:3%">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 class="page-header">
                            <small>You searched for</small>
                            <b>" {{query}} " </b>
                            <small id="countResult">which have {{count}} results</small>
                        </h4>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div id="searchDiv">
                    {{# data}}

                        <div>

                            {{# _source}}
                                <!-- <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 thumb">
                                    {{#jb_info}}
                                        <a class="thumbnail" href="/book_details/{{titleid}}/{{#author}}{{name}}{{/author}}" style="height: 320px;">
                                            {{/jb_info}}

                                            <img class="img-responsive" src="{{image_url}}" width="150" height="160"
                                                     onerror="this.src='../../assets/images/Default_Book_Thumbnail.png'">

                                            {{#jb_info}}

                                            <h5 class="gallery_title">{{title}}</h5>

                                            {{/jb_info}}
                                        </a>
                                </div> -->
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 thumb">
                                    <div class="item item_shadow">
                                        {{#jb_info}}
                                        <div class="img_block_books">
                                        <a rel="external" data-ajax="false" href="/book_details/{{titleid}}/{{#author}}{{name}}{{/author}}">
                                        {{/jb_info}}

                                        <img class="img-responsive" src="{{image_url}}" onerror="this.src='../../assets/images/Default_Book_Thumbnail.png'">
                                        {{#jb_info}}
                                        </a>
                                        </div>
                                            <div class="carousel_body_book">
                                                <div class="carousel_title_book" style="padding-bottom: 6%">
                                                    <h5 title="{{title}}">{{title}}</h5>
                                                </div>
                                                <div class="carousel_desc">

                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="fram_btn">
                                                <a href="javascript:void(0)" class="shortcode_button btn_small btn_type1" title="Rent" onclick='placeOrder({{titleid}})' id="rent_{{titleid}}">Rent</a>
                                                {{#flag}}
                                                    <a href="javascript:void(0)" class="tiptip" title="Wishlist" onclick="wishlistAdd({{titleid}})"><img id="wish_{{titleid}}" class="wishlist_btn" src='../../assets/img/Added_WL_50.png' alt="Smiley face" height="25" width="25"></a>
                                                {{/flag}}
                                                <a href="javascript:void(0)" class="tiptip" title="Share" data-title="{{title}}"  data-id="{{titleid}}" data-toggle="modal" data-target="#shareModal"><img  class="share_btn" src=../../assets/img/Engage.png alt="Smiley face" height="25" width="25"></a>
                                                <div class="clear"></div>
                                            </div>
                                        {{/jb_info}}
                                    </div>
                                </div>
                            {{/_source}}
                        </div>

                    {{/data}}
                    </div>
                </div>
            </div><!-- .contentarea -->
        </div>
        <button type="button" class="btn btn-default" onclick="loadMore()" id="load">Load More</button>
        <br><br><br><br>
    </div>
    <div class="clear"><!-- ClearFix --></div>
</div><!-- .fl-container -->

<div class="clear"><!-- ClearFix --></div>
{{> footer}}
<script>
    $(document).ready(function () {
        var search ="{{query}}"
        logClick("On load","Search",search);

        var count={{count}};
        if(count === 0)
        {
            $("#load").hide();
        }
        localStorage.setItem("countFlag", 2);
        $('#home').addClass('current-menu-parent');
        <!--$("#count").text(" which have" {{result}}.length);-->

    })
    function placeOrder(id) {
        $(".spinner").show();
        $.ajax({
            type: "GET",
            url: "/placeOrder?id=" + id,
            success: function (data) {

                if (JSON.parse(data) === "failure") {
                    $(".spinner").hide();

                    toastr.error('Become a member to rent books!').css("width","500px");
                    window.location.href = '/#promo_section_desktop';

                } else if(JSON.parse(data) === "NoDelivery"){
                    $(".spinner").hide();

                    toastr.error('Sorry! You have not opted for door delivery service. Kindly contact your branch or customer care to enable the same.');
                    $('html, body').animate({
                        scrollTop: $('#membershipPlans').offset().top - 150
                    }, 800);
                }
                else {
                    $(".spinner").hide();
                    data = JSON.parse(data);
                    console.log(data['success'])
                    if (data['success'] === "false") {
                        toastr.warning(data['errors'])
                    } else {
                        $("#rent_" + id).text("Rented");

                        toastr.success('Successfully added !');

                    }
                }
            },

        });
    }
    function wishlistAdd(id) {
        $(".spinner").show();

        $.ajax({
            type: "GET",
            url: "/updateWishlist?id=" + id,
            success: function (data) {
                ;
                $(".spinner").hide();
                if (JSON.parse(data) === "failure") {

                    toastr.error('Please sign in to update your wish list');
        //            $('html, body').animate({
          //              scrollTop: $('#membershipPlans').offset().top - 150
            //        }, 800);
			window.location.href = '/#membershipPlans';
                }
                else {
                    $("#wish_" + id).attr("src", "../../assets/img/Added_WL_Right.png");
                    toastr.success('Successfully added into your wish list !').css("width", "500px");
                }
            },
            error: function (err) {
                console.log(err);
            }

        });
    }
    function loadMore() {
        var flag= {{flag}};
        flag=parseInt(flag);

        $(".spinner").show();
        var count = localStorage.getItem("countFlag");
        var query = "{{query}}";
        localStorage.setItem("countFlag", parseInt(count) + 1);
        $.ajax({
            url: "/loadMoreSearch?text="+query+"&page="+count,
            type: 'GET',

            success: function (data) {
                data=JSON.parse(data)

                $(".spinner").hide();
                if(data === "No Titles")
                {
                    toastr.success("No more result to show !");
                    return false;
                }
                for (var i = 0; i < data.length; i++) {
                    if(flag == 1)
                    {
                       var wish= '<a href="javascript:void(0)" class="tiptip" title="Wishlist" onclick="wishlistAdd({{titleid}})"><img id="wish_{{titleid}}" class="wishlist_btn" src=\'../../assets/img/Added_WL_50.png\' alt="Smiley face" height="25" width="25"></a>'

                    }
                    else
                    {
                        var wish=''
                    }
                    $("#searchDiv").append( '<div><div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 thumb"><div class="item item_shadow">' +
                   '<div class="img_block_books"><a rel="external" data-ajax="false" href="/book_details/' + encodeURI(data[i]['_source']['jb_info']['titleid']) + '/' + data[i]['_source']['jb_info']['title'] + '">' +
                   '<img class="img-responsive" src="'+ data[i]['_source']["image_url"] +'" onerror="this.src=\'../../assets/images/Default_Book_Thumbnail.png\'">' +
                    '</a></div><div class="carousel_body_book"><div class="carousel_title_book" style="padding-bottom: 6%">' +
                    '<h5 title="' + data[i]['_source']['jb_info']['title'] + '">' + data[i]['_source']['jb_info']['title'] + '</h5></div><div class="carousel_desc">' +
                   '<div class="clear"></div></div></div><div class="fram_btn"><a href="javascript:void(0)" class="shortcode_button btn_small btn_type1" title="Rent" onclick="placeOrder(' + data[i]['_source']['jb_info']['titleid'] + ')" id="rent_' + data[i]['_source']['jb_info']['titleid'] + '">Rent</a>' +
                   ''+wish+'<a href="javascript:void(0)" class="tiptip" title="Share" data-title="' + data[i]['_source']['jb_info']['title'] + '" data-id="' + data[i]['_source']['jb_info']['titleid'] + '" data-toggle="modal" data-target="#shareModal"><img class="share_btn" src="../../assets/img/Engage.png" alt="Smiley face" height="25" width="25"></a><div class="clear"></div>' +
                   '</div></div></div></div>'



//                            '<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 thumb">'+
//                            '<div class="item item_shadow">'+
//                            '<div class="img_block_books">'+
//                            '<a rel="external" data-ajax="false" href="/book_details/' + data[i]['_source']['jb_info']['titleid'] + '/' + data[i]['_source']['jb_info']['title'] + '">'+
//
//                            '<img class="img-responsive" src="'+ data[i]['_source']["image_url"] +'" onerror="this.src=\'../../assets/images/Default_Book_Thumbnail.png\'">'+
//
//                            '</a>'+
//                            '</div>'+
//                            '<div class="carousel_body_book">'+
//                            '<div class="carousel_title_book" style="padding-bottom: 6%"><h5 title="' + data[i]['_source']['jb_info']['title'] + '">' + data[i]['_source']['jb_info']['title'] + '</h5></div>'+
//                            '<div class="carousel_desc">'+
//
//                            '<div class="clear"></div>'+
//                            '</div>'+
//                            '</div>'+
//                            '</div>'+
//                            '</div>'


                    );
                }
                $("#countResult").text( "which have " +$("#searchDiv > div").length + " results");
            },
            error:function (err) {
                console.log(err);
                console.log(err.responseText)

            }

        });

    }


</script>
