{{> header}}

<!-- C O N T E N T -->
<div class="content_wrapper search_div"  id="firstDiv">
    <!--<div class="page_title_block">
        <div class="container">
            <h2 class="title">Portfolio. 4 Columns</h2>
            <div class="breadcrumbs"><a href="home.html">Home</a><a href="#">Portfolio</a><span>4 Columns</span></div>
        </div>
    </div>-->
    <style type="text/css">
        .col-lg-3 h5 {
            margin: 10px 0 10px 0;
        }
    </style>
    <div class="container">
        <div class="spinner" style='display: none;z-index: 100000;opacity:0.55;background-color: grey'>
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="">
            <div class="fl-container span12">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 class="page-header">
                            <small>You searched for</small>
                            <b>" {{query}} " </b>
                            <small id="countResult">which have {{count}} results</small>
                        </h4>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div id="searchDiv">
                    {{# data}}

                        <div>

                            {{# _source}}
                                <!-- <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 thumb">
                                    {{#jb_info}}
                                        <a class="thumbnail" href="/book_details/{{titleid}}/{{#author}}{{name}}{{/author}}" style="height: 320px;">
                                            {{/jb_info}}

                                            <img class="img-responsive" src="{{image_url}}" width="150" height="160"
                                                     onerror="this.src='../../assets/images/Default_Book_Thumbnail.png'">

                                            {{#jb_info}}

                                            <h5 class="gallery_title">{{title}}</h5>

                                            {{/jb_info}}
                                        </a>
                                </div> -->
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 thumb">
                                    <div class="item item_shadow">
                                        {{#jb_info}}
                                        <div class="img_block_books">
                                        <a rel="external" data-ajax="false" href="/book_details/{{titleid}}/{{#author}}{{name}}{{/author}}">
                                        {{/jb_info}}

                                        <img class="img-responsive" src="{{image_url}}" onerror="this.src='../../assets/images/Default_Book_Thumbnail.png'">
                                        {{#jb_info}}
                                        </a>
                                        </div>
                                            <div class="carousel_body_book">
                                                <div class="carousel_title_book" style="padding-bottom: 6%">
                                                    <h5 title="{{title}}">{{title}}</h5>
                                                </div>
                                                <div class="carousel_desc">

                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        {{/jb_info}}
                                    </div>
                                </div>
                            {{/_source}}
                        </div>

                    {{/data}}
                    </div>
                </div>
            </div><!-- .contentarea -->
        </div>
        <button type="button" class="btn btn-default" onclick="loadMore()" id="load">Load More</button>
        <br><br><br><br>
    </div>
    <div class="clear"><!-- ClearFix --></div>
</div><!-- .fl-container -->

<div class="clear"><!-- ClearFix --></div>
{{> footer}}
<script>
    $(document).ready(function () {
        var count={{count}};
        if(count === 0)
        {
            $("#load").hide();
        }
        localStorage.setItem("countFlag", 2);
        $('#home').addClass('current-menu-parent');
        <!--$("#count").text(" which have" {{result}}.length);-->

    })

    function loadMore() {
        $(".spinner").show();
        var count = localStorage.getItem("countFlag");
        var query = "{{query}}";
        localStorage.setItem("countFlag", parseInt(count) + 1);
        $.ajax({
            url: "http://rec.justbooksclc.com/getSuggestBooksDetails?text="+query+"&page="+count,
            type: 'GET',

            success: function (data) {

                $(".spinner").hide();
                if(data === "No Titles")
                {
                    toastr.success("No more result to show !");
                    return false;
                }
                for (var i = 0; i < data.length; i++) {

                    $("#searchDiv").append(

                            // "<div class=\"col-lg-3 col-md-4 col-xs-12 thumb\" >" +
                            //     "<a class=\"thumbnail\" href=\"/book_details/" + data[i]['_source']['jb_info']['titleid'] + "\"  style=\"height: 320px;\">" +
                            //     " <img class=\"img-responsive\" src=\"" + data[i]['_source']["image_url"] + "\" onerror=\"this.src='https://www.safetybasics.com/v/vspfiles/photos/003-C-4L-Cover-0.jpg'\" >" +
                            //     "        <h5 class=\"gallery_title\">" + data[i]['_source']['jb_info']["title"] + "</h5></a></div>"



                            '<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 thumb">'+
                            '<div class="item item_shadow">'+
                            '<div class="img_block_books">'+
                            '<a rel="external" data-ajax="false" href="/book_details/' + data[i]['_source']['jb_info']['titleid'] + '">'+

                            '<img class="img-responsive" src="'+ data[i]['_source']["image_url"] +'" onerror="this.src=\'../../assets/images/Default_Book_Thumbnail.png\'">'+

                            '</a>'+
                            '</div>'+
                            '<div class="carousel_body_book">'+
                            '<div class="carousel_title_book" style="padding-bottom: 6%"><h5 title="' + data[i]['_source']['jb_info']['title'] + '">' + data[i]['_source']['jb_info']['title'] + '</h5></div>'+
                            '<div class="carousel_desc">'+

                            '<div class="clear"></div>'+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '</div>'


                    );
                }
                $("#countResult").text( "which have " +$("#searchDiv > div").length + " results");
            },
            error:function (err) {
                console.log(err);
                console.log(err.responseText)

            }

        });

    }


</script>