{{> header}}

<!-- C O N T E N T -->
<!--<script src="../../assets/js/state.js"></script>-->

<div class="content_wrapper" style="margin-top: 10%">
    <div class="page_title_block">
        <div class="container">
            <div class="bg_title" id="bg_title_shelf"><h4 class="headInModule">PLAN DETAILS </h4></div>

        </div>
    </div>

    <div class="container" >
        <div class="spinner"  style='display: none;z-index: 100;opacity:0.55;background-color: grey'>
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="content_block no-sidebar row">
            <div class="fl-container span12">
                <div id="{{planname}}" class="planid"></div>
                <div id="{{planid}}" class="planID"></div>
                <div id="{{planname}}_{{book}}_{{month}}" class="namePlan"></div>

                <div class="contentarea">
                    <div class="module_line_trigger" data-option="" data-background="#323232 url(img/) no-repeat center"
                         data-top-padding="top_padding_normal">

                        <div class="row-fluid">
                            <div class="span12 module_cont module_price_table">
                                <div class="bg_title bg_title_price" style="text-align: center;">
                                    <!-- <h4 class="headInModule">PLAN DETAILS</h4> -->
                                </div>
                                <div class="row">
                                    <div class="span6 module_cont module_text_area module_medium_padding">
                                        <!-- 1st row verticaly centered text in the square columns -->



                                        {{# plan_data}}

                                            <a href="/signup?planname={{PROMO}}&books={{NO_OF_BOOKS}}&months={{NO_OF_MONTHS}}">

                                                <div class="span9 l_content">
                                                    <div class="row">
                                                        <div class='col-md-10 col-md-offset-2 card bordered' id="box_{{PROMO}}_{{NO_OF_BOOKS}}_{{NO_OF_MONTHS}}" style="padding-top: 7%;padding-bottom: 4%;">
                                                            <div class="col-md-12 text-left">
                                                                <div class="row bottom">
                                                                    <div class="col-md-12 left">
                                                                        <h4>{{PLAN_NAME}}</h4>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12 text-left">
                                                                <div class="row bottom">
                                                                    <div class="col-md-12 left">
                                                                        <h5>{{BOOK_TAG}} for {{SUITABLE_TAG}}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                        {{/plan_data}}
                                        <!---->



                                        <!--<div class="col-md-7"><div class="card" style="background-color: #EDAB53;" ><h3>hwhwhwh</h3></div></div>-->
                                        <!--<div class="col-md-7"><div class="card" style="background-color: #3379B4;"><h3>hwhwhwh</h3></div></div>-->
                                        <!--<div class="col-md-7"><div class="card" style="background-color: #58B75B;"><h3>hwhwhwh</h3></div></div>-->

                                    </div>
                                    <a id="signup"></a>
                                    <div class="span6 r_content">
                                        <div class="col-sm-11">
                                            <div class="col-sm-6">
                                                <select class="form-control" id="books">
                                                    <option value="">Select No of Books:</option>
                                                    {{# plan_books}}
                                                        <option value="{{.}}">{{.}}  book(s)</option>
                                                    {{/plan_books}}
                                                </select></br>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="months" >
                                                    <option value="">Select No of Months:</option>
                                                    {{# months}}
                                                        <option value="{{.}}">{{.}}  {{monthTagText}}</option>
                                                    {{/months}}
                                                </select></br>
                                            </div>
                                        </div>

                                        <div class="col-sm-11  col-xs-12" id="border_bottom">
                                            <div class="col-sm-6 col-xs-6">
                                                <h5 style="float: left">Registration Fee:</h5>
                                            </div>
                                            <div class="col-sm-4 col-xs-6" id="reg_fee">
                                                <h5>₹ {{reg_fee}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-11 col-xs-12" id="border_bottom">
                                            <div class="col-sm-6 col-xs-6">
                                                <h5 style="float: left">Security Deposit:</h5>
                                            </div>
                                            <div class="col-sm-4 col-xs-6" id="sec_deposit_fee">
                                                <h5>₹ {{sec_deposit}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-11  col-xs-12" id="border_bottom">
                                            <div class="col-sm-6 col-xs-6">
                                                <h5 style="float: left">Reading Fee:</h5>
                                            </div>
                                            <div class="col-sm-4 col-xs-6" id="reading_fee">
                                                <h5>₹ {{reading_fee}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-11  col-xs-12" id="border_none">
                                            <div class="col-sm-6 col-xs-6">
                                                <h5 style="float: left">Net Amount:</h5>
                                            </div>
                                            <div class="col-sm-4 col-xs-6" id="total_fee">
                                                <h5>₹ {{total}}</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="col-sm-offset-2 col-sm-8" style="margin-left: 100%;">
                                                <a href="#tagHead" class="btn shortcode_button btn_small btn_type1" id="plan_submit">Sign
                                                    up Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- .module_cont -->
                        </div><!-- .row-fluid -->
                    </div>
                </div>
                <div class="row">
                    
                    <div class="span12 module_cont module_text_area" id="formDivMain"></br>
                        <h4 class="module_cont" id="tagHead">Fill Your Personal Details Here</h4>
                        <hr>
                        <form class="form-horizontal" id="signup_form" >

                            <h4 class="dark-grey" style="font-weight: normalfont-family: 'Playfair Display'">Account Information</h4>

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" id="firstnameForm" name="firstname"
                                               required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" id="lastname" name="lastname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label>Address:</label>
                                        <input type="text" class="form-control" id="address" name="address" required>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>Date Of Birth:</label>
                                        <!--<input type="text" class="form-control" id="dob" name="dob">-->
                                        <input class="form-control" type="text" id="dob" readonly required="required" name="dob" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Gender:</label>
                                        <select class="form-control" id="gender" name="gender">
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label>State:</label>
                                        <select class="form-control" id="state" name="state" onchange='selct_district(this.value)'>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>City:</label>
                                        <select class="form-control" id="city" name="city">
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Zip/Post:</label>
                                        <input type="text" class="form-control" id="zip" name="zip" pattern="[0-9]{6}" title="Six digit zip code" required>
                                    </div>
                                </div>
                            </div>
                            <!--/////////////////////END/////////////////////////-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Mobile:</label>
                                        <input type="number" class="form-control" id="mobile" required name="mobile"
                                               maxlength="10" minlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label>Create Password:</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Confirm Password:</label>
                                        <input type="password" class="form-control" id="Cpassword" name="password1"
                                               required oninput="passwordval()">
                                    </div>
                                </div>
                                <span id="error" style="color :red;display: block;margin-right: 10%;float:right"></span>

                            </div>
                            <!--/////////////////////END/////////////////////////-->


                            <h4 class="dark-grey" style="font-weight: normal;font-family: 'Playfair Display'">Coupon Information</h4>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>Apply Referral code, if any:</label>
                                        <input type="text" class="form-control" id="referral code"
                                               placeholder="Member Card No." name="referral_code">
                                    </div>
                                    <div class="col-sm-5">
                                        <label>Apply coupon code, if any:</label>
                                        <input type="text" class="form-control" id="coupon_code"
                                               placeholder="Coupon Code" name="coupon_code">
                                    </div>
                                    <div class="col-sm-2" style="padding-top:22px;">
                                        <button type="button" class="btn shortcode_button btn_small btn_type1" id="coupon_submit">Apply</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label>Apply gift card, if any:</label>
                                        <input type="text" class="form-control" id="gift_card"
                                               placeholder="Gift Card No." name="gift_card">
                                    </div>
                                    <div class="col-sm-5" style="padding-top:22px;">
                                        <input type="text" class="form-control" id="gift_card_pin" placeholder="PIN"
                                               name="gift_card_pin">
                                    </div>
                                    <div class="col-sm-2" style="padding-top:22px;">
                                        <button type="button" class="btn shortcode_button btn_small btn_type1" id="gift_card_submit">Apply
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group">

                                </div>
                            </div>
                            <!--/////////////////////END/////////////////////////-->


                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="checkbox">I accept <a href="/terms-and-condition">Terms & Conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div> <!-- /.form-group -->

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <button type="button"  class="btn shortcode_button btn_medium btn_type1" id="signupBtn" disabled>Register
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissable" style="display: none" id="alertDiv">
                    <a href="#" class="close" onclick="hideAlert()" aria-label="close">&times;</a>
                    <span id="alertMsg"></span>
                </div>
            </div>
        </div><!-- .contentarea -->
    </div>
</div>
<div class="clear"><!-- ClearFix --></div>

<div class="clear"><!-- ClearFix --></div>
<script type="application/javascript">

    $(document).ready(function(){

        var w = window.outerWidth;
        var h = window.outerHeight;
        if(w<750){
            $("#formDivMain").css('margin-left','-2%');
        }
//            var texts=$(".htag_starter").text().toUpperCase();
//    console.log(texts);
//        $(".htag_starter").text(texts);
//        $(".hTag").text($(".hTag").text().toUpperCase());

        $("#books").val("{{book}}");
        $("#months ").val("{{month}}");


        $('#plansHeader').addClass('current-menu-parent');

    });



    function passwordval() {

        if ($("#Cpassword").val() !== $("#password").val()) {
            $("#error").text("Passwords does not match!");
            $("#error").show();
            return false;
        }
        else {
            $("#error").hide();
        }
    }

    var reg_fee;
    var secDeposit;
    $(document).ready(function () {

        $('header nav ul.menu > li #plans').addClass('current-menu-parent');



        $('#checkbox').click(function(){
            $("#signupBtn").attr("disabled", !this.checked);
        });
        var planname = "{{planname}}";
        var planid = "{{planid}}";


        var planid = $('.planid').attr('id');

        $("#dob").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        }).val();
    });

    var planid = $('.planid').attr('id');
    var namePLan = $('.namePlan').attr('id');
    var mon = '';
    var book = '';
    $('#box_'+namePLan).css({

        'display': 'block',
        'background-color': '#fff',
        'box-shadow':' 1px 1px 5px #999',
        'cursor': 'pointer',
        'border-bottom': '4px solid red'

    });
    $('#months').on('change', function () {
        $(".spinner").show();
        mon = this.value;
        book = $("#books").val();

        updateFees();
    });
    $('#books').on('change', function () {
        $("#months").hide();
        $(".spinner").show();
        $("#months").empty();
        book = this.value;
        $.ajax({
            type: "GET",
            url: "/getPlanYears?book=" + book + "&planname=" + "{{planname}}",
            success: function (data_new) {
                $(".spinner").hide();
                $("#months").show();
                console.log(data_new);
                console.log(JSON.parse(data_new));
                data_new = JSON.parse(data_new);
                var  monthTag=data_new['monthTag']

                if (data_new['status'] === "2nd") {
                    $(".planID").attr("id",data_new['planID'])
                    data_new = data_new['data'];

                    if (data_new.length != 0 || data_new != [] || data_new != '[]') {
                        for (var i = 0; i < data_new.length; i++) {

                            $("#months").append('<option value="' + data_new[i] + '">' + data_new[i] + '  '+monthTag+'</option>')

                        }
                        $("#months").prepend("<option value=''>Select months</option>").val('');

                    }
                }
                else {
                    $(".planID").attr("id",data_new['planID'])

                    $("#months").append('<option value="' + data_new['month'] + '">' + data_new['month'] + ' '+monthTag+'</option>')

                    $('#reg_fee h5').html("₹ "+data_new['reg_fee'] );
                    $('#sec_deposit_fee h5').html("₹ "+data_new['sec_deposit']);
                    $('#reading_fee h5').html("₹ "+data_new['reading_fee']);
                    $('#total_fee h5').html("₹ "+data_new['total']);

                }


            },
            error: function (err) {
                $(".spinner").hide();

                console.log(err.responseText)
            }

        });


        //        updateFees();
    });
    function updateFees() {
//        console.log(planid + "assas" + mon + "aasass" + book);
        if (mon != '' && book != '') {
            $.ajax({
                type: "GET",
                url: "/getPlanFees?book=" + book + "&months=" + mon + "&planname=" + "{{planname}}",
                success: function (data_new) {
                    $(".spinner").hide();
                    console.log(data_new);
                    data_new = JSON.parse(data_new);
                    console.log(data_new);
//                        console.log(data_new['reg_fee']);
                    $('#reg_fee h5').html("₹ "+data_new['reg_fee']);
                    $('#sec_deposit_fee h5').html("₹ "+data_new['sec_deposit']);
                    $('#reading_fee h5').html("₹ "+data_new['reading_fee']);
                    $('#total_fee h5').html("₹ "+data_new['total']);
                },
                error: function (err) {
                    $(".spinner").hide();
                    console.log(err.responseText)
                }

            });
        }
    }


    $.ajax({
        type: "GET",
        url: "/getCitiesAndState",
        success: function (data_new) {
            data_new = JSON.parse(data_new);
            console.log(data_new);
            console.log(data_new[0]['city']);
            data_new[0]['city'].forEach(function (arr) {
                $('#city').append("<option value=" + arr['CITYID'] + ">" + arr['CITYNAME'] + "</option>");
            });
            data_new[0]['state'].forEach(function (arr) {
                $('#state').append("<option value=" + arr['STATEID'] + ">" + arr['STATENAME'] + "</option>");
            });
        },

    });

    $('#signupBtn').click(function (e) {

        e.preventDefault();
        if ($("#gender").val() == "") {
            toastr.error("Please specify a gender");
            return false;
        }
        if ($("#firstnameForm").val() == "") {
            toastr.error("Please enter a proper first name");
            return false;
        }
        if ($("#lastname").val() == "") {
            toastr.error("Please enter a proper last name");
            return false;
        }
        if ($("#address").val() == "") {
            toastr.error("Please enter a proper address");
            return false;
        }
        if ($("#dob").val() == "") {
            toastr.error("Please enter a DOB");
            return false;
        }

        if ($("#zip").val().length < 6) {
            toastr.error("Please enter a valid zip code");
            return false;
        }
        if ($("#email").val() == "") {
            toastr.error("Please enter an E-mail address");
            return false;
        }
        if ($("#mobile").val().length < 10) {
            toastr.error("Please enter a proper mobile number");
            return false;
        }
        if ($("#password").val() !== $("#Cpassword").val()) {
            toastr.error("Passwords do not match");
            return false;
        } if ($("#password").val() <6 ) {
            toastr.error("Password is too short");
            return false;
        }if ($("#Cpassword").val() <6 ) {
            toastr.error("Password is too short");
            return false;
        }
        $("#error").hide();
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93821751-1', 'none');
        var username=$("#email").val()
        ga('send', 'event', 'Clicks', 'Signup of user '+username+'', 'First Screen');
        var signupID = parseInt($('.planID').attr('id'));

        var signup_data = $('#signup_form').serialize();
        signup_data += '&reg_fee=' + $('#reg_fee h5').html() + '&reading_fee=' + $('#reading_fee h5').html() + '&security_deposit=' + $('#sec_deposit_fee h5').html() + '&plan_id=' + signupID+'&duration=' + $('#months').val();
        $(".spinner").show();
        $.ajax({
            type: "POST",
            url: "/insertSignup",
            data: {'signup_data': JSON.stringify(signup_data)},
            success: function (data_new) {
                $(".spinner").hide();
                console.log(data_new)
                console.log(JSON.parse(data_new));
                console.log(data_new['success'])
                data_new = JSON.parse(data_new);
                logClick("Sign up click")
                if (data_new['success'] == true) {


//


                    window.location.href = "/PaytmKit/pgRedirect.php"

                }
                else {
                    console.log(data_new['errors'])
                    var errorString=data_new['errors'].join()
                    $("#alertDiv").show();
                    $("#alertMsg").text(errorString);
                    $('html, body').animate({
                        scrollTop: $('#alertDiv').offset().top
                    }, 800);


                    return false;
                }
            },

        });
    });

    $('#coupon_submit').click(function (e) {
        $(".spinner").show();
        var planId={{planid}};
        mon=$("#months").val();
        e.preventDefault();
        var coupon = $('#coupon_code').val();
        $.ajax({
            type: "POST",
            url: "/couponValidate",
            data: {'coupon': coupon, 'planid': planId, 'months': mon},
            success: function (data_new) {
                $(".spinner").hide();
                data_new = JSON.parse(data_new);
                console.log(data_new);
                if (data_new['success'] == true) {
                    toastr.success('Coupon accepted !');
                }
                else {
                    toastr.error(data_new['errors']);


                }


            },

        });
    });

    $('#gift_card_submit').click(function (e) {
        $(".spinner").show();
        e.preventDefault();
        var gift_card = $('#gift_card').val();
        var gift_card_pin = $('#gift_card_pin').val();
        var total_amnt = $('#total_fee h5').html();
        $.ajax({
            type: "POST",
            url: "/giftcardValidate",
            data: {'gift_card': gift_card, 'gift_card_pin': gift_card_pin, 'total_amnt': total_amnt},
            success: function (data_new) {
                $(".spinner").hide()
                data_new = JSON.parse(data_new);
                console.log(data_new);
                if (data_new['success'] == true) {
                    toastr.success(data_new['result']['error']);
                }
                else {

                    toastr.error(data_new['errors']);


                }

            },

        });
    });


    function planFees() {
        var readingFee = $("#months").val();
        $('#reg_fee h5').html(reg_fee);
        $('#sec_deposit_fee h5').html(secDeposit);
        $('#reading_fee h5').html(readingFee);
        $('#total_fee h5').html(parseFloat(reg_fee) + parseFloat(secDeposit) + parseFloat(readingFee));
    }

    function hideAlert()
    {
        $("#alertDiv").hide();
    }
</script>
{{> footer}}